# üìä –ü—Ä–æ–µ–∫—Ç: –†–µ–∫–æ–º–µ–Ω–¥–∞—Ç–µ–ª—å–Ω–∞—è —Å–∏—Å—Ç–µ–º–∞ –¥–ª—è —Å–æ—Ü–∏–∞–ª—å–Ω–æ–π —Å–µ—Ç–∏

## üéØ –ü—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–µ –ª–∞–π–∫–æ–≤ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π
 
**–û–ø–∏—Å–∞–Ω–∏–µ:** –û–±—É—á–µ–Ω–∏–µ CatBoost –º–æ–¥–µ–ª–∏ –¥–ª—è –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è –ª–∞–π–∫–æ–≤ –ø–æ—Å—Ç–æ–≤ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è–º–∏ –Ω–∞ –æ—Å–Ω–æ–≤–µ –∏—Ö –¥–µ–º–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –∏ –∫–æ–Ω—Ç–µ–Ω—Ç–∞ –ø–æ—Å—Ç–æ–≤.

## –ò–º–ø–æ—Ä—Ç –±–∏–±–ª–∏–æ—Ç–µ–∫

In [1]:
import os
import time
import warnings
from io import StringIO
from pathlib import Path

import nltk
import numpy as np
import pandas as pd
import psycopg2
from catboost import CatBoostClassifier
from dotenv import load_dotenv
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from sklearn.decomposition import PCA
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score, precision_score
from sklearn.metrics import average_precision_score, roc_auc_score
from sklearn.metrics import recall_score, f1_score
from sklearn.preprocessing import StandardScaler
from sqlalchemy import create_engine
from sqlalchemy import text

from transformers import AutoTokenizer, DataCollatorWithPadding
from transformers import BertModel  # https://huggingface.co/docs/transformers/model_doc/bert#transformers.BertModel
from transformers import RobertaModel  # https://huggingface.co/docs/transformers/model_doc/roberta#transformers.RobertaModel
from transformers import DistilBertModel  # https://huggingface.co/docs/transformers/model_doc/distilbert#transformers.DistilBertModel

from tqdm import tqdm
import torch
from torch.utils.data import Dataset, DataLoader
from sklearn.cluster import KMeans

warnings.filterwarnings('ignore')

## üì• 2. –ó–∞–≥—Ä—É–∑–∫–∞ –∏ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

### –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞—Ç–∞—Å–µ—Ç–æ–≤:
- **user_data.csv**: –î–µ–º–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–∏–µ –¥–∞–Ω–Ω—ã–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π (163K –∑–∞–ø–∏—Å–µ–π)
- **post_text.csv**: –¢–µ–∫—Å—Ç—ã –ø–æ—Å—Ç–æ–≤ –∏ –∏—Ö —Ç–µ–º—ã (7K –∑–∞–ø–∏—Å–µ–π)  
- **feed_data.csv**: –í–∑–∞–∏–º–æ–¥–µ–π—Å—Ç–≤–∏—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π —Å –ø–æ—Å—Ç–∞–º–∏ (10M –∑–∞–ø–∏—Å–µ–π)

In [2]:
%%time

# –û–ø—Ä–µ–¥–µ–ª—è–µ–º –ø—É—Ç–∏
PROJECT_ROOT = Path().resolve().parent
RAW_DATA_DIR = PROJECT_ROOT / "part3-nlp-enhanced" / "raw_data"
PROCESSED_DATA_DIR = PROJECT_ROOT / "part3-nlp-enhanced" / "processed_data"

user_data = pd.read_csv(RAW_DATA_DIR / "user_data.csv")
post_text = pd.read_csv(RAW_DATA_DIR / "post_text.csv")
feed_data = pd.read_csv(RAW_DATA_DIR / "feed_data_10000000.csv")

CPU times: total: 15.4 s
Wall time: 16.5 s

In [3]:
%%time

display(user_data.info(),
        post_text.info(),
        feed_data.info())

display(user_data,
        post_text,
        feed_data)

<class 'pandas.DataFrame'>
RangeIndex: 163205 entries, 0 to 163204
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    163205 non-null  int64
 1   gender     163205 non-null  int64
 2   age        163205 non-null  int64
 3   country    163205 non-null  str
 4   city       163205 non-null  str
 5   exp_group  163205 non-null  int64
 6   os         163205 non-null  str
 7   source     163205 non-null  str
dtypes: int64(4), str(4)
memory usage: 10.0 MB
<class 'pandas.DataFrame'>
RangeIndex: 7023 entries, 0 to 7022
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   post_id  7023 non-null   int64
 1   text     7023 non-null   str
 2   topic    7023 non-null   str
dtypes: int64(1), str(2)
memory usage: 164.7 KB
<class 'pandas.DataFrame'>
RangeIndex: 10000000 entries, 0 to 9999999
Data columns (total 5 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  str
 1   user_id    int64
 2   post_id    int64
 3   action     str
 4   target     int64
dtypes: int64(3), str(2)
memory usage: 381.5 MB

None

None

None

,user_id,gender,age,country,city,exp_group,os,source
0,200,1,34,Russia,Degtyarsk,3,Android,ads
1,201,0,37,Russia,Abakan,0,Android,ads
2,202,1,17,Russia,Smolensk,4,Android,ads
3,203,0,18,Russia,Moscow,1,iOS,ads
4,204,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads
...,...,...,...,...,...,...,...,...
163200,168548,0,36,Russia,Kaliningrad,4,Android,organic
163201,168549,0,18,Russia,Tula,2,Android,organic
163202,168550,1,41,Russia,Yekaterinburg,4,Android,organic
163203,168551,0,38,Russia,Moscow,3,iOS,organic
163204,168552,1,16,Russia,Ivanteyevka,4,Android,organic

      post_id                                               text     topic
0           1  UK economy facing major risks\n\nThe UK manufa...  business
1           2  Aids and climate top Davos agenda\n\nClimate c...  business
2           3  Asian quake hits European shares\n\nShares in ...  business
3           4  India power shares jump on debut\n\nShares in ...  business
4           5  Lacroix label bought by US firm\n\nLuxury good...  business
...       ...                                                ...       ...
7018     7315  OK, I would not normally watch a Farrelly brot...     movie
7019     7316  I give this movie 2 stars purely because of it...     movie
7020     7317  I cant believe this film was allowed to be mad...     movie
7021     7318  The version I saw of this film was the Blockbu...     movie
7022     7319  Piece of subtle art. Maybe a masterpiece. Doub...     movie

[7023 rows x 3 columns]

                   timestamp  user_id  post_id action  target
0        2021-10-31 15:32:01    94388     3770   view       0
1        2021-11-01 10:12:08    94388      732   view       1
2        2021-11-01 10:13:31    94388      732   like       0
3        2021-11-01 10:13:33    94388      915   view       1
4        2021-11-01 10:14:55    94388      915   like       0
...                      ...      ...      ...    ...     ...
9999995  2021-11-12 06:58:12    54841     6482   view       0
9999996  2021-11-12 07:00:00    54841     2371   view       1
9999997  2021-11-12 07:02:54    54841     2371   like       0
9999998  2021-11-12 07:02:56    54841      982   view       0
9999999  2021-11-12 07:04:42    54841     3886   view       0

[10000000 rows x 5 columns]

CPU times: total: 141 ms
Wall time: 135 ms

## üõ†Ô∏è 3. –ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ —Ç–µ–∫—Å—Ç–æ–≤—ã—Ö –¥–∞–Ω–Ω—ã—Ö

In [4]:
%%time

def get_model(model_name):
    assert model_name in ['bert', 'roberta', 'distilbert']

    checkpoint_names = {
        'bert': 'bert-base-cased',  # https://huggingface.co/bert-base-cased
        'roberta': 'roberta-base',  # https://huggingface.co/roberta-base
        'distilbert': 'distilbert-base-cased'  # https://huggingface.co/distilbert-base-cased
    }

    model_classes = {
        'bert': BertModel,
        'roberta': RobertaModel,
        'distilbert': DistilBertModel
    }

    return AutoTokenizer.from_pretrained(checkpoint_names[model_name]), model_classes[model_name].from_pretrained(checkpoint_names[model_name])


tokenizer, model = get_model('distilbert')

Loading weights:   0%|          | 0/100 [00:00<?, ?it/s]

DistilBertModel LOAD REPORT from: distilbert-base-cased
Key                     | Status     |  |
------------------------+------------+--+-
vocab_transform.weight  | UNEXPECTED |  |
vocab_layer_norm.bias   | UNEXPECTED |  |
vocab_transform.bias    | UNEXPECTED |  |
vocab_layer_norm.weight | UNEXPECTED |  |
vocab_projector.bias    | UNEXPECTED |  |

Notes:
- UNEXPECTED	:can be ignored when loading from different task/architecture; not ok if you expect identical arch.

CPU times: total: 1.02 s
Wall time: 5.51 s

In [5]:
%%time

### –°–¥–µ–ª–∞–µ–º –¥–∞—Ç–∞—Å–µ—Ç –¥–ª—è –ø–æ—Å—Ç–æ–≤

class PostDataset(Dataset):
    def __init__(self, texts, tokenizer):
        super().__init__()
        self.texts = tokenizer(
            texts,
            add_special_tokens=True,
            return_token_type_ids=False,
            return_tensors='pt',
            truncation=True,
            padding=True
        )
        self.tokenizer = tokenizer

    def __getitem__(self, idx):
        return {
            'input_ids': self.texts['input_ids'][idx], 
            'attention_mask': self.texts['attention_mask'][idx]
        }

    def __len__(self):
        return len(self.texts['input_ids'])
        
dataset = PostDataset(post_text['text'].values.tolist(), tokenizer)
data_collator = DataCollatorWithPadding(tokenizer=tokenizer)
loader = DataLoader(dataset, batch_size=32, collate_fn=data_collator, pin_memory=True, shuffle=False)


@torch.inference_mode()
def get_embeddings_labels(model, loader):
    model.eval()
    total_embeddings = []
    for batch in tqdm(loader):
        batch = {key: batch[key].to(device) for key in ['attention_mask', 'input_ids']}
        embeddings = model(**batch)['last_hidden_state'][:, 0, :]
        total_embeddings.append(embeddings.cpu())
    return torch.cat(total_embeddings, dim=0)


device = torch.device('cuda:0' if torch.cuda.is_available() else 'cpu')
print(device)
model = model.to(device)

cpu
CPU times: total: 17.4 s
Wall time: 6.52 s

In [6]:
%%time

embeddings = get_embeddings_labels(model, loader).numpy()
display(embeddings)

# –°–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ —ç–º–±–µ–¥–¥–∏–Ω–≥–æ–≤ –≤ —Ñ–∞–π–ª
np.save('embeddings.npy', embeddings)

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 220/220 [32:43<00:00,  8.92s/it]

array([[ 3.63150924e-01,  4.89376448e-02, -2.64081329e-01, ...,
        -1.41593203e-01,  1.59179904e-02,  9.19513404e-05],
       [ 2.36416295e-01, -1.59501165e-01, -3.27798337e-01, ...,
        -2.89936006e-01,  1.19365111e-01, -1.62374461e-03],
       [ 3.75191450e-01, -1.13943860e-01, -2.40547046e-01, ...,
        -3.38919163e-01,  5.86938709e-02, -2.12656371e-02],
       ...,
       [ 3.40382367e-01,  6.64923042e-02, -1.63184434e-01, ...,
        -8.65626633e-02,  2.03403741e-01,  3.20906676e-02],
       [ 4.32092339e-01,  1.10913627e-02, -1.17306165e-01, ...,
         7.54014403e-02,  1.02739736e-01,  1.52742602e-02],
       [ 3.04277569e-01, -7.62157440e-02, -6.77585676e-02, ...,
        -5.43487109e-02,  2.44383678e-01, -1.41484402e-02]],
      shape=(7023, 768), dtype=float32)

CPU times: total: 4h 8min 55s
Wall time: 32min 43s

In [7]:
%%time

# –ó–∞–≥—Ä—É–∑–∫–∞ —ç–º–±–µ–¥–¥–∏–Ω–≥–æ–≤ –∏–∑ —Ñ–∞–π–ª–∞
embeddings = np.load('embeddings.npy')
display(embeddings)

array([[ 3.63150924e-01,  4.89376448e-02, -2.64081329e-01, ...,
        -1.41593203e-01,  1.59179904e-02,  9.19513404e-05],
       [ 2.36416295e-01, -1.59501165e-01, -3.27798337e-01, ...,
        -2.89936006e-01,  1.19365111e-01, -1.62374461e-03],
       [ 3.75191450e-01, -1.13943860e-01, -2.40547046e-01, ...,
        -3.38919163e-01,  5.86938709e-02, -2.12656371e-02],
       ...,
       [ 3.40382367e-01,  6.64923042e-02, -1.63184434e-01, ...,
        -8.65626633e-02,  2.03403741e-01,  3.20906676e-02],
       [ 4.32092339e-01,  1.10913627e-02, -1.17306165e-01, ...,
         7.54014403e-02,  1.02739736e-01,  1.52742602e-02],
       [ 3.04277569e-01, -7.62157440e-02, -6.77585676e-02, ...,
        -5.43487109e-02,  2.44383678e-01, -1.41484402e-02]],
      shape=(7023, 768), dtype=float32)

CPU times: total: 172 ms
Wall time: 50.3 ms

In [8]:
%%time

### –ü—ã—Ç–∞–µ–º—Å—è –∫–ª–∞—Å—Ç–µ—Ä–∏–∑–æ–≤–∞—Ç—å —Ç–µ–∫—Å—Ç—ã
centered = embeddings - embeddings.mean()
pca = PCA(n_components=50)
pca_decomp = pca.fit_transform(centered)

n_clusters = 15
kmeans = KMeans(n_clusters=n_clusters, random_state=0).fit(pca_decomp)
post_text['text_cluster'] = kmeans.labels_
dists_columns = [f'distance_to_cluster_{i}' for i in range(n_clusters)]
dists_df = pd.DataFrame(
    data=kmeans.transform(pca_decomp),
    columns=dists_columns
)

CPU times: total: 2.44 s
Wall time: 4.34 s

In [9]:
%%time

post_text = pd.concat((post_text, dists_df), axis=1)
post_text.drop(["text"], axis=1, inplace=True)
post_text = pd.get_dummies(post_text, columns=['topic'], drop_first=True)
display(post_text.info())
display(post_text)

<class 'pandas.DataFrame'>
RangeIndex: 7023 entries, 0 to 7022
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   post_id                 7023 non-null   int64
 1   text_cluster            7023 non-null   int32
 2   distance_to_cluster_0   7023 non-null   float32
 3   distance_to_cluster_1   7023 non-null   float32
 4   distance_to_cluster_2   7023 non-null   float32
 5   distance_to_cluster_3   7023 non-null   float32
 6   distance_to_cluster_4   7023 non-null   float32
 7   distance_to_cluster_5   7023 non-null   float32
 8   distance_to_cluster_6   7023 non-null   float32
 9   distance_to_cluster_7   7023 non-null   float32
 10  distance_to_cluster_8   7023 non-null   float32
 11  distance_to_cluster_9   7023 non-null   float32
 12  distance_to_cluster_10  7023 non-null   float32
 13  distance_to_cluster_11  7023 non-null   float32
 14  distance_to_cluster_12  7023 non-null   float32
 15  distance_to_cluster_13  7023 non-null   float32
 16  distance_to_cluster_14  7023 non-null   float32
 17  topic_covid             7023 non-null   bool
 18  topic_entertainment     7023 non-null   bool
 19  topic_movie             7023 non-null   bool
 20  topic_politics          7023 non-null   bool
 21  topic_sport             7023 non-null   bool
 22  topic_tech              7023 non-null   bool
dtypes: bool(6), float32(15), int32(1), int64(1)
memory usage: 535.1 KB

None

,post_id,text_cluster,distance_to_cluster_0,distance_to_cluster_1,distance_to_cluster_2,distance_to_cluster_3,distance_to_cluster_4,distance_to_cluster_5,distance_to_cluster_6,distance_to_cluster_7,...,distance_to_cluster_11,distance_to_cluster_12,distance_to_cluster_13,distance_to_cluster_14,topic_covid,topic_entertainment,topic_movie,topic_politics,topic_sport,topic_tech
0,1,9,3.275572,3.443513,3.469100,2.986742,1.948664,3.592508,3.383040,3.612148,...,3.400342,2.830196,2.372013,3.463925,False,False,False,False,False,False
1,2,9,3.192135,3.133693,3.244608,2.846341,2.196497,3.373540,3.331997,3.351419,...,3.336037,2.545622,2.334076,3.385151,False,False,False,False,False,False
2,3,9,2.974873,3.141050,3.392259,3.072776,1.817808,3.338186,3.459793,3.359396,...,3.375446,2.862795,2.404512,3.426456,False,False,False,False,False,False
3,4,4,3.202791,3.771742,4.060500,3.302979,2.426471,3.235161,3.748735,3.805814,...,3.738622,3.358398,2.818986,3.645685,False,False,False,False,False,False
4,5,4,2.978371,2.805885,3.242360,2.653685,1.472535,3.043557,2.781908,3.042039,...,2.817385,2.136082,2.047634,3.083163,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,7315,11,3.082503,1.834552,3.396312,2.826148,3.000543,2.006451,1.805223,2.940562,...,1.308614,2.298392,2.735910,3.154152,False,False,True,False,False,False
7019,7316,11,2.887662,1.800025,3.383409,2.509571,2.963336,1.797055,1.512296,2.583630,...,0.929435,2.204309,2.440939,2.938148,False,False,True,False,False,False
7020,7317,11,2.693022,1.996829,3.464333,2.553049,3.183830,2.234073,2.017127,2.375831,...,1.542910,2.417808,2.809133,2.899021,False,False,True,False,False,False
7021,7318,6,3.359133,1.617927,3.410661,3.112874,3.194130,1.661280,1.049353,3.296159,...,1.469077,2.262688,2.982443,3.463953,False,False,True,False,False,False
7022,7319,1,3.193043,1.805112,3.604249,2.987860,3.306223,2.016449,1.990794,3.026612,...,2.166254,2.628270,2.896080,3.330238,False,False,True,False,False,False

CPU times: total: 250 ms
Wall time: 51.2 ms

## üîß 4. –°–æ–∑–¥–∞–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤

### –î–ª—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π:
- –ù–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏—è –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –ø–æ –≥–æ—Ä–æ–¥–∞–º/—Å—Ç—Ä–∞–Ω–∞–º
- One-Hot Encoding –¥–ª—è –≤–æ–∑—Ä–∞—Å—Ç–Ω—ã—Ö –≥—Ä—É–ø–ø –∏ —ç–∫—Å–ø–µ—Ä–∏–º–µ–Ω—Ç–∞–ª—å–Ω—ã—Ö –≥—Ä—É–ø–ø
- –ö–æ–¥–∏—Ä–æ–≤–∞–Ω–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –ø–µ—Ä–µ–º–µ–Ω–Ω—ã—Ö (OS, source)

### –î–ª—è –≤—Ä–µ–º–µ–Ω–Ω—ã—Ö –º–µ—Ç–æ–∫:
- –ò–∑–≤–ª–µ—á–µ–Ω–∏–µ –º–µ—Å—è—Ü–∞ –∏ –¥–Ω—è
- –ù–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏—è –≤—Ä–µ–º–µ–Ω–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤

In [10]:
%%time

# –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –≤ –∫–∞–∂–¥–æ–º –≥–æ—Ä–æ–¥–µ –∏ —Å—Ç—Ä–∞–Ω–µ
user_data['city_count'] = user_data.groupby('city')['user_id'].transform('count')
user_data['country_count'] = user_data.groupby('country')['user_id'].transform('count')

# –ö–æ–¥–∏—Ä—É–µ–º 'os' –∏ 'source' –∫–∞–∫ 0 –∏ 1
user_data['os'] = user_data['os'].map({'Android': 0, 'iOS': 1})
user_data['source'] = user_data['source'].map({'ads': 0, 'organic': 1})

# –†–∞–∑–±–∏–≤–∞–µ–º 'age' –Ω–∞ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –∏ –ø—Ä–∏–º–µ–Ω—è–µ–º OHE –¥–ª—è 'age_group'
age_bins = [0, 18, 20, 22, 25, 30, 35, 40, float('inf')]
age_labels = ['<18', '18_20', '20_22', '22_25', '25_30', '30_35', '35_40', 'gt_40']
user_data['age_group'] = pd.cut(user_data['age'], bins=age_bins, labels=age_labels, right=False)
user_data = pd.get_dummies(user_data, columns=['age_group'], drop_first=True)

# –ü—Ä–∏–º–µ–Ω—è–µ–º OHE –¥–ª—è 'exp_group'
user_data = pd.get_dummies(user_data, columns=['exp_group'], drop_first=True)
user_data.drop(['age', 'city', 'country'], axis=1, inplace=True)

# –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ bool –≤ int64 –¥–ª—è —Ç–∞–±–ª–∏—Ü—ã user_data
bool_columns_user = [
    'gender', 'os', 'source',
    'age_group_18_20', 'age_group_20_22', 'age_group_22_25',
    'age_group_25_30', 'age_group_30_35', 'age_group_35_40',
    'age_group_gt_40', 
    'exp_group_1', 'exp_group_2', 'exp_group_3', 'exp_group_4',
]

user_data[bool_columns_user] = user_data[bool_columns_user].astype('int64')

# –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ bool –≤ int64 –¥–ª—è —Ç–∞–±–ª–∏—Ü—ã post_text
bool_columns_post = [
    'topic_covid', 'topic_entertainment', 'topic_movie',
    'topic_politics', 'topic_sport', 'topic_tech'
]

post_text[bool_columns_post] = post_text[bool_columns_post].astype('int64')

feed_data['timestamp'] = pd.to_datetime(feed_data['timestamp'])
feed_data.sort_values(by='timestamp', ascending=True, inplace=True)
feed_data['month'] = feed_data['timestamp'].dt.month / 12
feed_data['day'] = feed_data['timestamp'].dt.day / 31
feed_data.drop(['timestamp', 'action'], axis=1, inplace=True)
feed_data['target'] = feed_data['target'].astype(int)

user_data[['city_count', 'country_count']] = StandardScaler().fit_transform(user_data[['city_count', 'country_count']])
user_data = user_data.rename(columns={"city_count": "city_countscaled",
                                      "country_count": "country_countscaled"})

CPU times: total: 11.4 s
Wall time: 11.5 s

In [11]:
%%time

display(user_data.info(),
        post_text.info(),
        feed_data.info())

display(user_data,
        post_text,
        feed_data)

<class 'pandas.DataFrame'>
RangeIndex: 163205 entries, 0 to 163204
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   user_id              163205 non-null  int64
 1   gender               163205 non-null  int64
 2   os                   163205 non-null  int64
 3   source               163205 non-null  int64
 4   city_countscaled     163205 non-null  float64
 5   country_countscaled  163205 non-null  float64
 6   age_group_18_20      163205 non-null  int64
 7   age_group_20_22      163205 non-null  int64
 8   age_group_22_25      163205 non-null  int64
 9   age_group_25_30      163205 non-null  int64
 10  age_group_30_35      163205 non-null  int64
 11  age_group_35_40      163205 non-null  int64
 12  age_group_gt_40      163205 non-null  int64
 13  exp_group_1          163205 non-null  int64
 14  exp_group_2          163205 non-null  int64
 15  exp_group_3          163205 non-null  int64
 16  exp_group_4          163205 non-null  int64
dtypes: float64(2), int64(15)
memory usage: 21.2 MB
<class 'pandas.DataFrame'>
RangeIndex: 7023 entries, 0 to 7022
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   post_id                 7023 non-null   int64
 1   text_cluster            7023 non-null   int32
 2   distance_to_cluster_0   7023 non-null   float32
 3   distance_to_cluster_1   7023 non-null   float32
 4   distance_to_cluster_2   7023 non-null   float32
 5   distance_to_cluster_3   7023 non-null   float32
 6   distance_to_cluster_4   7023 non-null   float32
 7   distance_to_cluster_5   7023 non-null   float32
 8   distance_to_cluster_6   7023 non-null   float32
 9   distance_to_cluster_7   7023 non-null   float32
 10  distance_to_cluster_8   7023 non-null   float32
 11  distance_to_cluster_9   7023 non-null   float32
 12  distance_to_cluster_10  7023 non-null   float32
 13  distance_to_cluster_11  7023 non-null   float32
 14  distance_to_cluster_12  7023 non-null   float32
 15  distance_to_cluster_13  7023 non-null   float32
 16  distance_to_cluster_14  7023 non-null   float32
 17  topic_covid             7023 non-null   int64
 18  topic_entertainment     7023 non-null   int64
 19  topic_movie             7023 non-null   int64
 20  topic_politics          7023 non-null   int64
 21  topic_sport             7023 non-null   int64
 22  topic_tech              7023 non-null   int64
dtypes: float32(15), int32(1), int64(7)
memory usage: 823.1 KB
<class 'pandas.DataFrame'>
Index: 10000000 entries, 2304354 to 2682523
Data columns (total 5 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  int64
 1   post_id  int64
 2   target   int64
 3   month    float64
 4   day      float64
dtypes: float64(2), int64(3)
memory usage: 457.8 MB

None

None

None

,user_id,gender,os,source,city_countscaled,country_countscaled,age_group_18_20,age_group_20_22,age_group_22_25,age_group_25_30,age_group_30_35,age_group_35_40,age_group_gt_40,exp_group_1,exp_group_2,exp_group_3,exp_group_4
0,200,1,0,0,-0.492196,0.375419,0,0,0,0,1,0,0,0,0,1,0
1,201,0,0,0,-0.461974,0.375419,0,0,0,0,0,1,0,0,0,0,0
2,202,1,0,0,-0.435580,0.375419,0,0,0,0,0,0,0,0,0,0,1
3,203,0,1,0,2.496407,0.375419,1,0,0,0,0,0,0,1,0,0,0
4,204,0,0,0,-0.480572,0.375419,0,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163200,168548,0,0,1,-0.417118,0.375419,0,0,0,0,0,1,0,0,0,0,1
163201,168549,0,0,1,-0.409050,0.375419,1,0,0,0,0,0,0,0,1,0,0
163202,168550,1,0,1,-0.231818,0.375419,0,0,0,0,0,0,1,0,0,0,1
163203,168551,0,1,1,2.496407,0.375419,0,0,0,0,0,1,0,0,0,1,0
163204,168552,1,0,1,-0.482213,0.375419,0,0,0,0,0,0,0,0,0,0,1

,post_id,text_cluster,distance_to_cluster_0,distance_to_cluster_1,distance_to_cluster_2,distance_to_cluster_3,distance_to_cluster_4,distance_to_cluster_5,distance_to_cluster_6,distance_to_cluster_7,...,distance_to_cluster_11,distance_to_cluster_12,distance_to_cluster_13,distance_to_cluster_14,topic_covid,topic_entertainment,topic_movie,topic_politics,topic_sport,topic_tech
0,1,9,3.275572,3.443513,3.469100,2.986742,1.948664,3.592508,3.383040,3.612148,...,3.400342,2.830196,2.372013,3.463925,0,0,0,0,0,0
1,2,9,3.192135,3.133693,3.244608,2.846341,2.196497,3.373540,3.331997,3.351419,...,3.336037,2.545622,2.334076,3.385151,0,0,0,0,0,0
2,3,9,2.974873,3.141050,3.392259,3.072776,1.817808,3.338186,3.459793,3.359396,...,3.375446,2.862795,2.404512,3.426456,0,0,0,0,0,0
3,4,4,3.202791,3.771742,4.060500,3.302979,2.426471,3.235161,3.748735,3.805814,...,3.738622,3.358398,2.818986,3.645685,0,0,0,0,0,0
4,5,4,2.978371,2.805885,3.242360,2.653685,1.472535,3.043557,2.781908,3.042039,...,2.817385,2.136082,2.047634,3.083163,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,7315,11,3.082503,1.834552,3.396312,2.826148,3.000543,2.006451,1.805223,2.940562,...,1.308614,2.298392,2.735910,3.154152,0,0,1,0,0,0
7019,7316,11,2.887662,1.800025,3.383409,2.509571,2.963336,1.797055,1.512296,2.583630,...,0.929435,2.204309,2.440939,2.938148,0,0,1,0,0,0
7020,7317,11,2.693022,1.996829,3.464333,2.553049,3.183830,2.234073,2.017127,2.375831,...,1.542910,2.417808,2.809133,2.899021,0,0,1,0,0,0
7021,7318,6,3.359133,1.617927,3.410661,3.112874,3.194130,1.661280,1.049353,3.296159,...,1.469077,2.262688,2.982443,3.463953,0,0,1,0,0,0
7022,7319,1,3.193043,1.805112,3.604249,2.987860,3.306223,2.016449,1.990794,3.026612,...,2.166254,2.628270,2.896080,3.330238,0,0,1,0,0,0

         user_id  post_id  target     month       day
2304354    66609     3270       1  0.833333  0.032258
1999320    15471     2810       0  0.833333  0.032258
784528     80305      961       0  0.833333  0.032258
2304355    66609     3270       0  0.833333  0.032258
2304356    66609     4320       0  0.833333  0.032258
...          ...      ...     ...       ...       ...
6426675    45075     3027       0  1.000000  0.935484
3019649   116395     5771       0  1.000000  0.935484
4359850    53559      587       0  1.000000  0.935484
7435524   109595     1702       0  1.000000  0.935484
2682523    87774     5298       0  1.000000  0.935484

[10000000 rows x 5 columns]

CPU times: total: 78.1 ms
Wall time: 72.7 ms

In [12]:
%%time

user_data.to_csv(PROCESSED_DATA_DIR / "processed_user_data.csv", index=False)
post_text.to_csv(PROCESSED_DATA_DIR / "processed_post_text_dl.csv", index=False)

CPU times: total: 1.48 s
Wall time: 1.72 s

## ü§ñ 5. –û–±—É—á–µ–Ω–∏–µ CatBoost –º–æ–¥–µ–ª–∏

### –ü–∞—Ä–∞–º–µ—Ç—Ä—ã –º–æ–¥–µ–ª–∏:
- –ê–ª–≥–æ—Ä–∏—Ç–º: CatBoostClassifier
- –ò—Ç–µ—Ä–∞—Ü–∏–∏: 500
- Learning rate: 0.07
- –ì–ª—É–±–∏–Ω–∞: 6
- Cat features: 20 –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤
- –ú–µ—Ç—Ä–∏–∫–∞: AUC
- –ë–∞–ª–∞–Ω—Å–∏—Ä–æ–≤–∫–∞ –∫–ª–∞—Å—Å–æ–≤: –≤–∫–ª—é—á–µ–Ω–∞

In [13]:
%%time

user_post_feed = feed_data.merge(user_data, on="user_id", how="left")
user_post_feed = user_post_feed.merge(post_text, on="post_id", how="left")

CPU times: total: 5.59 s
Wall time: 6.26 s

In [14]:
%%time

display(user_post_feed.info())
display(user_post_feed)

<class 'pandas.DataFrame'>
RangeIndex: 10000000 entries, 0 to 9999999
Data columns (total 43 columns):
 #   Column                  Dtype
---  ------                  -----
 0   user_id                 int64
 1   post_id                 int64
 2   target                  int64
 3   month                   float64
 4   day                     float64
 5   gender                  int64
 6   os                      int64
 7   source                  int64
 8   city_countscaled        float64
 9   country_countscaled     float64
 10  age_group_18_20         int64
 11  age_group_20_22         int64
 12  age_group_22_25         int64
 13  age_group_25_30         int64
 14  age_group_30_35         int64
 15  age_group_35_40         int64
 16  age_group_gt_40         int64
 17  exp_group_1             int64
 18  exp_group_2             int64
 19  exp_group_3             int64
 20  exp_group_4             int64
 21  text_cluster            int32
 22  distance_to_cluster_0   float32
 23  distance_to_cluster_1   float32
 24  distance_to_cluster_2   float32
 25  distance_to_cluster_3   float32
 26  distance_to_cluster_4   float32
 27  distance_to_cluster_5   float32
 28  distance_to_cluster_6   float32
 29  distance_to_cluster_7   float32
 30  distance_to_cluster_8   float32
 31  distance_to_cluster_9   float32
 32  distance_to_cluster_10  float32
 33  distance_to_cluster_11  float32
 34  distance_to_cluster_12  float32
 35  distance_to_cluster_13  float32
 36  distance_to_cluster_14  float32
 37  topic_covid             int64
 38  topic_entertainment     int64
 39  topic_movie             int64
 40  topic_politics          int64
 41  topic_sport             int64
 42  topic_tech              int64
dtypes: float32(15), float64(4), int32(1), int64(23)
memory usage: 2.6 GB

None

,user_id,post_id,target,month,day,gender,os,source,city_countscaled,country_countscaled,...,distance_to_cluster_11,distance_to_cluster_12,distance_to_cluster_13,distance_to_cluster_14,topic_covid,topic_entertainment,topic_movie,topic_politics,topic_sport,topic_tech
0,66609,3270,1,0.833333,0.032258,1,0,0,-0.485358,0.375419,...,2.865479,2.992789,2.837126,2.394862,1,0,0,0,0,0
1,15471,2810,0,0.833333,0.032258,1,1,0,-0.444743,0.375419,...,2.599644,2.617199,2.583309,2.257900,1,0,0,0,0,0
2,80305,961,0,0.833333,0.032258,0,1,0,-0.297596,0.375419,...,2.279086,2.608468,2.389139,3.322142,0,0,0,1,0,0
3,66609,3270,0,0.833333,0.032258,1,0,0,-0.485358,0.375419,...,2.865479,2.992789,2.837126,2.394862,1,0,0,0,0,0
4,66609,4320,0,0.833333,0.032258,1,0,0,-0.485358,0.375419,...,1.785501,2.075130,2.540845,2.966598,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9999995,45075,3027,0,1.000000,0.935484,1,1,0,-0.470315,-2.695570,...,2.602210,2.910203,2.740366,2.206932,1,0,0,0,0,0
9999996,116395,5771,0,1.000000,0.935484,1,0,1,-0.294451,0.375419,...,1.319838,2.392977,2.507815,3.223293,0,0,1,0,0,0
9999997,53559,587,0,1.000000,0.935484,0,0,0,-0.468401,-2.732798,...,2.895838,2.054137,2.665680,3.268947,0,1,0,0,0,0
9999998,109595,1702,0,1.000000,0.935484,1,0,1,-0.314007,0.375419,...,3.216987,2.715987,3.126413,3.884958,0,0,0,0,1,0
9999999,87774,5298,0,1.000000,0.935484,1,0,0,-0.450760,-2.732644,...,1.821111,2.368096,2.991166,3.456515,0,0,1,0,0,0

CPU times: total: 31.2 ms
Wall time: 35.1 ms

In [15]:
%%time

X = user_post_feed.drop(['target'], axis=1)
y = user_post_feed['target']

cat_features = ['gender',
                'os',
                'source',
                'age_group_18_20',
                'age_group_20_22',
                'age_group_22_25',
                'age_group_25_30',
                'age_group_30_35',
                'age_group_35_40',
                'age_group_gt_40',
                'exp_group_1',
                'exp_group_2',
                'exp_group_3',
                'exp_group_4',
                'text_cluster',
                'topic_covid',
                'topic_entertainment',
                'topic_movie',
                'topic_politics',
                'topic_sport',
                'topic_tech']

CPU times: total: 0 ns
Wall time: 958 Œºs

In [16]:
%%time

name = "CatBoostClassifier"

model = CatBoostClassifier(
    iterations=500,
    learning_rate=0.07,
    depth=6,
    cat_features=cat_features,
    eval_metric='AUC',
    auto_class_weights='Balanced',
    random_seed=42
)

CPU times: total: 62.5 ms
Wall time: 78 ms

In [17]:
%%time

X_train, y_train = X.iloc[:8500000], y.iloc[:8500000]
X_test, y_test = X.iloc[8500000:], y.iloc[8500000:]

CPU times: total: 0 ns
Wall time: 957 Œºs

In [18]:
%%time

start_time = time.time()
model.fit(X_train, y_train)
end_time = time.time()

# –í—Ä–µ–º—è –æ–±—É—á–µ–Ω–∏—è
print(round(end_time - start_time, 2))

0:	total: 4.25s	remaining: 35m 21s
1:	total: 8.65s	remaining: 35m 53s
2:	total: 11.6s	remaining: 31m 56s
3:	total: 14.2s	remaining: 29m 21s
4:	total: 16.3s	remaining: 26m 56s
5:	total: 20.8s	remaining: 28m 35s
6:	total: 23.8s	remaining: 27m 53s
7:	total: 25.9s	remaining: 26m 32s
8:	total: 28s	remaining: 25m 29s
9:	total: 30.7s	remaining: 25m 4s
10:	total: 33.6s	remaining: 24m 52s
11:	total: 35.8s	remaining: 24m 15s
12:	total: 38.4s	remaining: 23m 57s
13:	total: 41.2s	remaining: 23m 50s
14:	total: 44.8s	remaining: 24m 7s
15:	total: 48.3s	remaining: 24m 20s
16:	total: 52.3s	remaining: 24m 46s
17:	total: 55.4s	remaining: 24m 42s
18:	total: 59.4s	remaining: 25m 4s
19:	total: 1m 3s	remaining: 25m 18s
20:	total: 1m 6s	remaining: 25m 17s
21:	total: 1m 10s	remaining: 25m 35s
22:	total: 1m 14s	remaining: 25m 37s
23:	total: 1m 18s	remaining: 25m 54s
24:	total: 1m 22s	remaining: 26m 4s
25:	total: 1m 26s	remaining: 26m 19s
26:	total: 1m 30s	remaining: 26m 29s
27:	total: 1m 34s	remaining: 26m 34s
28:	total: 1m 38s	remaining: 26m 40s
29:	total: 1m 42s	remaining: 26m 41s
30:	total: 1m 46s	remaining: 26m 46s
31:	total: 1m 49s	remaining: 26m 42s
32:	total: 1m 52s	remaining: 26m 38s
33:	total: 1m 56s	remaining: 26m 42s
34:	total: 2m	remaining: 26m 37s
35:	total: 2m 3s	remaining: 26m 31s
36:	total: 2m 7s	remaining: 26m 32s
37:	total: 2m 10s	remaining: 26m 23s
38:	total: 2m 13s	remaining: 26m 21s
39:	total: 2m 16s	remaining: 26m 15s
40:	total: 2m 19s	remaining: 25m 59s
41:	total: 2m 22s	remaining: 25m 52s
42:	total: 2m 25s	remaining: 25m 51s
43:	total: 2m 28s	remaining: 25m 36s
44:	total: 2m 31s	remaining: 25m 35s
45:	total: 2m 35s	remaining: 25m 32s
46:	total: 2m 39s	remaining: 25m 32s
47:	total: 2m 41s	remaining: 25m 23s
48:	total: 2m 45s	remaining: 25m 20s
49:	total: 2m 49s	remaining: 25m 25s
50:	total: 2m 53s	remaining: 25m 23s
51:	total: 2m 57s	remaining: 25m 26s
52:	total: 3m	remaining: 25m 23s
53:	total: 3m 3s	remaining: 25m 18s
54:	total: 3m 7s	remaining: 25m 17s
55:	total: 3m 10s	remaining: 25m 10s
56:	total: 3m 14s	remaining: 25m 12s
57:	total: 3m 18s	remaining: 25m 10s
58:	total: 3m 21s	remaining: 25m 6s
59:	total: 3m 25s	remaining: 25m 4s
60:	total: 3m 28s	remaining: 25m 3s
61:	total: 3m 32s	remaining: 25m 1s
62:	total: 3m 36s	remaining: 25m
63:	total: 3m 40s	remaining: 24m 59s
64:	total: 3m 44s	remaining: 25m
65:	total: 3m 48s	remaining: 24m 59s
66:	total: 3m 52s	remaining: 24m 59s
67:	total: 3m 56s	remaining: 25m 1s
68:	total: 3m 59s	remaining: 24m 56s
69:	total: 4m 3s	remaining: 24m 56s
70:	total: 4m 7s	remaining: 24m 56s
71:	total: 4m 11s	remaining: 24m 56s
72:	total: 4m 14s	remaining: 24m 49s
73:	total: 4m 17s	remaining: 24m 43s
74:	total: 4m 20s	remaining: 24m 37s
75:	total: 4m 25s	remaining: 24m 38s
76:	total: 4m 28s	remaining: 24m 33s
77:	total: 4m 31s	remaining: 24m 31s
78:	total: 4m 35s	remaining: 24m 28s
79:	total: 4m 38s	remaining: 24m 23s
80:	total: 4m 42s	remaining: 24m 20s
81:	total: 4m 46s	remaining: 24m 18s
82:	total: 4m 50s	remaining: 24m 18s
83:	total: 4m 54s	remaining: 24m 17s
84:	total: 4m 58s	remaining: 24m 15s
85:	total: 5m 1s	remaining: 24m 12s
86:	total: 5m 5s	remaining: 24m 10s
87:	total: 5m 9s	remaining: 24m 7s
88:	total: 5m 13s	remaining: 24m 5s
89:	total: 5m 16s	remaining: 24m 3s
90:	total: 5m 20s	remaining: 24m
91:	total: 5m 24s	remaining: 23m 59s
92:	total: 5m 27s	remaining: 23m 54s
93:	total: 5m 31s	remaining: 23m 50s
94:	total: 5m 34s	remaining: 23m 46s
95:	total: 5m 38s	remaining: 23m 45s
96:	total: 5m 42s	remaining: 23m 43s
97:	total: 5m 45s	remaining: 23m 39s
98:	total: 5m 50s	remaining: 23m 38s
99:	total: 5m 54s	remaining: 23m 37s
100:	total: 5m 57s	remaining: 23m 33s
101:	total: 6m 1s	remaining: 23m 31s
102:	total: 6m 5s	remaining: 23m 27s
103:	total: 6m 9s	remaining: 23m 25s
104:	total: 6m 12s	remaining: 23m 22s
105:	total: 6m 16s	remaining: 23m 19s
106:	total: 6m 20s	remaining: 23m 17s
107:	total: 6m 24s	remaining: 23m 15s
108:	total: 6m 28s	remaining: 23m 12s
109:	total: 6m 31s	remaining: 23m 7s
110:	total: 6m 35s	remaining: 23m 5s
111:	total: 6m 39s	remaining: 23m 3s
112:	total: 6m 43s	remaining: 23m 1s
113:	total: 6m 47s	remaining: 22m 59s
114:	total: 6m 51s	remaining: 22m 57s
115:	total: 6m 55s	remaining: 22m 54s
116:	total: 6m 59s	remaining: 22m 52s
117:	total: 7m 2s	remaining: 22m 49s
118:	total: 7m 6s	remaining: 22m 46s
119:	total: 7m 10s	remaining: 22m 43s
120:	total: 7m 14s	remaining: 22m 42s
121:	total: 7m 18s	remaining: 22m 38s
122:	total: 7m 21s	remaining: 22m 34s
123:	total: 7m 25s	remaining: 22m 31s
124:	total: 7m 29s	remaining: 22m 27s
125:	total: 7m 32s	remaining: 22m 24s
126:	total: 7m 36s	remaining: 22m 20s
127:	total: 7m 40s	remaining: 22m 18s
128:	total: 7m 44s	remaining: 22m 15s
129:	total: 7m 47s	remaining: 22m 9s
130:	total: 7m 50s	remaining: 22m 5s
131:	total: 7m 53s	remaining: 22m
132:	total: 7m 57s	remaining: 21m 57s
133:	total: 8m 1s	remaining: 21m 53s
134:	total: 8m 4s	remaining: 21m 50s
135:	total: 8m 7s	remaining: 21m 44s
136:	total: 8m 11s	remaining: 21m 41s
137:	total: 8m 14s	remaining: 21m 38s
138:	total: 8m 17s	remaining: 21m 33s
139:	total: 8m 21s	remaining: 21m 30s
140:	total: 8m 25s	remaining: 21m 27s
141:	total: 8m 29s	remaining: 21m 23s
142:	total: 8m 33s	remaining: 21m 21s
143:	total: 8m 36s	remaining: 21m 17s
144:	total: 8m 39s	remaining: 21m 12s
145:	total: 8m 42s	remaining: 21m 7s
146:	total: 8m 45s	remaining: 21m 2s
147:	total: 8m 49s	remaining: 20m 59s
148:	total: 8m 52s	remaining: 20m 54s
149:	total: 8m 56s	remaining: 20m 51s
150:	total: 8m 59s	remaining: 20m 46s
151:	total: 9m 3s	remaining: 20m 43s
152:	total: 9m 6s	remaining: 20m 39s
153:	total: 9m 9s	remaining: 20m 35s
154:	total: 9m 14s	remaining: 20m 33s
155:	total: 9m 17s	remaining: 20m 30s
156:	total: 9m 21s	remaining: 20m 26s
157:	total: 9m 25s	remaining: 20m 23s
158:	total: 9m 28s	remaining: 20m 19s
159:	total: 9m 32s	remaining: 20m 16s
160:	total: 9m 35s	remaining: 20m 11s
161:	total: 9m 38s	remaining: 20m 7s
162:	total: 9m 42s	remaining: 20m 4s
163:	total: 9m 46s	remaining: 20m 2s
164:	total: 9m 50s	remaining: 19m 58s
165:	total: 9m 53s	remaining: 19m 55s
166:	total: 9m 57s	remaining: 19m 51s
167:	total: 10m 1s	remaining: 19m 47s
168:	total: 10m 4s	remaining: 19m 44s
169:	total: 10m 8s	remaining: 19m 42s
170:	total: 10m 12s	remaining: 19m 38s
171:	total: 10m 16s	remaining: 19m 34s
172:	total: 10m 19s	remaining: 19m 31s
173:	total: 10m 23s	remaining: 19m 28s
174:	total: 10m 27s	remaining: 19m 24s
175:	total: 10m 31s	remaining: 19m 21s
176:	total: 10m 34s	remaining: 19m 17s
177:	total: 10m 38s	remaining: 19m 14s
178:	total: 10m 42s	remaining: 19m 11s
179:	total: 10m 46s	remaining: 19m 8s
180:	total: 10m 50s	remaining: 19m 5s
181:	total: 10m 53s	remaining: 19m 2s
182:	total: 10m 57s	remaining: 18m 59s
183:	total: 11m 1s	remaining: 18m 55s
184:	total: 11m 4s	remaining: 18m 51s
185:	total: 11m 7s	remaining: 18m 47s
186:	total: 11m 11s	remaining: 18m 43s
187:	total: 11m 15s	remaining: 18m 40s
188:	total: 11m 18s	remaining: 18m 36s
189:	total: 11m 22s	remaining: 18m 32s
190:	total: 11m 25s	remaining: 18m 29s
191:	total: 11m 29s	remaining: 18m 26s
192:	total: 11m 32s	remaining: 18m 21s
193:	total: 11m 36s	remaining: 18m 18s
194:	total: 11m 40s	remaining: 18m 15s
195:	total: 11m 44s	remaining: 18m 11s
196:	total: 11m 47s	remaining: 18m 8s
197:	total: 11m 51s	remaining: 18m 5s
198:	total: 11m 55s	remaining: 18m 1s
199:	total: 11m 59s	remaining: 17m 58s
200:	total: 12m 2s	remaining: 17m 55s
201:	total: 12m 6s	remaining: 17m 52s
202:	total: 12m 10s	remaining: 17m 48s
203:	total: 12m 14s	remaining: 17m 45s
204:	total: 12m 18s	remaining: 17m 42s
205:	total: 12m 22s	remaining: 17m 39s
206:	total: 12m 26s	remaining: 17m 36s
207:	total: 12m 29s	remaining: 17m 32s
208:	total: 12m 33s	remaining: 17m 29s
209:	total: 12m 37s	remaining: 17m 25s
210:	total: 12m 40s	remaining: 17m 22s
211:	total: 12m 44s	remaining: 17m 18s
212:	total: 12m 47s	remaining: 17m 14s
213:	total: 12m 51s	remaining: 17m 11s
214:	total: 12m 55s	remaining: 17m 8s
215:	total: 12m 59s	remaining: 17m 4s
216:	total: 13m 2s	remaining: 17m
217:	total: 13m 6s	remaining: 16m 57s
218:	total: 13m 10s	remaining: 16m 54s
219:	total: 13m 14s	remaining: 16m 50s
220:	total: 13m 17s	remaining: 16m 46s
221:	total: 13m 21s	remaining: 16m 43s
222:	total: 13m 25s	remaining: 16m 40s
223:	total: 13m 28s	remaining: 16m 36s
224:	total: 13m 32s	remaining: 16m 33s
225:	total: 13m 36s	remaining: 16m 29s
226:	total: 13m 39s	remaining: 16m 26s
227:	total: 13m 44s	remaining: 16m 23s
228:	total: 13m 47s	remaining: 16m 19s
229:	total: 13m 51s	remaining: 16m 15s
230:	total: 13m 55s	remaining: 16m 12s
231:	total: 13m 58s	remaining: 16m 8s
232:	total: 14m 2s	remaining: 16m 5s
233:	total: 14m 5s	remaining: 16m 1s
234:	total: 14m 9s	remaining: 15m 57s
235:	total: 14m 13s	remaining: 15m 54s
236:	total: 14m 16s	remaining: 15m 50s
237:	total: 14m 19s	remaining: 15m 46s
238:	total: 14m 23s	remaining: 15m 42s
239:	total: 14m 26s	remaining: 15m 38s
240:	total: 14m 29s	remaining: 15m 34s
241:	total: 14m 32s	remaining: 15m 30s
242:	total: 14m 35s	remaining: 15m 25s
243:	total: 14m 38s	remaining: 15m 22s
244:	total: 14m 43s	remaining: 15m 19s
245:	total: 14m 45s	remaining: 15m 14s
246:	total: 14m 48s	remaining: 15m 10s
247:	total: 14m 52s	remaining: 15m 6s
248:	total: 14m 55s	remaining: 15m 3s
249:	total: 14m 59s	remaining: 14m 59s
250:	total: 15m 3s	remaining: 14m 55s
251:	total: 15m 6s	remaining: 14m 51s
252:	total: 15m 9s	remaining: 14m 47s
253:	total: 15m 12s	remaining: 14m 44s
254:	total: 15m 15s	remaining: 14m 39s
255:	total: 15m 19s	remaining: 14m 36s
256:	total: 15m 22s	remaining: 14m 32s
257:	total: 15m 25s	remaining: 14m 27s
258:	total: 15m 28s	remaining: 14m 24s
259:	total: 15m 31s	remaining: 14m 20s
260:	total: 15m 35s	remaining: 14m 16s
261:	total: 15m 38s	remaining: 14m 12s
262:	total: 15m 42s	remaining: 14m 9s
263:	total: 15m 46s	remaining: 14m 5s
264:	total: 15m 49s	remaining: 14m 2s
265:	total: 15m 52s	remaining: 13m 57s
266:	total: 15m 55s	remaining: 13m 54s
267:	total: 15m 59s	remaining: 13m 50s
268:	total: 16m 2s	remaining: 13m 46s
269:	total: 16m 4s	remaining: 13m 41s
270:	total: 16m 8s	remaining: 13m 38s
271:	total: 16m 11s	remaining: 13m 34s
272:	total: 16m 14s	remaining: 13m 30s
273:	total: 16m 17s	remaining: 13m 26s
274:	total: 16m 21s	remaining: 13m 22s
275:	total: 16m 23s	remaining: 13m 18s
276:	total: 16m 25s	remaining: 13m 13s
277:	total: 16m 28s	remaining: 13m 9s
278:	total: 16m 32s	remaining: 13m 6s
279:	total: 16m 35s	remaining: 13m 2s
280:	total: 16m 38s	remaining: 12m 58s
281:	total: 16m 42s	remaining: 12m 54s
282:	total: 16m 44s	remaining: 12m 50s
283:	total: 16m 48s	remaining: 12m 46s
284:	total: 16m 51s	remaining: 12m 43s
285:	total: 16m 55s	remaining: 12m 39s
286:	total: 16m 58s	remaining: 12m 36s
287:	total: 17m	remaining: 12m 31s
288:	total: 17m 4s	remaining: 12m 28s
289:	total: 17m 8s	remaining: 12m 24s
290:	total: 17m 11s	remaining: 12m 20s
291:	total: 17m 15s	remaining: 12m 17s
292:	total: 17m 18s	remaining: 12m 13s
293:	total: 17m 21s	remaining: 12m 9s
294:	total: 17m 25s	remaining: 12m 6s
295:	total: 17m 29s	remaining: 12m 3s
296:	total: 17m 30s	remaining: 11m 58s
297:	total: 17m 34s	remaining: 11m 54s
298:	total: 17m 38s	remaining: 11m 51s
299:	total: 17m 42s	remaining: 11m 48s
300:	total: 17m 45s	remaining: 11m 44s
301:	total: 17m 49s	remaining: 11m 41s
302:	total: 17m 53s	remaining: 11m 37s
303:	total: 17m 57s	remaining: 11m 34s
304:	total: 18m	remaining: 11m 31s
305:	total: 18m 4s	remaining: 11m 27s
306:	total: 18m 8s	remaining: 11m 24s
307:	total: 18m 11s	remaining: 11m 20s
308:	total: 18m 15s	remaining: 11m 17s
309:	total: 18m 18s	remaining: 11m 13s
310:	total: 18m 22s	remaining: 11m 9s
311:	total: 18m 26s	remaining: 11m 6s
312:	total: 18m 29s	remaining: 11m 2s
313:	total: 18m 33s	remaining: 10m 59s
314:	total: 18m 37s	remaining: 10m 56s
315:	total: 18m 40s	remaining: 10m 52s
316:	total: 18m 44s	remaining: 10m 49s
317:	total: 18m 47s	remaining: 10m 45s
318:	total: 18m 51s	remaining: 10m 42s
319:	total: 18m 55s	remaining: 10m 38s
320:	total: 18m 58s	remaining: 10m 35s
321:	total: 19m 2s	remaining: 10m 31s
322:	total: 19m 5s	remaining: 10m 27s
323:	total: 19m 8s	remaining: 10m 24s
324:	total: 19m 12s	remaining: 10m 20s
325:	total: 19m 16s	remaining: 10m 17s
326:	total: 19m 20s	remaining: 10m 13s
327:	total: 19m 23s	remaining: 10m 10s
328:	total: 19m 26s	remaining: 10m 6s
329:	total: 19m 30s	remaining: 10m 2s
330:	total: 19m 33s	remaining: 9m 59s
331:	total: 19m 36s	remaining: 9m 55s
332:	total: 19m 39s	remaining: 9m 51s
333:	total: 19m 43s	remaining: 9m 48s
334:	total: 19m 47s	remaining: 9m 44s
335:	total: 19m 50s	remaining: 9m 40s
336:	total: 19m 53s	remaining: 9m 37s
337:	total: 19m 57s	remaining: 9m 34s
338:	total: 20m 1s	remaining: 9m 30s
339:	total: 20m 5s	remaining: 9m 27s
340:	total: 20m 9s	remaining: 9m 23s
341:	total: 20m 12s	remaining: 9m 20s
342:	total: 20m 16s	remaining: 9m 16s
343:	total: 20m 20s	remaining: 9m 13s
344:	total: 20m 23s	remaining: 9m 9s
345:	total: 20m 27s	remaining: 9m 6s
346:	total: 20m 31s	remaining: 9m 2s
347:	total: 20m 35s	remaining: 8m 59s
348:	total: 20m 39s	remaining: 8m 56s
349:	total: 20m 43s	remaining: 8m 52s
350:	total: 20m 46s	remaining: 8m 49s
351:	total: 20m 50s	remaining: 8m 45s
352:	total: 20m 54s	remaining: 8m 42s
353:	total: 20m 57s	remaining: 8m 38s
354:	total: 21m 1s	remaining: 8m 35s
355:	total: 21m 4s	remaining: 8m 31s
356:	total: 21m 7s	remaining: 8m 27s
357:	total: 21m 11s	remaining: 8m 24s
358:	total: 21m 15s	remaining: 8m 20s
359:	total: 21m 18s	remaining: 8m 17s
360:	total: 21m 22s	remaining: 8m 13s
361:	total: 21m 25s	remaining: 8m 10s
362:	total: 21m 29s	remaining: 8m 6s
363:	total: 21m 32s	remaining: 8m 2s
364:	total: 21m 36s	remaining: 7m 59s
365:	total: 21m 40s	remaining: 7m 56s
366:	total: 21m 44s	remaining: 7m 52s
367:	total: 21m 48s	remaining: 7m 49s
368:	total: 21m 51s	remaining: 7m 45s
369:	total: 21m 55s	remaining: 7m 42s
370:	total: 21m 59s	remaining: 7m 38s
371:	total: 22m 2s	remaining: 7m 35s
372:	total: 22m 6s	remaining: 7m 31s
373:	total: 22m 10s	remaining: 7m 28s
374:	total: 22m 13s	remaining: 7m 24s
375:	total: 22m 17s	remaining: 7m 21s
376:	total: 22m 21s	remaining: 7m 17s
377:	total: 22m 24s	remaining: 7m 13s
378:	total: 22m 28s	remaining: 7m 10s
379:	total: 22m 31s	remaining: 7m 6s
380:	total: 22m 35s	remaining: 7m 3s
381:	total: 22m 38s	remaining: 6m 59s
382:	total: 22m 42s	remaining: 6m 56s
383:	total: 22m 45s	remaining: 6m 52s
384:	total: 22m 49s	remaining: 6m 48s
385:	total: 22m 52s	remaining: 6m 45s
386:	total: 22m 56s	remaining: 6m 41s
387:	total: 22m 59s	remaining: 6m 38s
388:	total: 23m 3s	remaining: 6m 34s
389:	total: 23m 7s	remaining: 6m 31s
390:	total: 23m 10s	remaining: 6m 27s
391:	total: 23m 13s	remaining: 6m 23s
392:	total: 23m 17s	remaining: 6m 20s
393:	total: 23m 20s	remaining: 6m 16s
394:	total: 23m 24s	remaining: 6m 13s
395:	total: 23m 28s	remaining: 6m 9s
396:	total: 23m 32s	remaining: 6m 6s
397:	total: 23m 36s	remaining: 6m 2s
398:	total: 23m 39s	remaining: 5m 59s
399:	total: 23m 43s	remaining: 5m 55s
400:	total: 23m 46s	remaining: 5m 52s
401:	total: 23m 49s	remaining: 5m 48s
402:	total: 23m 53s	remaining: 5m 44s
403:	total: 23m 56s	remaining: 5m 41s
404:	total: 24m	remaining: 5m 37s
405:	total: 24m 3s	remaining: 5m 34s
406:	total: 24m 7s	remaining: 5m 30s
407:	total: 24m 11s	remaining: 5m 27s
408:	total: 24m 14s	remaining: 5m 23s
409:	total: 24m 18s	remaining: 5m 20s
410:	total: 24m 22s	remaining: 5m 16s
411:	total: 24m 26s	remaining: 5m 13s
412:	total: 24m 29s	remaining: 5m 9s
413:	total: 24m 33s	remaining: 5m 6s
414:	total: 24m 36s	remaining: 5m 2s
415:	total: 24m 39s	remaining: 4m 58s
416:	total: 24m 43s	remaining: 4m 55s
417:	total: 24m 47s	remaining: 4m 51s
418:	total: 24m 50s	remaining: 4m 48s
419:	total: 24m 54s	remaining: 4m 44s
420:	total: 24m 58s	remaining: 4m 41s
421:	total: 25m 1s	remaining: 4m 37s
422:	total: 25m 5s	remaining: 4m 34s
423:	total: 25m 9s	remaining: 4m 30s
424:	total: 25m 12s	remaining: 4m 26s
425:	total: 25m 16s	remaining: 4m 23s
426:	total: 25m 19s	remaining: 4m 19s
427:	total: 25m 23s	remaining: 4m 16s
428:	total: 25m 27s	remaining: 4m 12s
429:	total: 25m 30s	remaining: 4m 9s
430:	total: 25m 33s	remaining: 4m 5s
431:	total: 25m 37s	remaining: 4m 2s
432:	total: 25m 41s	remaining: 3m 58s
433:	total: 25m 45s	remaining: 3m 55s
434:	total: 25m 49s	remaining: 3m 51s
435:	total: 25m 52s	remaining: 3m 47s
436:	total: 25m 56s	remaining: 3m 44s
437:	total: 25m 59s	remaining: 3m 40s
438:	total: 26m 3s	remaining: 3m 37s
439:	total: 26m 6s	remaining: 3m 33s
440:	total: 26m 9s	remaining: 3m 29s
441:	total: 26m 13s	remaining: 3m 26s
442:	total: 26m 16s	remaining: 3m 22s
443:	total: 26m 20s	remaining: 3m 19s
444:	total: 26m 23s	remaining: 3m 15s
445:	total: 26m 27s	remaining: 3m 12s
446:	total: 26m 30s	remaining: 3m 8s
447:	total: 26m 32s	remaining: 3m 4s
448:	total: 26m 35s	remaining: 3m 1s
449:	total: 26m 39s	remaining: 2m 57s
450:	total: 26m 42s	remaining: 2m 54s
451:	total: 26m 46s	remaining: 2m 50s
452:	total: 26m 50s	remaining: 2m 47s
453:	total: 26m 53s	remaining: 2m 43s
454:	total: 26m 57s	remaining: 2m 39s
455:	total: 27m	remaining: 2m 36s
456:	total: 27m 4s	remaining: 2m 32s
457:	total: 27m 7s	remaining: 2m 29s
458:	total: 27m 11s	remaining: 2m 25s
459:	total: 27m 15s	remaining: 2m 22s
460:	total: 27m 18s	remaining: 2m 18s
461:	total: 27m 20s	remaining: 2m 14s
462:	total: 27m 24s	remaining: 2m 11s
463:	total: 27m 27s	remaining: 2m 7s
464:	total: 27m 31s	remaining: 2m 4s
465:	total: 27m 35s	remaining: 2m
466:	total: 27m 39s	remaining: 1m 57s
467:	total: 27m 43s	remaining: 1m 53s
468:	total: 27m 46s	remaining: 1m 50s
469:	total: 27m 50s	remaining: 1m 46s
470:	total: 27m 54s	remaining: 1m 43s
471:	total: 27m 58s	remaining: 1m 39s
472:	total: 28m	remaining: 1m 35s
473:	total: 28m 3s	remaining: 1m 32s
474:	total: 28m 6s	remaining: 1m 28s
475:	total: 28m 10s	remaining: 1m 25s
476:	total: 28m 14s	remaining: 1m 21s
477:	total: 28m 18s	remaining: 1m 18s
478:	total: 28m 21s	remaining: 1m 14s
479:	total: 28m 25s	remaining: 1m 11s
480:	total: 28m 28s	remaining: 1m 7s
481:	total: 28m 32s	remaining: 1m 3s
482:	total: 28m 35s	remaining: 1m
483:	total: 28m 38s	remaining: 56.8s
484:	total: 28m 42s	remaining: 53.3s
485:	total: 28m 46s	remaining: 49.7s
486:	total: 28m 50s	remaining: 46.2s
487:	total: 28m 53s	remaining: 42.6s
488:	total: 28m 57s	remaining: 39.1s
489:	total: 29m 1s	remaining: 35.5s
490:	total: 29m 4s	remaining: 32s
491:	total: 29m 8s	remaining: 28.4s
492:	total: 29m 11s	remaining: 24.9s
493:	total: 29m 15s	remaining: 21.3s
494:	total: 29m 18s	remaining: 17.8s
495:	total: 29m 22s	remaining: 14.2s
496:	total: 29m 26s	remaining: 10.7s
497:	total: 29m 29s	remaining: 7.11s
498:	total: 29m 33s	remaining: 3.55s
499:	total: 29m 37s	remaining: 0us
1937.23
CPU times: total: 2h 40min 30s
Wall time: 32min 17s

In [19]:
%%time

# –°–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –º–æ–¥–µ–ª–∏
model.save_model("catboost_dl_model.cbm")

CPU times: total: 0 ns
Wall time: 3.75 ms

## üìä 6. –û—Ü–µ–Ω–∫–∞ –∫–∞—á–µ—Å—Ç–≤–∞ –º–æ–¥–µ–ª–∏

### –ú–µ—Ç—Ä–∏–∫–∏:
- AUC-ROC
- Precision-Recall AUC  
- F1-score
- Accuracy, Precision, Recall

### –í–∞–∂–Ω–æ—Å—Ç—å –ø—Ä–∏–∑–Ω–∞–∫–æ–≤:
- –ê–Ω–∞–ª–∏–∑ –Ω–∞–∏–±–æ–ª–µ–µ –≤–ª–∏—è—Ç–µ–ª—å–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –Ω–∞ –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–µ

In [20]:
import os

from catboost import CatBoostClassifier


def get_model_path(path: str) -> str:
    if os.environ.get("IS_LMS") == "1":
        MODEL_PATH = "/workdir/user_input/model"
    else:
        MODEL_PATH = path
    return MODEL_PATH


def load_models():
    model_path = get_model_path("catboost_dl_model.cbm")
    model = CatBoostClassifier()
    model.load_model(model_path)
    return model

In [21]:
%%time

# –ó–∞–≥—Ä—É–∑–∫–∞ –º–æ–¥–µ–ª–∏
loaded_model = load_models()

CPU times: total: 0 ns
Wall time: 56 ms

In [22]:
%%time

# –¢–∞–±–ª–∏—Ü–∞ –¥–ª—è —Ö—Ä–∞–Ω–µ–Ω–∏—è –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç–æ–≤
feature_importance_df = pd.DataFrame(index=X.columns)

# –¢–∞–±–ª–∏—Ü–∞ –¥–ª—è —Ö—Ä–∞–Ω–µ–Ω–∏—è –º–µ—Ç—Ä–∏–∫
metrics_df = pd.DataFrame(columns=["learn_time",
                                   "train_model_score", "test_model_score",
                                   "train_auc_roc", "test_auc_roc", "train_pr_auc", "test_pr_auc",
                                   "train_f1", "test_f1", "train_accuracy", "test_accuracy",
                                   "train_precision", "test_precision", "train_recall", "test_recall"])

CPU times: total: 15.6 ms
Wall time: 7.21 ms

In [23]:
%%time

print('–û—Ü–µ–Ω–∏–≤–∞–µ–º –º–æ–¥–µ–ª—å –Ω–∞ —Ç—Ä–µ–π–Ω–µ')

t0 = time.time()
train_model_score = loaded_model.score(X_train, y_train)
t1 = time.time()
print('\t1\t', round(t1 - t0, 2))

t2 = time.time()
y_train_pred = loaded_model.predict(X_train)
t3 = time.time()
print('\t2\t', round(t3 - t2, 2))

t4 = time.time()
y_train_proba = loaded_model.predict_proba(X_train)[:, 1] if hasattr(loaded_model, 'predict_proba') else y_train_pred
t5 = time.time()
print('\t3\t', round(t5 - t4, 2))

t6 = time.time()
train_auc_roc = roc_auc_score(y_train, y_train_proba)
t7 = time.time()
print('\t4\t', round(t7 - t6, 2))

t8 = time.time()
train_pr_auc = average_precision_score(y_train, y_train_proba)
t9 = time.time()
print('\t5\t', round(t9 - t8, 2))

t10 = time.time()
train_f1 = f1_score(y_train, y_train_pred)
t11 = time.time()
print('\t6\t', round(t11 - t10, 2))

t12 = time.time()
train_accuracy = accuracy_score(y_train, y_train_pred)
t13 = time.time()
print('\t7\t', round(t13 - t12, 2))

t14 = time.time()
train_precision = precision_score(y_train, y_train_pred)
t15 = time.time()
print('\t8\t', round(t15 - t14, 2))

t16 = time.time()
train_recall = recall_score(y_train, y_train_pred)
t17 = time.time()
print('\t9\t', round(t17 - t16, 2))

print('–û—Ü–µ–Ω–∏–ª–∏ –º–æ–¥–µ–ª—å –Ω–∞ —Ç—Ä–µ–π–Ω–µ')
print('–û—Ü–µ–Ω–∏–≤–∞–µ–º –º–æ–¥–µ–ª—å –Ω–∞ —Ç–µ—Å—Ç–µ')

t18 = time.time()
test_model_score = loaded_model.score(X_test, y_test)
t19 = time.time()
print('\t10\t', round(t19 - t18, 2))

t20 = time.time()
y_test_pred = loaded_model.predict(X_test)
t21 = time.time()
print('\t11\t', round(t21 - t20, 2))

t22 = time.time()
y_test_proba = loaded_model.predict_proba(X_test)[:, 1] if hasattr(loaded_model, 'predict_proba') else y_test_pred
t23 = time.time()
print('\t12\t', round(t23 - t22, 2))

t24 = time.time()
test_auc_roc = roc_auc_score(y_test, y_test_proba)
t25 = time.time()
print('\t13\t', round(t25 - t24, 2))

t26 = time.time()
test_pr_auc = average_precision_score(y_test, y_test_proba)
t27 = time.time()
print('\t14\t', round(t27 - t26, 2))

t28 = time.time()
test_f1 = f1_score(y_test, y_test_pred)
t29 = time.time()
print('\t15\t', round(t29 - t28, 2))

t30 = time.time()
test_accuracy = accuracy_score(y_test, y_test_pred)
t31 = time.time()
print('\t16\t', round(t31 - t30, 2))

t32 = time.time()
test_precision = precision_score(y_test, y_test_pred)
t33 = time.time()
print('\t17\t', round(t33 - t32, 2))

t34 = time.time()
test_recall = recall_score(y_test, y_test_pred)
t35 = time.time()
print('\t18\t', round(t35 - t34, 2))

print('–û—Ü–µ–Ω–∏–ª–∏ –º–æ–¥–µ–ª—å –Ω–∞ —Ç–µ—Å—Ç–µ')
print('–ó–∞–ø–∏c—ã–≤–∞–µ–º –º–µ—Ç—Ä–∏–∫–∏ –≤ —Ç–∞–±–ª–∏—Ü—É')

# –§–æ—Ä–º–∏—Ä—É–µ–º DataFrame —Å –Ω—É–∂–Ω–æ–π —Å—Ç—Ä—É–∫—Ç—É—Ä–æ–π
metrics = {
    "model_score": [train_model_score, test_model_score],
    "auc_roc": [train_auc_roc, test_auc_roc],
    "pr_auc": [train_pr_auc, test_pr_auc],
    "f1": [train_f1, test_f1],
    "accuracy": [train_accuracy, test_accuracy],
    "precision": [train_precision, test_precision],
    "recall": [train_recall, test_recall]
}

metrics_df = pd.DataFrame(metrics, index=["train", "test"])

print('–ó–∞–ø–∏c–∞–ª–∏ –º–µ—Ç—Ä–∏–∫–∏ –≤ —Ç–∞–±–ª–∏—Ü—É')
print('–ó–∞–ø–∏c—ã–≤–∞–µ–º –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç—ã –∏ –≤–∞–∂–Ω–æ—Å—Ç–∏ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –≤ —Ç–∞–±–ª–∏—Ü—É')

importances = loaded_model.get_feature_importance()

# –°–æ–∑–¥–∞–µ–º DataFrame —Å –≤–∞–∂–Ω–æ—Å—Ç—å—é –ø—Ä–∏–∑–Ω–∞–∫–æ–≤
feature_importance_df = pd.DataFrame({
    'feature': X_train.columns.tolist() if hasattr(X_train, 'columns') else [f'feature_{i}' 
                                                                             for i in range(len(importances))],
    'importance': importances
})

print('–ó–∞–ø–∏—Å–∞–ª–∏ –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç—ã –∏ –≤–∞–∂–Ω–æ—Å—Ç–∏ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –≤ —Ç–∞–±–ª–∏—Ü—É')

–û—Ü–µ–Ω–∏–≤–∞–µ–º –º–æ–¥–µ–ª—å –Ω–∞ —Ç—Ä–µ–π–Ω–µ
	1	 134.92
	2	 129.65
	3	 123.5
	4	 5.86
	5	 4.96
	6	 1.67
	7	 0.38
	8	 1.64
	9	 1.63
–û—Ü–µ–Ω–∏–ª–∏ –º–æ–¥–µ–ª—å –Ω–∞ —Ç—Ä–µ–π–Ω–µ
–û—Ü–µ–Ω–∏–≤–∞–µ–º –º–æ–¥–µ–ª—å –Ω–∞ —Ç–µ—Å—Ç–µ
	10	 22.45
	11	 23.26
	12	 22.14
	13	 0.9
	14	 0.73
	15	 0.3
	16	 0.07
	17	 0.29
	18	 0.31
–û—Ü–µ–Ω–∏–ª–∏ –º–æ–¥–µ–ª—å –Ω–∞ —Ç–µ—Å—Ç–µ
–ó–∞–ø–∏c—ã–≤–∞–µ–º –º–µ—Ç—Ä–∏–∫–∏ –≤ —Ç–∞–±–ª–∏—Ü—É
–ó–∞–ø–∏c–∞–ª–∏ –º–µ—Ç—Ä–∏–∫–∏ –≤ —Ç–∞–±–ª–∏—Ü—É
–ó–∞–ø–∏c—ã–≤–∞–µ–º –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç—ã –∏ –≤–∞–∂–Ω–æ—Å—Ç–∏ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –≤ —Ç–∞–±–ª–∏—Ü—É
–ó–∞–ø–∏—Å–∞–ª–∏ –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç—ã –∏ –≤–∞–∂–Ω–æ—Å—Ç–∏ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –≤ —Ç–∞–±–ª–∏—Ü—É
CPU times: total: 9min 52s
Wall time: 7min 54s

In [24]:
%%time

# –í—ã–≤–æ–¥ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤
print("Feature Importance Table:")
display(feature_importance_df.sort_values(by='importance', ascending=False))

print("\nModel Metrics Table:")
display(metrics_df)

Feature Importance Table:

                   feature  importance
7         city_countscaled   19.602521
8      country_countscaled    7.373620
15         age_group_gt_40    7.129731
13         age_group_30_35    6.401545
2                    month    5.844604
16             exp_group_1    5.304380
17             exp_group_2    5.039003
14         age_group_35_40    4.735635
32  distance_to_cluster_11    4.032566
1                  post_id    3.574938
24   distance_to_cluster_3    3.170295
27   distance_to_cluster_6    2.959354
29   distance_to_cluster_8    2.440667
40             topic_sport    2.348290
20            text_cluster    2.169886
33  distance_to_cluster_12    1.872930
21   distance_to_cluster_0    1.397447
4                   gender    1.298857
22   distance_to_cluster_1    1.289254
12         age_group_25_30    1.179117
30   distance_to_cluster_9    1.105932
26   distance_to_cluster_5    0.991363
35  distance_to_cluster_14    0.943638
10         age_group_20_22    0.824271
31  distance_to_cluster_10    0.817138
23   distance_to_cluster_2    0.783572
25   distance_to_cluster_4    0.738497
39          topic_politics    0.673177
11         age_group_22_25    0.663460
19             exp_group_4    0.639258
9          age_group_18_20    0.611532
34  distance_to_cluster_13    0.465356
41              topic_tech    0.436927
18             exp_group_3    0.400306
28   distance_to_cluster_7    0.371076
38             topic_movie    0.111227
36             topic_covid    0.096722
0                  user_id    0.094872
3                      day    0.066461
5                       os    0.000574
6                   source    0.000000
37     topic_entertainment    0.000000

Model Metrics Table:

,model_score,auc_roc,pr_auc,f1,accuracy,precision,recall
train,0.587461,0.649008,0.161080,0.241410,0.587461,0.149283,0.630525
test,0.486502,0.624952,0.172671,0.254436,0.486502,0.154382,0.723021

CPU times: total: 31.2 ms
Wall time: 29.2 ms

## üíæ 7. –≠–∫—Å–ø–æ—Ä—Ç –æ–±—Ä–∞–±–æ—Ç–∞–Ω–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö –≤ PostgreSQL

### –°–æ–∑–¥–∞–≤–∞–µ–º—ã–µ —Ç–∞–±–ª–∏—Ü—ã:
1. `processed_user_data` - –æ–±—Ä–∞–±–æ—Ç–∞–Ω–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π
2. `processed_post_text_dl` - —É–ª—É—á—à–µ–Ω–Ω–∞—è NLP –æ–±—Ä–∞–±–æ—Ç–∫–∞
3. `processed_feed_data_like` - –¥–∞–Ω–Ω—ã–µ –æ –ª–∞–π–∫–∞—Ö
4. `clear_post_text` - –∏—Å—Ö–æ–¥–Ω—ã–µ —Ç–µ–∫—Å—Ç—ã –ø–æ—Å—Ç–æ–≤

### –ò–º–ø–æ—Ä—Ç –±–∏–±–ª–∏–æ—Ç–µ–∫

In [1]:
import os
import time
import warnings
from io import StringIO
from pathlib import Path

import pandas as pd
import psycopg2
from dotenv import load_dotenv
from sqlalchemy import create_engine
from sqlalchemy import text

warnings.filterwarnings('ignore')

### –û–ø—Ä–µ–¥–µ–ª—è–µ–º –ø—É—Ç–∏

In [2]:
%%time

# –û–ø—Ä–µ–¥–µ–ª—è–µ–º –ø—É—Ç–∏
PROJECT_ROOT = Path().resolve().parent
RAW_DATA_DIR = PROJECT_ROOT / "part3-nlp-enhanced" / "raw_data"
PROCESSED_DATA_DIR = PROJECT_ROOT / "part3-nlp-enhanced" / "processed_data"

CPU times: total: 0 ns
Wall time: 747 Œºs

### –ó–∞–≥—Ä—É–∂–∞–µ–º –æ–±—Ä–∞–±–æ—Ç–∞–Ω–Ω—ã–µ –∏ –Ω–µ–æ–±—Ä–∞–±–æ—Ç–∞–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ

In [3]:
%%time

processed_user_data = pd.read_csv(PROCESSED_DATA_DIR / "processed_user_data.csv")
processed_post_text_dl = pd.read_csv(PROCESSED_DATA_DIR / "processed_post_text_dl.csv")
feed_data_like = pd.read_csv(RAW_DATA_DIR / "feed_data_like.csv")
clear_post_text = pd.read_csv(RAW_DATA_DIR / "post_text.csv")

CPU times: total: 9.62 s
Wall time: 10 s

In [4]:
%%time

display(processed_user_data.info(),
        processed_post_text_dl.info(),
        feed_data_like.info(),
        clear_post_text.info())

display(processed_user_data,
        processed_post_text_dl,
        feed_data_like,
        clear_post_text)

<class 'pandas.DataFrame'>
RangeIndex: 163205 entries, 0 to 163204
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   user_id              163205 non-null  int64
 1   gender               163205 non-null  int64
 2   os                   163205 non-null  int64
 3   source               163205 non-null  int64
 4   city_countscaled     163205 non-null  float64
 5   country_countscaled  163205 non-null  float64
 6   age_group_18_20      163205 non-null  int64
 7   age_group_20_22      163205 non-null  int64
 8   age_group_22_25      163205 non-null  int64
 9   age_group_25_30      163205 non-null  int64
 10  age_group_30_35      163205 non-null  int64
 11  age_group_35_40      163205 non-null  int64
 12  age_group_gt_40      163205 non-null  int64
 13  exp_group_1          163205 non-null  int64
 14  exp_group_2          163205 non-null  int64
 15  exp_group_3          163205 non-null  int64
 16  exp_group_4          163205 non-null  int64
dtypes: float64(2), int64(15)
memory usage: 21.2 MB
<class 'pandas.DataFrame'>
RangeIndex: 7023 entries, 0 to 7022
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   post_id                 7023 non-null   int64
 1   text_cluster            7023 non-null   int64
 2   distance_to_cluster_0   7023 non-null   float64
 3   distance_to_cluster_1   7023 non-null   float64
 4   distance_to_cluster_2   7023 non-null   float64
 5   distance_to_cluster_3   7023 non-null   float64
 6   distance_to_cluster_4   7023 non-null   float64
 7   distance_to_cluster_5   7023 non-null   float64
 8   distance_to_cluster_6   7023 non-null   float64
 9   distance_to_cluster_7   7023 non-null   float64
 10  distance_to_cluster_8   7023 non-null   float64
 11  distance_to_cluster_9   7023 non-null   float64
 12  distance_to_cluster_10  7023 non-null   float64
 13  distance_to_cluster_11  7023 non-null   float64
 14  distance_to_cluster_12  7023 non-null   float64
 15  distance_to_cluster_13  7023 non-null   float64
 16  distance_to_cluster_14  7023 non-null   float64
 17  topic_covid             7023 non-null   int64
 18  topic_entertainment     7023 non-null   int64
 19  topic_movie             7023 non-null   int64
 20  topic_politics          7023 non-null   int64
 21  topic_sport             7023 non-null   int64
 22  topic_tech              7023 non-null   int64
dtypes: float64(15), int64(8)
memory usage: 1.2 MB
<class 'pandas.DataFrame'>
RangeIndex: 8206345 entries, 0 to 8206344
Data columns (total 5 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  str
 1   user_id    int64
 2   post_id    int64
 3   action     str
 4   target     int64
dtypes: int64(3), str(2)
memory usage: 313.0 MB
<class 'pandas.DataFrame'>
RangeIndex: 7023 entries, 0 to 7022
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   post_id  7023 non-null   int64
 1   text     7023 non-null   str
 2   topic    7023 non-null   str
dtypes: int64(1), str(2)
memory usage: 164.7 KB

None

None

None

None

,user_id,gender,os,source,city_countscaled,country_countscaled,age_group_18_20,age_group_20_22,age_group_22_25,age_group_25_30,age_group_30_35,age_group_35_40,age_group_gt_40,exp_group_1,exp_group_2,exp_group_3,exp_group_4
0,200,1,0,0,-0.492196,0.375419,0,0,0,0,1,0,0,0,0,1,0
1,201,0,0,0,-0.461974,0.375419,0,0,0,0,0,1,0,0,0,0,0
2,202,1,0,0,-0.435580,0.375419,0,0,0,0,0,0,0,0,0,0,1
3,203,0,1,0,2.496407,0.375419,1,0,0,0,0,0,0,1,0,0,0
4,204,0,0,0,-0.480572,0.375419,0,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163200,168548,0,0,1,-0.417118,0.375419,0,0,0,0,0,1,0,0,0,0,1
163201,168549,0,0,1,-0.409050,0.375419,1,0,0,0,0,0,0,0,1,0,0
163202,168550,1,0,1,-0.231818,0.375419,0,0,0,0,0,0,1,0,0,0,1
163203,168551,0,1,1,2.496407,0.375419,0,0,0,0,0,1,0,0,0,1,0
163204,168552,1,0,1,-0.482213,0.375419,0,0,0,0,0,0,0,0,0,0,1

,post_id,text_cluster,distance_to_cluster_0,distance_to_cluster_1,distance_to_cluster_2,distance_to_cluster_3,distance_to_cluster_4,distance_to_cluster_5,distance_to_cluster_6,distance_to_cluster_7,...,distance_to_cluster_11,distance_to_cluster_12,distance_to_cluster_13,distance_to_cluster_14,topic_covid,topic_entertainment,topic_movie,topic_politics,topic_sport,topic_tech
0,1,9,3.275572,3.443513,3.469100,2.986742,1.948664,3.592508,3.383040,3.612148,...,3.400342,2.830196,2.372013,3.463925,0,0,0,0,0,0
1,2,9,3.192135,3.133694,3.244608,2.846341,2.196497,3.373540,3.331997,3.351419,...,3.336037,2.545622,2.334076,3.385151,0,0,0,0,0,0
2,3,9,2.974873,3.141050,3.392259,3.072776,1.817808,3.338185,3.459793,3.359396,...,3.375446,2.862795,2.404512,3.426456,0,0,0,0,0,0
3,4,4,3.202792,3.771742,4.060500,3.302980,2.426471,3.235161,3.748735,3.805814,...,3.738622,3.358398,2.818986,3.645685,0,0,0,0,0,0
4,5,4,2.978371,2.805885,3.242360,2.653685,1.472535,3.043557,2.781908,3.042039,...,2.817385,2.136082,2.047634,3.083162,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,7315,11,3.082503,1.834552,3.396313,2.826148,3.000543,2.006451,1.805223,2.940562,...,1.308614,2.298392,2.735910,3.154152,0,0,1,0,0,0
7019,7316,11,2.887662,1.800025,3.383409,2.509571,2.963336,1.797055,1.512296,2.583630,...,0.929435,2.204309,2.440939,2.938149,0,0,1,0,0,0
7020,7317,11,2.693023,1.996829,3.464333,2.553049,3.183830,2.234073,2.017127,2.375831,...,1.542911,2.417808,2.809133,2.899021,0,0,1,0,0,0
7021,7318,6,3.359132,1.617927,3.410661,3.112874,3.194130,1.661280,1.049354,3.296159,...,1.469077,2.262688,2.982443,3.463953,0,0,1,0,0,0
7022,7319,1,3.193043,1.805112,3.604249,2.987860,3.306223,2.016449,1.990794,3.026612,...,2.166254,2.628270,2.896080,3.330238,0,0,1,0,0,0

                   timestamp  user_id  post_id action  target
0        2021-12-19 21:58:49    72194     2323   like       0
1        2021-11-20 18:36:14   162059     4190   like       0
2        2021-11-20 18:46:11   162059     2033   like       0
3        2021-11-20 18:52:07   162059     1581   like       0
4        2021-11-20 18:59:02   162059     1172   like       0
...                      ...      ...      ...    ...     ...
8206340  2021-12-19 21:44:12    72194      404   like       0
8206341  2021-12-19 21:50:35    72194     5028   like       0
8206342  2021-12-19 21:51:05    72194     3876   like       0
8206343  2021-12-19 21:53:17    72194     7129   like       0
8206344  2021-12-19 21:54:58    72194     5867   like       0

[8206345 rows x 5 columns]

      post_id                                               text     topic
0           1  UK economy facing major risks\n\nThe UK manufa...  business
1           2  Aids and climate top Davos agenda\n\nClimate c...  business
2           3  Asian quake hits European shares\n\nShares in ...  business
3           4  India power shares jump on debut\n\nShares in ...  business
4           5  Lacroix label bought by US firm\n\nLuxury good...  business
...       ...                                                ...       ...
7018     7315  OK, I would not normally watch a Farrelly brot...     movie
7019     7316  I give this movie 2 stars purely because of it...     movie
7020     7317  I cant believe this film was allowed to be mad...     movie
7021     7318  The version I saw of this film was the Blockbu...     movie
7022     7319  Piece of subtle art. Maybe a masterpiece. Doub...     movie

[7023 rows x 3 columns]

CPU times: total: 156 ms
Wall time: 143 ms

In [5]:
%%time

feed_data_like['timestamp'] = pd.to_datetime(feed_data_like['timestamp'])
feed_data_like.sort_values(by='timestamp', ascending=True, inplace=True)
feed_data_like.drop(['timestamp', 'action', 'target'], axis=1, inplace=True)

CPU times: total: 7.8 s
Wall time: 8.05 s

In [6]:
%%time

feed_data_like.to_csv(PROCESSED_DATA_DIR / "processed_feed_data_like.csv", index=False)

CPU times: total: 7.61 s
Wall time: 7.83 s

In [7]:
%%time

processed_feed_data_like = pd.read_csv(PROCESSED_DATA_DIR / "processed_feed_data_like.csv")

CPU times: total: 3.05 s
Wall time: 3.25 s

In [8]:
%%time

display(processed_user_data.info(),
        processed_post_text_dl.info(),
        processed_feed_data_like.info(),
        clear_post_text.info())

display(processed_user_data,
        processed_post_text_dl,
        processed_feed_data_like,
        clear_post_text)

<class 'pandas.DataFrame'>
RangeIndex: 163205 entries, 0 to 163204
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   user_id              163205 non-null  int64
 1   gender               163205 non-null  int64
 2   os                   163205 non-null  int64
 3   source               163205 non-null  int64
 4   city_countscaled     163205 non-null  float64
 5   country_countscaled  163205 non-null  float64
 6   age_group_18_20      163205 non-null  int64
 7   age_group_20_22      163205 non-null  int64
 8   age_group_22_25      163205 non-null  int64
 9   age_group_25_30      163205 non-null  int64
 10  age_group_30_35      163205 non-null  int64
 11  age_group_35_40      163205 non-null  int64
 12  age_group_gt_40      163205 non-null  int64
 13  exp_group_1          163205 non-null  int64
 14  exp_group_2          163205 non-null  int64
 15  exp_group_3          163205 non-null  int64
 16  exp_group_4          163205 non-null  int64
dtypes: float64(2), int64(15)
memory usage: 21.2 MB
<class 'pandas.DataFrame'>
RangeIndex: 7023 entries, 0 to 7022
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   post_id                 7023 non-null   int64
 1   text_cluster            7023 non-null   int64
 2   distance_to_cluster_0   7023 non-null   float64
 3   distance_to_cluster_1   7023 non-null   float64
 4   distance_to_cluster_2   7023 non-null   float64
 5   distance_to_cluster_3   7023 non-null   float64
 6   distance_to_cluster_4   7023 non-null   float64
 7   distance_to_cluster_5   7023 non-null   float64
 8   distance_to_cluster_6   7023 non-null   float64
 9   distance_to_cluster_7   7023 non-null   float64
 10  distance_to_cluster_8   7023 non-null   float64
 11  distance_to_cluster_9   7023 non-null   float64
 12  distance_to_cluster_10  7023 non-null   float64
 13  distance_to_cluster_11  7023 non-null   float64
 14  distance_to_cluster_12  7023 non-null   float64
 15  distance_to_cluster_13  7023 non-null   float64
 16  distance_to_cluster_14  7023 non-null   float64
 17  topic_covid             7023 non-null   int64
 18  topic_entertainment     7023 non-null   int64
 19  topic_movie             7023 non-null   int64
 20  topic_politics          7023 non-null   int64
 21  topic_sport             7023 non-null   int64
 22  topic_tech              7023 non-null   int64
dtypes: float64(15), int64(8)
memory usage: 1.2 MB
<class 'pandas.DataFrame'>
RangeIndex: 8206345 entries, 0 to 8206344
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  int64
 1   post_id  int64
dtypes: int64(2)
memory usage: 125.2 MB
<class 'pandas.DataFrame'>
RangeIndex: 7023 entries, 0 to 7022
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   post_id  7023 non-null   int64
 1   text     7023 non-null   str
 2   topic    7023 non-null   str
dtypes: int64(1), str(2)
memory usage: 164.7 KB

None

None

None

None

,user_id,gender,os,source,city_countscaled,country_countscaled,age_group_18_20,age_group_20_22,age_group_22_25,age_group_25_30,age_group_30_35,age_group_35_40,age_group_gt_40,exp_group_1,exp_group_2,exp_group_3,exp_group_4
0,200,1,0,0,-0.492196,0.375419,0,0,0,0,1,0,0,0,0,1,0
1,201,0,0,0,-0.461974,0.375419,0,0,0,0,0,1,0,0,0,0,0
2,202,1,0,0,-0.435580,0.375419,0,0,0,0,0,0,0,0,0,0,1
3,203,0,1,0,2.496407,0.375419,1,0,0,0,0,0,0,1,0,0,0
4,204,0,0,0,-0.480572,0.375419,0,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163200,168548,0,0,1,-0.417118,0.375419,0,0,0,0,0,1,0,0,0,0,1
163201,168549,0,0,1,-0.409050,0.375419,1,0,0,0,0,0,0,0,1,0,0
163202,168550,1,0,1,-0.231818,0.375419,0,0,0,0,0,0,1,0,0,0,1
163203,168551,0,1,1,2.496407,0.375419,0,0,0,0,0,1,0,0,0,1,0
163204,168552,1,0,1,-0.482213,0.375419,0,0,0,0,0,0,0,0,0,0,1

,post_id,text_cluster,distance_to_cluster_0,distance_to_cluster_1,distance_to_cluster_2,distance_to_cluster_3,distance_to_cluster_4,distance_to_cluster_5,distance_to_cluster_6,distance_to_cluster_7,...,distance_to_cluster_11,distance_to_cluster_12,distance_to_cluster_13,distance_to_cluster_14,topic_covid,topic_entertainment,topic_movie,topic_politics,topic_sport,topic_tech
0,1,9,3.275572,3.443513,3.469100,2.986742,1.948664,3.592508,3.383040,3.612148,...,3.400342,2.830196,2.372013,3.463925,0,0,0,0,0,0
1,2,9,3.192135,3.133694,3.244608,2.846341,2.196497,3.373540,3.331997,3.351419,...,3.336037,2.545622,2.334076,3.385151,0,0,0,0,0,0
2,3,9,2.974873,3.141050,3.392259,3.072776,1.817808,3.338185,3.459793,3.359396,...,3.375446,2.862795,2.404512,3.426456,0,0,0,0,0,0
3,4,4,3.202792,3.771742,4.060500,3.302980,2.426471,3.235161,3.748735,3.805814,...,3.738622,3.358398,2.818986,3.645685,0,0,0,0,0,0
4,5,4,2.978371,2.805885,3.242360,2.653685,1.472535,3.043557,2.781908,3.042039,...,2.817385,2.136082,2.047634,3.083162,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,7315,11,3.082503,1.834552,3.396313,2.826148,3.000543,2.006451,1.805223,2.940562,...,1.308614,2.298392,2.735910,3.154152,0,0,1,0,0,0
7019,7316,11,2.887662,1.800025,3.383409,2.509571,2.963336,1.797055,1.512296,2.583630,...,0.929435,2.204309,2.440939,2.938149,0,0,1,0,0,0
7020,7317,11,2.693023,1.996829,3.464333,2.553049,3.183830,2.234073,2.017127,2.375831,...,1.542911,2.417808,2.809133,2.899021,0,0,1,0,0,0
7021,7318,6,3.359132,1.617927,3.410661,3.112874,3.194130,1.661280,1.049354,3.296159,...,1.469077,2.262688,2.982443,3.463953,0,0,1,0,0,0
7022,7319,1,3.193043,1.805112,3.604249,2.987860,3.306223,2.016449,1.990794,3.026612,...,2.166254,2.628270,2.896080,3.330238,0,0,1,0,0,0

         user_id  post_id
0         156604      573
1         142997     6445
2         122594     4554
3           8663     3837
4          94081     5671
...          ...      ...
8206340   113194     1629
8206341    84572     6836
8206342   140395     4485
8206343    33284     2093
8206344    40093      985

[8206345 rows x 2 columns]

      post_id                                               text     topic
0           1  UK economy facing major risks\n\nThe UK manufa...  business
1           2  Aids and climate top Davos agenda\n\nClimate c...  business
2           3  Asian quake hits European shares\n\nShares in ...  business
3           4  India power shares jump on debut\n\nShares in ...  business
4           5  Lacroix label bought by US firm\n\nLuxury good...  business
...       ...                                                ...       ...
7018     7315  OK, I would not normally watch a Farrelly brot...     movie
7019     7316  I give this movie 2 stars purely because of it...     movie
7020     7317  I cant believe this film was allowed to be mad...     movie
7021     7318  The version I saw of this film was the Blockbu...     movie
7022     7319  Piece of subtle art. Maybe a masterpiece. Doub...     movie

[7023 rows x 3 columns]

CPU times: total: 109 ms
Wall time: 107 ms

In [9]:
%%time

load_dotenv()
SQLALCHEMY_DATABASE_URL = os.getenv("SQLALCHEMY_DATABASE_URL")

engine = create_engine(SQLALCHEMY_DATABASE_URL)

CPU times: total: 78.1 ms
Wall time: 76.6 ms

In [10]:
%%time

with engine.begin() as conn:
    conn.execute(text("""
        DROP TABLE IF EXISTS processed_user_data;
        DROP TABLE IF EXISTS processed_post_text_dl;
        DROP TABLE IF EXISTS processed_feed_data_like;
        DROP TABLE IF EXISTS clear_post_text;
    """))

CPU times: total: 0 ns
Wall time: 4.08 s

In [11]:
%%time

with engine.begin() as conn:
    conn.execute(text("""
        CREATE TABLE processed_user_data (
            user_id BIGINT,
            gender INT,
            os INT,
            source INT,
            city_countscaled FLOAT,
            country_countscaled FLOAT,
            age_group_18_20 INT,
            age_group_20_22 INT,
            age_group_22_25 INT,
            age_group_25_30 INT,
            age_group_30_35 INT,
            age_group_35_40 INT,
            age_group_gt_40 INT,
            exp_group_1 INT,
            exp_group_2 INT,
            exp_group_3 INT,
            exp_group_4 INT
        );
    """))

CPU times: total: 15.6 ms
Wall time: 570 ms

In [12]:
%%time

with engine.begin() as conn:
    conn.execute(text("""
        CREATE TABLE processed_post_text_dl (
            post_id BIGINT,
            text_cluster INT,
            distance_to_cluster_0 FLOAT,
            distance_to_cluster_1 FLOAT,
            distance_to_cluster_2 FLOAT,
            distance_to_cluster_3 FLOAT,
            distance_to_cluster_4 FLOAT,
            distance_to_cluster_5 FLOAT,
            distance_to_cluster_6 FLOAT,
            distance_to_cluster_7 FLOAT,
            distance_to_cluster_8 FLOAT,
            distance_to_cluster_9 FLOAT,
            distance_to_cluster_10 FLOAT,
            distance_to_cluster_11 FLOAT,
            distance_to_cluster_12 FLOAT,
            distance_to_cluster_13 FLOAT,
            distance_to_cluster_14 FLOAT,
            topic_covid INT,
            topic_entertainment INT,
            topic_movie INT,
            topic_politics INT,
            topic_sport INT,
            topic_tech INT
        );
    """))

CPU times: total: 0 ns
Wall time: 570 ms

In [13]:
%%time

with engine.begin() as conn:
    conn.execute(text("""
        CREATE TABLE processed_feed_data_like (
            user_id BIGINT,
            post_id BIGINT
        );
    """))

CPU times: total: 0 ns
Wall time: 611 ms

In [14]:
%%time

with engine.begin() as conn:
    conn.execute(text("""
        CREATE TABLE clear_post_text (
            post_id BIGINT,
            text TEXT,
            topic TEXT
        );
    """))

CPU times: total: 0 ns
Wall time: 589 ms

In [15]:
%%time

def copy_dataframe(df, table_name, conn_str):
    conn = psycopg2.connect(conn_str)
    cur = conn.cursor()

    buffer = StringIO()
    df.to_csv(buffer, index=False, header=False)
    buffer.seek(0)

    cur.copy_expert(
        f"COPY {table_name} FROM STDIN WITH CSV",
        buffer
    )

    conn.commit()
    cur.close()
    conn.close()

CPU times: total: 0 ns
Wall time: 5.01 Œºs

In [16]:
t0 = time.time()
copy_dataframe(processed_user_data, "processed_user_data", SQLALCHEMY_DATABASE_URL)
t1 = time.time()
print(round(t1 - t0, 2))

4.62

In [17]:
t2 = time.time()
copy_dataframe(processed_post_text_dl, "processed_post_text_dl", SQLALCHEMY_DATABASE_URL)
t3 = time.time()
print(round(t3 - t2, 2))

2.82

In [18]:
t4 = time.time()
copy_dataframe(processed_feed_data_like, "processed_feed_data_like", SQLALCHEMY_DATABASE_URL)
t5 = time.time()
print(round(t5 - t4, 2))

212.93

In [19]:
t6 = time.time()
copy_dataframe(clear_post_text, "clear_post_text", SQLALCHEMY_DATABASE_URL)
t7 = time.time()
print(round(t7 - t6, 2))

18.24

In [20]:
%%time

def copy_query_to_df(query, conn_str):
    conn = psycopg2.connect(conn_str)
    cur = conn.cursor()

    buffer = StringIO()
    cur.copy_expert(f"COPY ({query}) TO STDOUT WITH CSV HEADER", buffer)
    buffer.seek(0)

    df = pd.read_csv(buffer)

    cur.close()
    conn.close()
    return df

CPU times: total: 0 ns
Wall time: 20.3 Œºs

In [21]:
t0 = time.time()
processed_user_data_from_db = copy_query_to_df(
    "SELECT * FROM processed_user_data",
    SQLALCHEMY_DATABASE_URL
)
t1 = time.time()
print(round(t1 - t0, 2))

5.65

In [22]:
t2 = time.time()
processed_post_text_dl_from_db = copy_query_to_df(
    "SELECT * FROM processed_post_text_dl",
    SQLALCHEMY_DATABASE_URL
)
t3 = time.time()
print(round(t3 - t2, 2))

2.55

In [23]:
t4 = time.time()
processed_feed_data_like_from_db = copy_query_to_df(
    "SELECT * FROM processed_feed_data_like LIMIT 100000",
    SQLALCHEMY_DATABASE_URL
)
t5 = time.time()
print(round(t5 - t4, 2))

4.54

In [24]:
t6 = time.time()
clear_post_text_from_db = copy_query_to_df(
    "SELECT * FROM clear_post_text",
    SQLALCHEMY_DATABASE_URL
)
t7 = time.time()
print(round(t7 - t6, 2))

4.44

In [25]:
display(processed_user_data_from_db.info(),
        processed_post_text_dl_from_db.info(),
        processed_feed_data_like_from_db.info(),
        clear_post_text_from_db.info())

display(processed_user_data_from_db,
        processed_post_text_dl_from_db,
        processed_feed_data_like_from_db,
        clear_post_text_from_db)

<class 'pandas.DataFrame'>
RangeIndex: 163205 entries, 0 to 163204
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   user_id              163205 non-null  int64
 1   gender               163205 non-null  int64
 2   os                   163205 non-null  int64
 3   source               163205 non-null  int64
 4   city_countscaled     163205 non-null  float64
 5   country_countscaled  163205 non-null  float64
 6   age_group_18_20      163205 non-null  int64
 7   age_group_20_22      163205 non-null  int64
 8   age_group_22_25      163205 non-null  int64
 9   age_group_25_30      163205 non-null  int64
 10  age_group_30_35      163205 non-null  int64
 11  age_group_35_40      163205 non-null  int64
 12  age_group_gt_40      163205 non-null  int64
 13  exp_group_1          163205 non-null  int64
 14  exp_group_2          163205 non-null  int64
 15  exp_group_3          163205 non-null  int64
 16  exp_group_4          163205 non-null  int64
dtypes: float64(2), int64(15)
memory usage: 21.2 MB
<class 'pandas.DataFrame'>
RangeIndex: 7023 entries, 0 to 7022
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   post_id                 7023 non-null   int64
 1   text_cluster            7023 non-null   int64
 2   distance_to_cluster_0   7023 non-null   float64
 3   distance_to_cluster_1   7023 non-null   float64
 4   distance_to_cluster_2   7023 non-null   float64
 5   distance_to_cluster_3   7023 non-null   float64
 6   distance_to_cluster_4   7023 non-null   float64
 7   distance_to_cluster_5   7023 non-null   float64
 8   distance_to_cluster_6   7023 non-null   float64
 9   distance_to_cluster_7   7023 non-null   float64
 10  distance_to_cluster_8   7023 non-null   float64
 11  distance_to_cluster_9   7023 non-null   float64
 12  distance_to_cluster_10  7023 non-null   float64
 13  distance_to_cluster_11  7023 non-null   float64
 14  distance_to_cluster_12  7023 non-null   float64
 15  distance_to_cluster_13  7023 non-null   float64
 16  distance_to_cluster_14  7023 non-null   float64
 17  topic_covid             7023 non-null   int64
 18  topic_entertainment     7023 non-null   int64
 19  topic_movie             7023 non-null   int64
 20  topic_politics          7023 non-null   int64
 21  topic_sport             7023 non-null   int64
 22  topic_tech              7023 non-null   int64
dtypes: float64(15), int64(8)
memory usage: 1.2 MB
<class 'pandas.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  100000 non-null  int64
 1   post_id  100000 non-null  int64
dtypes: int64(2)
memory usage: 1.5 MB
<class 'pandas.DataFrame'>
RangeIndex: 7023 entries, 0 to 7022
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   post_id  7023 non-null   int64
 1   text     7023 non-null   str
 2   topic    7023 non-null   str
dtypes: int64(1), str(2)
memory usage: 164.7 KB

None

None

None

None

,user_id,gender,os,source,city_countscaled,country_countscaled,age_group_18_20,age_group_20_22,age_group_22_25,age_group_25_30,age_group_30_35,age_group_35_40,age_group_gt_40,exp_group_1,exp_group_2,exp_group_3,exp_group_4
0,200,1,0,0,-0.492196,0.375419,0,0,0,0,1,0,0,0,0,1,0
1,201,0,0,0,-0.461974,0.375419,0,0,0,0,0,1,0,0,0,0,0
2,202,1,0,0,-0.435580,0.375419,0,0,0,0,0,0,0,0,0,0,1
3,203,0,1,0,2.496407,0.375419,1,0,0,0,0,0,0,1,0,0,0
4,204,0,0,0,-0.480572,0.375419,0,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163200,168548,0,0,1,-0.417118,0.375419,0,0,0,0,0,1,0,0,0,0,1
163201,168549,0,0,1,-0.409050,0.375419,1,0,0,0,0,0,0,0,1,0,0
163202,168550,1,0,1,-0.231818,0.375419,0,0,0,0,0,0,1,0,0,0,1
163203,168551,0,1,1,2.496407,0.375419,0,0,0,0,0,1,0,0,0,1,0
163204,168552,1,0,1,-0.482213,0.375419,0,0,0,0,0,0,0,0,0,0,1

,post_id,text_cluster,distance_to_cluster_0,distance_to_cluster_1,distance_to_cluster_2,distance_to_cluster_3,distance_to_cluster_4,distance_to_cluster_5,distance_to_cluster_6,distance_to_cluster_7,...,distance_to_cluster_11,distance_to_cluster_12,distance_to_cluster_13,distance_to_cluster_14,topic_covid,topic_entertainment,topic_movie,topic_politics,topic_sport,topic_tech
0,1,9,3.275572,3.443513,3.469100,2.986742,1.948664,3.592508,3.383040,3.612148,...,3.400342,2.830196,2.372013,3.463925,0,0,0,0,0,0
1,2,9,3.192135,3.133694,3.244608,2.846341,2.196497,3.373540,3.331997,3.351419,...,3.336037,2.545622,2.334076,3.385151,0,0,0,0,0,0
2,3,9,2.974873,3.141050,3.392259,3.072776,1.817808,3.338185,3.459793,3.359396,...,3.375446,2.862795,2.404512,3.426456,0,0,0,0,0,0
3,4,4,3.202792,3.771742,4.060500,3.302980,2.426471,3.235161,3.748735,3.805814,...,3.738622,3.358398,2.818986,3.645685,0,0,0,0,0,0
4,5,4,2.978371,2.805885,3.242360,2.653685,1.472535,3.043557,2.781908,3.042039,...,2.817385,2.136082,2.047634,3.083162,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,7315,11,3.082503,1.834552,3.396313,2.826148,3.000543,2.006451,1.805223,2.940562,...,1.308614,2.298392,2.735910,3.154152,0,0,1,0,0,0
7019,7316,11,2.887662,1.800025,3.383409,2.509571,2.963336,1.797055,1.512296,2.583630,...,0.929435,2.204309,2.440939,2.938149,0,0,1,0,0,0
7020,7317,11,2.693023,1.996829,3.464333,2.553049,3.183830,2.234073,2.017127,2.375831,...,1.542911,2.417808,2.809133,2.899021,0,0,1,0,0,0
7021,7318,6,3.359132,1.617927,3.410661,3.112874,3.194130,1.661280,1.049354,3.296159,...,1.469077,2.262688,2.982443,3.463953,0,0,1,0,0,0
7022,7319,1,3.193043,1.805112,3.604249,2.987860,3.306223,2.016449,1.990794,3.026612,...,2.166254,2.628270,2.896080,3.330238,0,0,1,0,0,0

       user_id  post_id
0       156604      573
1       142997     6445
2       122594     4554
3         8663     3837
4        94081     5671
...        ...      ...
99995   137312     1428
99996   130512     1449
99997    95202     5100
99998     2977     6657
99999   110112      206

[100000 rows x 2 columns]

      post_id                                               text     topic
0           1  UK economy facing major risks\n\nThe UK manufa...  business
1           2  Aids and climate top Davos agenda\n\nClimate c...  business
2           3  Asian quake hits European shares\n\nShares in ...  business
3           4  India power shares jump on debut\n\nShares in ...  business
4           5  Lacroix label bought by US firm\n\nLuxury good...  business
...       ...                                                ...       ...
7018     7314  Although the likeliness of someone focusing on...     movie
7019     7315  OK, I would not normally watch a Farrelly brot...     movie
7020     7317  I cant believe this film was allowed to be mad...     movie
7021     7318  The version I saw of this film was the Blockbu...     movie
7022     7319  Piece of subtle art. Maybe a masterpiece. Doub...     movie

[7023 rows x 3 columns]

## üéØ 8. –í—ã–≤–æ–¥—ã –∏ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã

### –ö–ª—é—á–µ–≤—ã–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã:
1. **–ö–∞—á–µ—Å—Ç–≤–æ –º–æ–¥–µ–ª–∏ (DL)**: AUC-ROC = 0.62-0.65
2. **–ö–∞—á–µ—Å—Ç–≤–æ –º–æ–¥–µ–ª–∏ (prod)**: HitRate@5 = 0.604
3. **–°—Ä–µ–¥–Ω–µ–µ –≤—Ä–µ–º—è —Ä–∞–±–æ—Ç—ã –æ–¥–Ω–æ–≥–æ –∑–∞–ø—Ä–æ—Å–∞:** 0,5 —Å–µ–∫—É–Ω–¥