# –ê–Ω–∞–ª–∏–∑ A/B-—ç–∫—Å–ø–µ—Ä–∏–º–µ–Ω—Ç–∞ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ç–µ–ª—å–Ω–æ–π —Å–∏—Å—Ç–µ–º—ã

## –¶–µ–ª—å –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è

–û—Ü–µ–Ω–∏—Ç—å, —É–ª—É—á—à–∞–µ—Ç –ª–∏ —Ç–µ—Å—Ç–æ–≤–∞—è –º–æ–¥–µ–ª—å —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–π –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫—É—é –≤–æ–≤–ª–µ—á—ë–Ω–Ω–æ—Å—Ç—å –ø–æ —Å—Ä–∞–≤–Ω–µ–Ω–∏—é —Å –∫–æ–Ω—Ç—Ä–æ–ª—å–Ω–æ–π –º–æ–¥–µ–ª—å—é.

# 1. –ò–º–ø–æ—Ä—Ç –±–∏–±–ª–∏–æ—Ç–µ–∫

In [1]:
import numpy as np
import pandas as pd
import hashlib

from scipy.stats import binomtest, mannwhitneyu, ttest_ind
from statsmodels.stats.proportion import proportions_ztest

# 2. –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö

In [2]:
%%time

views = pd.read_csv('views.csv')
likes = pd.read_csv('likes.csv')


display(views.info(),
        likes.info())

display(views,
        likes)

<class 'pandas.DataFrame'>
RangeIndex: 193295 entries, 0 to 193294
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   user_id          193295 non-null  int64
 1   exp_group        193295 non-null  str
 2   recommendations  193295 non-null  str
 3   timestamp        193295 non-null  int64
dtypes: int64(2), str(2)
memory usage: 5.9 MB
<class 'pandas.DataFrame'>
RangeIndex: 230176 entries, 0 to 230175
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    230176 non-null  int64
 1   post_id    230176 non-null  int64
 2   timestamp  230176 non-null  int64
dtypes: int64(3)
memory usage: 5.3 MB

None

None

        user_id exp_group             recommendations   timestamp
0        128381   control  [3644 4529 4704 5294 4808]  1654030803
1        146885      test  [1399 1076  797 7015 5942]  1654030811
2         50948      test  [2315 3037 1861 6567 4093]  1654030825
3         37703      test  [2842 1949  162 1588 6794]  1654030826
4         14661      test  [2395 5881 5648 3417  673]  1654030829
...         ...       ...                         ...         ...
193290   158267      test  [1733 6834 4380 1915 1627]  1655240340
193291    63527   control  [2454  191 3873 6404 1588]  1655240347
193292    52169      test  [1368 1709 1616  798 5305]  1655240354
193293   142402      test  [5895 6984 1978 6548 6106]  1655240373
193294    72259   control  [6117 1255 6567 3587 3811]  1655240388

[193295 rows x 4 columns]

        user_id  post_id   timestamp
0        128381     4704  1654030804
1        146885     1399  1654030816
2         50948     2315  1654030828
3         14661      673  1654030831
4         37703     1588  1654030833
...         ...      ...         ...
230171    31851     5964  1655243535
230172    51512     1498  1655243537
230173    34017     5009  1655243573
230174    13267     1787  1655243692
230175    67302     7255  1655243736

[230176 rows x 3 columns]

CPU times: total: 453 ms
Wall time: 512 ms

# 3. –ü—Ä–æ–≤–µ—Ä–∫–∞ –∫–æ–Ω—Å–∏—Å—Ç–µ–Ω—Ç–Ω–æ—Å—Ç–∏ –≥—Ä—É–ø–ø

–ù—É–∂–Ω–æ:

1. –ü—Ä–æ–≤–µ—Ä–∏—Ç—å, –Ω–µ—Ç –ª–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ–ø–∞–ª–∏ –∏ –≤ `control`, –∏ –≤ `test`.
2. –ï—Å–ª–∏ —Ç–∞–∫–∏–µ –µ—Å—Ç—å ‚Äî —É–¥–∞–ª–∏—Ç—å –∏—Ö –ø–æ–ª–Ω–æ—Å—Ç—å—é.
3. –ü–æ—Å—Ç—Ä–æ–∏—Ç—å —Ç–∞–±–ª–∏—Ü—É `user_id ‚Üí exp_group`.
4. –ü—Ä–æ–≤–µ—Ä–∏—Ç—å —Ä–∞–≤–Ω–æ–º–µ—Ä–Ω–æ—Å—Ç—å 50/50.
5. –ü—Ä–∏–º–µ–Ω–∏—Ç—å –±–∏–Ω–æ–º–∏–∞–ª—å–Ω—ã–π —Ç–µ—Å—Ç.

In [3]:
# –î–ª—è –∫–∞–∂–¥–æ–≥–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è —Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –≥—Ä—É–ø–ø
user_group_counts = (
    views
    .groupby("user_id")["exp_group"]
    .nunique()
    .reset_index(name="n_groups")
)

# –ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏, –ø–æ–ø–∞–≤—à–∏–µ –±–æ–ª–µ–µ —á–µ–º –≤ –æ–¥–Ω—É –≥—Ä—É–ø–ø—É
conflicted_users = user_group_counts[user_group_counts["n_groups"] > 1]

print(f"–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –ø–æ–ø–∞–≤—à–∏—Ö –≤ –æ–±–µ –≥—Ä—É–ø–ø—ã: {len(conflicted_users)}")
display(conflicted_users)

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –ø–æ–ø–∞–≤—à–∏—Ö –≤ –æ–±–µ –≥—Ä—É–ø–ø—ã: 4

       user_id  n_groups
10071    25623         2
20633    55788         2
54475   142283         2
57065   148670         2

# 4. –£–¥–∞–ª—è–µ–º –∫–æ–Ω—Ñ–ª–∏–∫—Ç–Ω—ã—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π

In [4]:
# –£–¥–∞–ª—è–µ–º –∫–æ–Ω—Ñ–ª–∏–∫—Ç–Ω—ã—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –∏–∑ –≤—ã–±–æ—Ä–∫–∏
clean_views = views[~views["user_id"].isin(conflicted_users["user_id"])].copy()
print(f"–†–∞–∑–º–µ—Ä –¥–∞–Ω–Ω—ã—Ö –ø–æ—Å–ª–µ –æ—á–∏—Å—Ç–∫–∏: {clean_views.shape}")

–†–∞–∑–º–µ—Ä –¥–∞–Ω–Ω—ã—Ö –ø–æ—Å–ª–µ –æ—á–∏—Å—Ç–∫–∏: (193268, 4)

# 5. –°—Ç—Ä–æ–∏–º —Ç–∞–±–ª–∏—Ü—É —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–∏—è user ‚Üí –≥—Ä—É–ø–ø–∞

–¢–µ–ø–µ—Ä—å –≥–∞—Ä–∞–Ω—Ç–∏—Ä–æ–≤–∞–Ω–Ω–æ —É –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è —Ç–æ–ª—å–∫–æ –æ–¥–Ω–∞ –≥—Ä—É–ø–ø–∞.

In [5]:
# –°—Ç—Ä–æ–∏–º —Ç–∞–±–ª–∏—Ü—É user_id ‚Üí exp_group
user_groups = (
    clean_views
    .groupby("user_id")["exp_group"]
    .first()
    .reset_index()
)

display(user_groups)

       user_id exp_group
0          200      test
1          201      test
2          202      test
3          212      test
4          213      test
...        ...       ...
65004   168538      test
65005   168541   control
65006   168544      test
65007   168545      test
65008   168552   control

[65009 rows x 2 columns]

# 6. –ü—Ä–æ–≤–µ—Ä–∫–∞ —Ä–∞–≤–Ω–æ–º–µ—Ä–Ω–æ—Å—Ç–∏ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è

–ü–æ—Å–º–æ—Ç—Ä–∏–º –ø—Ä–æ–ø–æ—Ä—Ü–∏–∏:

In [6]:
group_distribution = (
    user_groups["exp_group"]
    .value_counts(normalize=True)
)

group_counts = user_groups["exp_group"].value_counts()

print("–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –≤ –≥—Ä—É–ø–ø–∞—Ö:")
display(group_counts)

print("\n–î–æ–ª–∏ –≥—Ä—É–ø–ø:")
display(group_distribution)

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –≤ –≥—Ä—É–ø–ø–∞—Ö:

exp_group
test       32659
control    32350
Name: count, dtype: int64

–î–æ–ª–∏ –≥—Ä—É–ø–ø:

exp_group
test       0.502377
control    0.497623
Name: proportion, dtype: float64

# 7. –ë–∏–Ω–æ–º–∏–∞–ª—å–Ω—ã–π —Ç–µ—Å—Ç (–ø—Ä–æ–≤–µ—Ä–∫–∞ 50/50)

–¢–µ–ø–µ—Ä—å –ø—Ä–æ–≤–µ—Ä–∏–º —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏: —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É–µ—Ç –ª–∏ –¥–æ–ª—è –∫–æ–Ω—Ç—Ä–æ–ª—å–Ω–æ–π –≥—Ä—É–ø–ø—ã –æ–∂–∏–¥–∞–µ–º—ã–º 0.5.

In [7]:
n_total = len(user_groups)
n_control = group_counts.get("control", 0)

# –ë–∏–Ω–æ–º–∏–∞–ª—å–Ω—ã–π —Ç–µ—Å—Ç: H0 ‚Äî –¥–æ–ª—è control = 0.5
binom_result = binomtest(
    k=n_control,
    n=n_total,
    p=0.5,
    alternative="two-sided"
)

print("–ë–∏–Ω–æ–º–∏–∞–ª—å–Ω—ã–π —Ç–µ—Å—Ç –Ω–∞ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–∏–µ 50/50:")
print(f"p-value = {binom_result.pvalue:.6f}")

–ë–∏–Ω–æ–º–∏–∞–ª—å–Ω—ã–π —Ç–µ—Å—Ç –Ω–∞ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–∏–µ 50/50:
p-value = 0.227050

# üìå –ö–∞–∫ –∏–Ω—Ç–µ—Ä–ø—Ä–µ—Ç–∏—Ä–æ–≤–∞—Ç—å

* **p-value > 0.05** ‚Üí —Ä–∞–∑–±–∏–µ–Ω–∏–µ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É–µ—Ç 50/50
* **p-value < 0.05** ‚Üí —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏ –∑–Ω–∞—á–∏–º–æ–µ –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏–µ

# 8. –ü–æ–¥–≥–æ—Ç–æ–≤–∫–∞ —Ç–∞–±–ª–∏—Ü—ã –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π —ç–∫—Å–ø–µ—Ä–∏–º–µ–Ω—Ç–∞

In [8]:
# –ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏, —É—á–∞—Å—Ç–≤–æ–≤–∞–≤—à–∏–µ –≤ —ç–∫—Å–ø–µ—Ä–∏–º–µ–Ω—Ç–µ
experiment_users = user_groups[["user_id"]].copy()

print(f"–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –≤ —ç–∫—Å–ø–µ—Ä–∏–º–µ–Ω—Ç–µ: {len(experiment_users)}")
display(experiment_users)

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –≤ —ç–∫—Å–ø–µ—Ä–∏–º–µ–Ω—Ç–µ: 65009

       user_id
0          200
1          201
2          202
3          212
4          213
...        ...
65004   168538
65005   168541
65006   168544
65007   168545
65008   168552

[65009 rows x 1 columns]

# 9. –°—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ª–∞–π–∫–æ–≤ –Ω–∞ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è

In [9]:
user_likes = (
    likes
    .groupby("user_id")
    .size()
    .reset_index(name="n_likes")
)

display(user_likes)

       user_id  n_likes
0          200        1
1          201        3
2          202        2
3          212        4
4          213        7
...        ...      ...
58166   168525        2
58167   168532        4
58168   168538        5
58169   168541        2
58170   168545        5

[58171 rows x 2 columns]

# 10. –û–±—ä–µ–¥–∏–Ω—è–µ–º –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –∏ –ª–∞–π–∫–∏

–í–∞–∂–Ω–æ: –∏—Å–ø–æ–ª—å–∑—É–µ–º `left join`, —á—Ç–æ–±—ã —Å–æ—Ö—Ä–∞–Ω–∏—Ç—å –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –±–µ–∑ –ª–∞–π–∫–æ–≤.

In [10]:
# –û–±—ä–µ–¥–∏–Ω—è–µ–º –¥–∞–Ω–Ω—ã–µ
user_activity = (
    experiment_users
    .merge(user_likes, on="user_id", how="left")
)

# –ó–∞–ø–æ–ª–Ω—è–µ–º –ø—Ä–æ–ø—É—Å–∫–∏ –Ω—É–ª—è–º–∏ (–µ—Å–ª–∏ –ª–∞–π–∫–æ–≤ –Ω–µ –±—ã–ª–æ)
user_activity["n_likes"] = user_activity["n_likes"].fillna(0).astype(int)

display(user_activity)

       user_id  n_likes
0          200        1
1          201        3
2          202        2
3          212        4
4          213        7
...        ...      ...
65004   168538        5
65005   168541        2
65006   168544        0
65007   168545        5
65008   168552        0

[65009 rows x 2 columns]

# 11. –î–æ–ª—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π —Å ‚â•1 –ª–∞–π–∫–æ–º

In [11]:
# –î–æ–ª—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, —Å–¥–µ–ª–∞–≤—à–∏—Ö —Ö–æ—Ç—è –±—ã –æ–¥–∏–Ω –ª–∞–π–∫
share_with_like = (user_activity["n_likes"] > 0).mean()

print(f"–î–æ–ª—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π —Å ‚â•1 –ª–∞–π–∫–æ–º: {share_with_like:.4f}")

–î–æ–ª—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π —Å ‚â•1 –ª–∞–π–∫–æ–º: 0.8948

# –†–∞–∑–º—ã—à–ª–µ–Ω–∏—è

## –ú–µ—Ç—Ä–∏–∫–∞ 1:

### –î–æ–ª—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π —Å ‚â•1 –ª–∞–π–∫–æ–º

* —ç—Ç–æ –±–∏–Ω–∞—Ä–Ω–∞—è –ø–µ—Ä–µ–º–µ–Ω–Ω–∞—è (0/1)  
* —Å—Ä–∞–≤–Ω–∏–≤–∞–µ–º **–¥–≤–µ –¥–æ–ª–∏**  
* –ø–æ–¥—Ö–æ–¥–∏—Ç **z-test –¥–ª—è –ø—Ä–æ–ø–æ—Ä—Ü–∏–π**  

## –ú–µ—Ç—Ä–∏–∫–∞ 2:

### –ß–∏—Å–ª–æ –ª–∞–π–∫–æ–≤ –Ω–∞ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è

* —ç—Ç–æ –¥–∏—Å–∫—Ä–µ—Ç–Ω–∞—è —Å—á—ë—Ç–Ω–∞—è –≤–µ–ª–∏—á–∏–Ω–∞
* —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ —è–≤–Ω–æ –Ω–µ –Ω–æ—Ä–º–∞–ª—å–Ω–æ–µ
* –º–Ω–æ–≥–æ –Ω—É–ª–µ–π
* heavy tail

‚ùó t-test –ø–ª–æ—Ö–æ –ø–æ–¥—Ö–æ–¥–∏—Ç  
‚ùó –ª—É—á—à–µ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å **Mann‚ÄìWhitney U test**

# 12. –î–æ–±–∞–≤–ª—è–µ–º –≥—Ä—É–ø–ø—É –∫ user_activity

In [12]:
# –î–æ–±–∞–≤–ª—è–µ–º –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –≥—Ä—É–ø–ø–µ
user_activity = user_activity.merge(
    user_groups,
    on="user_id",
    how="left"
)

display(user_activity)

       user_id  n_likes exp_group
0          200        1      test
1          201        3      test
2          202        2      test
3          212        4      test
4          213        7      test
...        ...      ...       ...
65004   168538        5      test
65005   168541        2   control
65006   168544        0      test
65007   168545        5      test
65008   168552        0   control

[65009 rows x 3 columns]

# 13. –ú–µ—Ç—Ä–∏–∫–∞ 1 ‚Äî –¥–æ–ª—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π —Å ‚â•1 –ª–∞–π–∫–æ–º –ø–æ –≥—Ä—É–ø–ø–∞–º

In [13]:
# –î–æ–±–∞–≤–ª—è–µ–º –±–∏–Ω–∞—Ä–Ω—ã–π –ø—Ä–∏–∑–Ω–∞–∫
user_activity["has_like"] = (user_activity["n_likes"] > 0).astype(int)

# –°—á–∏—Ç–∞–µ–º –¥–æ–ª–∏
group_share = (
    user_activity
    .groupby("exp_group")["has_like"]
    .mean()
)

display(group_share)

exp_group
control    0.891314
test       0.898160
Name: has_like, dtype: float64

# –°—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏–π —Ç–µ—Å—Ç –¥–ª—è –¥–æ–ª–µ–π (z-test)

In [14]:
# –ü–æ–¥–≥–æ—Ç–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö
success = user_activity.groupby("exp_group")["has_like"].sum().values
total = user_activity.groupby("exp_group")["has_like"].count().values

# z-test
z_stat, p_value = proportions_ztest(count=success, nobs=total)

print("Z-test –¥–ª—è –¥–æ–ª–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π —Å ‚â•1 –ª–∞–π–∫–æ–º")
print(f"z-stat = {z_stat:.4f}")
print(f"p-value = {p_value:.6f}")

Z-test –¥–ª—è –¥–æ–ª–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π —Å ‚â•1 –ª–∞–π–∫–æ–º
z-stat = -2.8440
p-value = 0.004455

# –†–µ–∑—É–ª—å—Ç–∞—Ç—ã:

```
control = 0.8913
test    = 0.8982
p-value = 0.004455
```

üîé –†–∞–∑–Ω–∏—Ü–∞ ‚âà **+0.0068 (0.68 –ø.–ø.)**  
üìâ p-value < 0.05

**–†–∞–∑–ª–∏—á–∏–µ —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏ –∑–Ω–∞—á–∏–º–æ.**

# 14. –ú–µ—Ç—Ä–∏–∫–∞ 2 ‚Äî —á–∏—Å–ª–æ –ª–∞–π–∫–æ–≤ –Ω–∞ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è

In [15]:
control_likes = user_activity[user_activity["exp_group"] == "control"]["n_likes"]
test_likes = user_activity[user_activity["exp_group"] == "test"]["n_likes"]

u_stat, p_value_mw = mannwhitneyu(
    control_likes,
    test_likes,
    alternative="two-sided"
)

print("Mann‚ÄìWhitney U test –¥–ª—è —á–∏—Å–ª–∞ –ª–∞–π–∫–æ–≤")
print(f"U-stat = {u_stat:.4f}")
print(f"p-value = {p_value_mw:.6f}")

Mann‚ÄìWhitney U test –¥–ª—è —á–∏—Å–ª–∞ –ª–∞–π–∫–æ–≤
U-stat = 518358073.0000
p-value = 0.000030

# –†–µ–∑—É–ª—å—Ç–∞—Ç—ã:

```
p-value = 0.000030
```

**–†–∞–∑–ª–∏—á–∏–µ —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏ –∑–Ω–∞—á–∏–º–æ.**

# 15. –§–∏–Ω–∞–ª—å–Ω–∞—è –∏–Ω—Ç–µ—Ä–ø—Ä–µ—Ç–∞—Ü–∏—è —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤

In [16]:
alpha = 0.05

print("=== –ò–Ω—Ç–µ—Ä–ø—Ä–µ—Ç–∞—Ü–∏—è —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ ===\n")

print("1. –î–æ–ª—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π —Å ‚â•1 –ª–∞–π–∫–æ–º:")
print(f"   p-value = {p_value:.6f}")

if p_value < alpha:
    print("   -> –†–∞–∑–ª–∏—á–∏–µ —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏ –∑–Ω–∞—á–∏–º–æ.")
else:
    print("   -> –°—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏ –∑–Ω–∞—á–∏–º–æ–≥–æ —Ä–∞–∑–ª–∏—á–∏—è –Ω–µ—Ç.")

print("\n2. –ß–∏—Å–ª–æ –ª–∞–π–∫–æ–≤ –Ω–∞ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è:")
print(f"   p-value = {p_value_mw:.6f}")

if p_value_mw < alpha:
    print("   -> –†–∞–∑–ª–∏—á–∏–µ —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏ –∑–Ω–∞—á–∏–º–æ.")
else:
    print("   -> –°—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏ –∑–Ω–∞—á–∏–º–æ–≥–æ —Ä–∞–∑–ª–∏—á–∏—è –Ω–µ—Ç.")

=== –ò–Ω—Ç–µ—Ä–ø—Ä–µ—Ç–∞—Ü–∏—è —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ ===

1. –î–æ–ª—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π —Å ‚â•1 –ª–∞–π–∫–æ–º:
   p-value = 0.004455
   -> –†–∞–∑–ª–∏—á–∏–µ —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏ –∑–Ω–∞—á–∏–º–æ.

2. –ß–∏—Å–ª–æ –ª–∞–π–∫–æ–≤ –Ω–∞ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è:
   p-value = 0.000030
   -> –†–∞–∑–ª–∏—á–∏–µ —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏ –∑–Ω–∞—á–∏–º–æ.

# –ì–ª–∞–≤–Ω—ã–π —Å–º—ã—Å–ª

> –°—Ç–∞–ª–∏ –ª–∏ –ª—é–¥–∏ —Å—Ç–∞–≤–∏—Ç—å –±–æ–ª—å—à–µ –ª–∞–π–∫–æ–≤ –≤ —Ç–µ—Å—Ç–æ–≤–æ–π –≥—Ä—É–ø–ø–µ?

–í—ã–≤–æ–¥:

- –î–æ–ª—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π —Å —Ö–æ—Ç—è –±—ã –æ–¥–Ω–∏–º –ª–∞–π–∫–æ–º –≤—ã—à–µ –≤ test
- –ß–∏—Å–ª–æ –ª–∞–π–∫–æ–≤ –Ω–∞ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏ –≤—ã—à–µ –≤ test
- –†–∞–∑–ª–∏—á–∏—è —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏ –∑–Ω–∞—á–∏–º—ã –ø—Ä–∏ Œ± = 0.05

–ó–Ω–∞—á–∏—Ç: **–¢–µ—Å—Ç–æ–≤–∞—è –º–æ–¥–µ–ª—å –ø—Ä–∏–≤–æ–¥–∏—Ç –∫ —Ä–æ—Å—Ç—É –≤–æ–≤–ª–µ—á—ë–Ω–Ω–æ—Å—Ç–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π.**

# 16. –ü—Ä–∏–≤–æ–¥–∏–º recommendations –∫ —Å–ø–∏—Å–∫—É post_id

–°–µ–π—á–∞—Å –æ–Ω–∏ —Å—Ç—Ä–æ–∫–æ–π –≤–∏–¥–∞:
```
[3644 4529 4704 5294 4808]
```
–ù—É–∂–Ω–æ –ø—Ä–µ–≤—Ä–∞—Ç–∏—Ç—å –≤ —Å–ø–∏—Å–æ–∫ —á–∏—Å–µ–ª.

In [17]:
# –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º —Å—Ç—Ä–æ–∫—É —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–π –≤ —Å–ø–∏—Å–æ–∫ post_id
def parse_recommendations(rec_str):
    rec_str = rec_str.strip("[]")
    return list(map(int, rec_str.split()))

views["rec_list"] = views["recommendations"].apply(parse_recommendations)

display(views[["recommendations", "rec_list"]])

                   recommendations                        rec_list
0       [3644 4529 4704 5294 4808]  [3644, 4529, 4704, 5294, 4808]
1       [1399 1076  797 7015 5942]   [1399, 1076, 797, 7015, 5942]
2       [2315 3037 1861 6567 4093]  [2315, 3037, 1861, 6567, 4093]
3       [2842 1949  162 1588 6794]   [2842, 1949, 162, 1588, 6794]
4       [2395 5881 5648 3417  673]   [2395, 5881, 5648, 3417, 673]
...                            ...                             ...
193290  [1733 6834 4380 1915 1627]  [1733, 6834, 4380, 1915, 1627]
193291  [2454  191 3873 6404 1588]   [2454, 191, 3873, 6404, 1588]
193292  [1368 1709 1616  798 5305]   [1368, 1709, 1616, 798, 5305]
193293  [5895 6984 1978 6548 6106]  [5895, 6984, 1978, 6548, 6106]
193294  [6117 1255 6567 3587 3811]  [6117, 1255, 6567, 3587, 3811]

[193295 rows x 2 columns]

# 17. –ì–æ—Ç–æ–≤–∏–º —Ç–∞–±–ª–∏—Ü—ã

In [18]:
views_small = views[["user_id", "timestamp", "rec_list"]].copy()
likes_small = likes.copy()

display(views_small,
        likes_small)

        user_id   timestamp                        rec_list
0        128381  1654030803  [3644, 4529, 4704, 5294, 4808]
1        146885  1654030811   [1399, 1076, 797, 7015, 5942]
2         50948  1654030825  [2315, 3037, 1861, 6567, 4093]
3         37703  1654030826   [2842, 1949, 162, 1588, 6794]
4         14661  1654030829   [2395, 5881, 5648, 3417, 673]
...         ...         ...                             ...
193290   158267  1655240340  [1733, 6834, 4380, 1915, 1627]
193291    63527  1655240347   [2454, 191, 3873, 6404, 1588]
193292    52169  1655240354   [1368, 1709, 1616, 798, 5305]
193293   142402  1655240373  [5895, 6984, 1978, 6548, 6106]
193294    72259  1655240388  [6117, 1255, 6567, 3587, 3811]

[193295 rows x 3 columns]

        user_id  post_id   timestamp
0        128381     4704  1654030804
1        146885     1399  1654030816
2         50948     2315  1654030828
3         14661      673  1654030831
4         37703     1588  1654030833
...         ...      ...         ...
230171    31851     5964  1655243535
230172    51512     1498  1655243537
230173    34017     5009  1655243573
230174    13267     1787  1655243692
230175    67302     7255  1655243736

[230176 rows x 3 columns]

# 18. –î–µ–ª–∞–µ–º join –ø–æ user_id

In [19]:
joined = views_small.merge(
    likes_small,
    on="user_id",
    how="left",
    suffixes=("_view", "_like")
)

display(joined)

,user_id,timestamp_view,rec_list,post_id,timestamp_like
0,128381,1654030803,"[3644, 4529, 4704, 5294, 4808]",4704.0,1.654031e+09
1,128381,1654030803,"[3644, 4529, 4704, 5294, 4808]",5294.0,1.654031e+09
2,128381,1654030803,"[3644, 4529, 4704, 5294, 4808]",3608.0,1.655049e+09
3,128381,1654030803,"[3644, 4529, 4704, 5294, 4808]",2542.0,1.655049e+09
4,128381,1654030803,"[3644, 4529, 4704, 5294, 4808]",4165.0,1.655053e+09
...,...,...,...,...,...
1017168,52169,1655240354,"[1368, 1709, 1616, 798, 5305]",1709.0,1.655240e+09
1017169,142402,1655240373,"[5895, 6984, 1978, 6548, 6106]",6548.0,1.655240e+09
1017170,72259,1655240388,"[6117, 1255, 6567, 3587, 3811]",1712.0,1.654305e+09
1017171,72259,1655240388,"[6117, 1255, 6567, 3587, 3811]",5070.0,1.654309e+09
1017172,72259,1655240388,"[6117, 1255, 6567, 3587, 3811]",4711.0,1.654949e+09

# 19. –§–∏–ª—å—Ç—Ä—É–µ–º –ø–æ –≤—Ä–µ–º–µ–Ω–∏

1 —á–∞—Å = 3600 —Å–µ–∫—É–Ω–¥

In [20]:
# –õ–∞–π–∫ –ø—Ä–æ–∏–∑–æ—à—ë–ª –ø–æ—Å–ª–µ –ø–æ–∫–∞–∑–∞
cond_time_after = joined["timestamp_like"] >= joined["timestamp_view"]

# –õ–∞–π–∫ –Ω–µ –ø–æ–∑–¥–Ω–µ–µ 1 —á–∞—Å–∞
cond_time_window = (
    joined["timestamp_like"] - joined["timestamp_view"] <= 3600
)

filtered = joined[cond_time_after & cond_time_window].copy()
display(filtered)

,user_id,timestamp_view,rec_list,post_id,timestamp_like
0,128381,1654030803,"[3644, 4529, 4704, 5294, 4808]",4704.0,1.654031e+09
1,128381,1654030803,"[3644, 4529, 4704, 5294, 4808]",5294.0,1.654031e+09
7,146885,1654030811,"[1399, 1076, 797, 7015, 5942]",1399.0,1.654031e+09
11,50948,1654030825,"[2315, 3037, 1861, 6567, 4093]",2315.0,1.654031e+09
16,37703,1654030826,"[2842, 1949, 162, 1588, 6794]",1588.0,1.654031e+09
...,...,...,...,...,...
1017160,119630,1655240337,"[3143, 599, 4588, 1577, 7077]",599.0,1.655240e+09
1017163,158267,1655240340,"[1733, 6834, 4380, 1915, 1627]",6834.0,1.655240e+09
1017167,63527,1655240347,"[2454, 191, 3873, 6404, 1588]",3873.0,1.655240e+09
1017168,52169,1655240354,"[1368, 1709, 1616, 798, 5305]",1709.0,1.655240e+09
1017169,142402,1655240373,"[5895, 6984, 1978, 6548, 6106]",6548.0,1.655240e+09

# 20. –ü—Ä–æ–≤–µ—Ä—è–µ–º, –±—ã–ª –ª–∏ –ª–∞–π–∫ –≤ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏—è—Ö

In [21]:
# –ü—Ä–æ–≤–µ—Ä—è–µ–º, –≤—Ö–æ–¥–∏—Ç –ª–∏ post_id –ª–∞–π–∫–∞ –≤ —Å–ø–∏—Å–æ–∫ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–π

filtered["is_recommended"] = filtered.apply(
    lambda row: row["post_id"] in row["rec_list"],
    axis=1
)

filtered = filtered[filtered["is_recommended"]]
display(filtered)

,user_id,timestamp_view,rec_list,post_id,timestamp_like,is_recommended
0,128381,1654030803,"[3644, 4529, 4704, 5294, 4808]",4704.0,1.654031e+09,True
1,128381,1654030803,"[3644, 4529, 4704, 5294, 4808]",5294.0,1.654031e+09,True
7,146885,1654030811,"[1399, 1076, 797, 7015, 5942]",1399.0,1.654031e+09,True
11,50948,1654030825,"[2315, 3037, 1861, 6567, 4093]",2315.0,1.654031e+09,True
16,37703,1654030826,"[2842, 1949, 162, 1588, 6794]",1588.0,1.654031e+09,True
...,...,...,...,...,...,...
1017160,119630,1655240337,"[3143, 599, 4588, 1577, 7077]",599.0,1.655240e+09,True
1017163,158267,1655240340,"[1733, 6834, 4380, 1915, 1627]",6834.0,1.655240e+09,True
1017167,63527,1655240347,"[2454, 191, 3873, 6404, 1588]",3873.0,1.655240e+09,True
1017168,52169,1655240354,"[1368, 1709, 1616, 798, 5305]",1709.0,1.655240e+09,True
1017169,142402,1655240373,"[5895, 6984, 1978, 6548, 6106]",6548.0,1.655240e+09,True

# 21. –ê–≥—Ä–µ–≥–∏—Ä—É–µ–º –∫ —É—Ä–æ–≤–Ω—é –ø–æ–∫–∞–∑–∞

–¢–µ–ø–µ—Ä—å –Ω–∞–º –Ω—É–∂–Ω–æ –ø–æ–ª—É—á–∏—Ç—å —Ç–∞–±–ª–∏—Ü—É:
```
(user_id, timestamp_view) ‚Üí –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ª–∞–π–∫–æ–≤
```

In [22]:
likes_per_view = (
    filtered
    .groupby(["user_id", "timestamp_view"])
    .size()
    .reset_index(name="n_likes_view")
)

display(likes_per_view)

        user_id  timestamp_view  n_likes_view
0           200      1655009047             1
1           201      1654444704             1
2           201      1654664039             2
3           202      1654480554             2
4           212      1654102755             3
...         ...             ...           ...
137866   168541      1655016237             2
137867   168545      1654050845             2
137868   168545      1654295281             1
137869   168545      1654412184             1
137870   168545      1654887207             1

[137871 rows x 3 columns]

# 22. –í–æ–∑–≤—Ä–∞—â–∞–µ–º –ø–æ–∫–∞–∑—ã –±–µ–∑ –ª–∞–π–∫–æ–≤

–û—á–µ–Ω—å –≤–∞–∂–Ω–æ ‚Äî –Ω–∞–º –Ω—É–∂–Ω—ã –í–°–ï –ø–æ–∫–∞–∑—ã

In [23]:
all_views = views_small.rename(columns={"timestamp": "timestamp_view"})

views_with_likes = all_views.merge(
    likes_per_view,
    on=["user_id", "timestamp_view"],
    how="left"
)

views_with_likes["n_likes_view"] = views_with_likes["n_likes_view"].fillna(0)

display(views_with_likes)

        user_id  timestamp_view                        rec_list  n_likes_view
0        128381      1654030803  [3644, 4529, 4704, 5294, 4808]           2.0
1        146885      1654030811   [1399, 1076, 797, 7015, 5942]           1.0
2         50948      1654030825  [2315, 3037, 1861, 6567, 4093]           1.0
3         37703      1654030826   [2842, 1949, 162, 1588, 6794]           2.0
4         14661      1654030829   [2395, 5881, 5648, 3417, 673]           1.0
...         ...             ...                             ...           ...
193290   158267      1655240340  [1733, 6834, 4380, 1915, 1627]           1.0
193291    63527      1655240347   [2454, 191, 3873, 6404, 1588]           1.0
193292    52169      1655240354   [1368, 1709, 1616, 798, 5305]           1.0
193293   142402      1655240373  [5895, 6984, 1978, 6548, 6106]           1.0
193294    72259      1655240388  [6117, 1255, 6567, 3587, 3811]           0.0

[193295 rows x 4 columns]

# 23. –°—á–∏—Ç–∞–µ–º hitrate

In [24]:
views_with_likes["has_click"] = (views_with_likes["n_likes_view"] > 0).astype(int)

hitrate = views_with_likes["has_click"].mean()

print(f"Hitrate (–¥–æ–ª—è –ø–æ–∫–∞–∑–æ–≤ —Å ‚â•1 –ª–∞–π–∫–æ–º): {hitrate:.4f}")

Hitrate (–¥–æ–ª—è –ø–æ–∫–∞–∑–æ–≤ —Å ‚â•1 –ª–∞–π–∫–æ–º): 0.7133

# –ß—Ç–æ —Å–µ–π—á–∞—Å –ø–æ—Å—á–∏—Ç–∞–ª–∏

–≠—Ç–æ:
> –í–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å —Ç–æ–≥–æ, —á—Ç–æ –ø–æ–∫–∞–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–π –ø—Ä–∏–≤—ë–ª –∫ –∫–ª–∏–∫—É

# 24. –î–æ–±–∞–≤–∏–º exp_group –æ–±—Ä–∞—Ç–Ω–æ –∫ –ø–æ–∫–∞–∑–∞–º

In [25]:
# –î–æ–±–∞–≤–ª—è–µ–º –≥—Ä—É–ø–ø—É –∫ –ø–æ–∫–∞–∑–∞–º
views_with_likes = views_with_likes.merge(
    views[["user_id", "timestamp", "exp_group"]],
    left_on=["user_id", "timestamp_view"],
    right_on=["user_id", "timestamp"],
    how="left"
)

views_with_likes.drop(columns=["timestamp"], inplace=True)

display(views_with_likes)

,user_id,timestamp_view,rec_list,n_likes_view,has_click,exp_group
0,128381,1654030803,"[3644, 4529, 4704, 5294, 4808]",2.0,1,control
1,146885,1654030811,"[1399, 1076, 797, 7015, 5942]",1.0,1,test
2,50948,1654030825,"[2315, 3037, 1861, 6567, 4093]",1.0,1,test
3,37703,1654030826,"[2842, 1949, 162, 1588, 6794]",2.0,1,test
4,14661,1654030829,"[2395, 5881, 5648, 3417, 673]",1.0,1,test
...,...,...,...,...,...,...
193290,158267,1655240340,"[1733, 6834, 4380, 1915, 1627]",1.0,1,test
193291,63527,1655240347,"[2454, 191, 3873, 6404, 1588]",1.0,1,control
193292,52169,1655240354,"[1368, 1709, 1616, 798, 5305]",1.0,1,test
193293,142402,1655240373,"[5895, 6984, 1978, 6548, 6106]",1.0,1,test
193294,72259,1655240388,"[6117, 1255, 6567, 3587, 3811]",0.0,0,control

# 25. –°–æ–∑–¥–∞—ë–º 100 –±–∞–∫–µ—Ç–æ–≤

–ë—É–¥–µ–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å hash user_id

In [26]:
def get_bucket(user_id, n_buckets=100):
    return int(hashlib.md5(str(user_id).encode()).hexdigest(), 16) % n_buckets

views_with_likes["bucket"] = views_with_likes["user_id"].apply(get_bucket)

display(views_with_likes)

,user_id,timestamp_view,rec_list,n_likes_view,has_click,exp_group,bucket
0,128381,1654030803,"[3644, 4529, 4704, 5294, 4808]",2.0,1,control,64
1,146885,1654030811,"[1399, 1076, 797, 7015, 5942]",1.0,1,test,33
2,50948,1654030825,"[2315, 3037, 1861, 6567, 4093]",1.0,1,test,77
3,37703,1654030826,"[2842, 1949, 162, 1588, 6794]",2.0,1,test,60
4,14661,1654030829,"[2395, 5881, 5648, 3417, 673]",1.0,1,test,23
...,...,...,...,...,...,...,...
193290,158267,1655240340,"[1733, 6834, 4380, 1915, 1627]",1.0,1,test,61
193291,63527,1655240347,"[2454, 191, 3873, 6404, 1588]",1.0,1,control,74
193292,52169,1655240354,"[1368, 1709, 1616, 798, 5305]",1.0,1,test,21
193293,142402,1655240373,"[5895, 6984, 1978, 6548, 6106]",1.0,1,test,78
193294,72259,1655240388,"[6117, 1255, 6567, 3587, 3811]",0.0,0,control,10

# 26. –°—á–∏—Ç–∞–µ–º hitrate –ø–æ –±–∞–∫–µ—Ç–∞–º

In [27]:
bucket_stats = (
    views_with_likes
    .groupby(["exp_group", "bucket"])
    .agg(
        total_views=("has_click", "count"),
        total_clicks=("has_click", "sum")
    )
    .reset_index()
)

bucket_stats["bucket_ctr"] = (
    bucket_stats["total_clicks"] / bucket_stats["total_views"]
)

display(bucket_stats)

    exp_group  bucket  total_views  total_clicks  bucket_ctr
0     control       0         1047           735    0.702006
1     control       1          987           688    0.697062
2     control       2         1026           730    0.711501
3     control       3          969           696    0.718266
4     control       4          903           638    0.706534
..        ...     ...          ...           ...         ...
195      test      95          899           635    0.706340
196      test      96          971           698    0.718847
197      test      97          954           714    0.748428
198      test      98          995           715    0.718593
199      test      99          947           687    0.725449

[200 rows x 5 columns]

# 27. –†–∞–∑–¥–µ–ª—è–µ–º –∫–æ–Ω—Ç—Ä–æ–ª—å –∏ —Ç–µ—Å—Ç

In [28]:
control_buckets = bucket_stats[
    bucket_stats["exp_group"] == "control"
]["bucket_ctr"]

test_buckets = bucket_stats[
    bucket_stats["exp_group"] == "test"
]["bucket_ctr"]

# 28. t-test –ø–æ –±–∞–∫–µ—Ç–∞–º

–¢–µ–ø–µ—Ä—å –º–æ–∂–Ω–æ –ø—Ä–∏–º–µ–Ω—è—Ç—å t-test, –ø–æ—Ç–æ–º—É —á—Ç–æ:
- –±–∞–∫–µ—Ç—ã –Ω–µ–∑–∞–≤–∏—Å–∏–º—ã
- –≤—Å–µ–≥–æ 100 –Ω–∞–±–ª—é–¥–µ–Ω–∏–π

In [29]:
t_stat, p_value_bucket = ttest_ind(
    control_buckets,
    test_buckets,
    equal_var=False  # safer –≤–∞—Ä–∏–∞–Ω—Ç
)

print("Bucket-based t-test –¥–ª—è hitrate")
print(f"t-stat = {t_stat:.4f}")
print(f"p-value = {p_value_bucket:.6f}")

Bucket-based t-test –¥–ª—è hitrate
t-stat = -6.0062
p-value = 0.000000

# –ò–Ω—Ç–µ—Ä–ø—Ä–µ—Ç–∞—Ü–∏—è

–ï—Å–ª–∏: `p-value < 0.05` ‚Üí —Ä–∞–∑–ª–∏—á–∏–µ —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏ –∑–Ω–∞—á–∏–º–æ

–ï—Å–ª–∏: `p-value >= 0.05` ‚Üí —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏ –∑–Ω–∞—á–∏–º–æ–≥–æ —Ä–∞–∑–ª–∏—á–∏—è –Ω–µ—Ç

In [30]:
group_hitrate = (
    views_with_likes
    .groupby("exp_group")["has_click"]
    .mean()
)

display(group_hitrate)

uplift = group_hitrate["test"] - group_hitrate["control"]
print(f"–†–∞–∑–Ω–∏—Ü–∞ hitrate: {uplift:.4f} ({uplift*100:.2f} –ø.–ø.)")

exp_group
control    0.706655
test       0.719843
Name: has_click, dtype: float64

–†–∞–∑–Ω–∏—Ü–∞ hitrate: 0.0132 (1.32 –ø.–ø.)

# –§–∏–Ω–∞–ª—å–Ω—ã–π –≤—ã–≤–æ–¥ A/B —ç–∫—Å–ø–µ—Ä–∏–º–µ–Ω—Ç–∞

User-level –º–µ—Ç—Ä–∏–∫–∏:  
‚úî –î–æ–ª—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π —Å ‚â•1 –ª–∞–π–∫–æ–º –≤—ã—Ä–æ—Å–ª–∞  
‚úî –ß–∏—Å–ª–æ –ª–∞–π–∫–æ–≤ –Ω–∞ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è –≤—ã—Ä–æ—Å–ª–æ  

View-level –º–µ—Ç—Ä–∏–∫–∞:  
‚úî Hitrate (CTR) —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏ –∑–Ω–∞—á–∏–º–æ –≤—ã—à–µ –≤ test  

–ò—Ç–æ–≥: **—Ç–µ—Å—Ç–æ–≤–∞—è –º–æ–¥–µ–ª—å —É–ª—É—á—à–∞–µ—Ç –≤–æ–≤–ª–µ—á—ë–Ω–Ω–æ—Å—Ç—å –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π.**