# üìä –ü—Ä–æ–µ–∫—Ç: –†–µ–∫–æ–º–µ–Ω–¥–∞—Ç–µ–ª—å–Ω–∞—è —Å–∏—Å—Ç–µ–º–∞ –¥–ª—è —Å–æ—Ü–∏–∞–ª—å–Ω–æ–π —Å–µ—Ç–∏

## üéØ –ü—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–µ –ª–∞–π–∫–æ–≤ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π
 
**–û–ø–∏—Å–∞–Ω–∏–µ:** –û–±—É—á–µ–Ω–∏–µ CatBoost –º–æ–¥–µ–ª–∏ –¥–ª—è –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è –ª–∞–π–∫–æ–≤ –ø–æ—Å—Ç–æ–≤ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è–º–∏ –Ω–∞ –æ—Å–Ω–æ–≤–µ –∏—Ö –¥–µ–º–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –∏ –∫–æ–Ω—Ç–µ–Ω—Ç–∞ –ø–æ—Å—Ç–æ–≤.

## –ò–º–ø–æ—Ä—Ç –±–∏–±–ª–∏–æ—Ç–µ–∫

In [1]:
import os
import time
import warnings
from io import StringIO

import nltk
import numpy as np
import pandas as pd
import psycopg2
from catboost import CatBoostClassifier
from dotenv import load_dotenv
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from sklearn.decomposition import PCA
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score, precision_score
from sklearn.metrics import average_precision_score, roc_auc_score
from sklearn.metrics import recall_score, f1_score
from sklearn.preprocessing import StandardScaler
from sqlalchemy import create_engine
from sqlalchemy import text

warnings.filterwarnings('ignore')

## üì• 2. –ó–∞–≥—Ä—É–∑–∫–∞ –∏ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

### –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞—Ç–∞—Å–µ—Ç–æ–≤:
- **user_data.csv**: –î–µ–º–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–∏–µ –¥–∞–Ω–Ω—ã–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π (163K –∑–∞–ø–∏—Å–µ–π)
- **post_text.csv**: –¢–µ–∫—Å—Ç—ã –ø–æ—Å—Ç–æ–≤ –∏ –∏—Ö —Ç–µ–º—ã (7K –∑–∞–ø–∏—Å–µ–π)  
- **feed_data.csv**: –í–∑–∞–∏–º–æ–¥–µ–π—Å—Ç–≤–∏—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π —Å –ø–æ—Å—Ç–∞–º–∏ (10M –∑–∞–ø–∏—Å–µ–π)

In [2]:
%%time

user_data = pd.read_csv("user_data.csv")
post_text = pd.read_csv("post_text.csv")
feed_data = pd.read_csv("feed_data_10000000.csv")

CPU times: total: 11.1 s
Wall time: 14.4 s

In [3]:
%%time

display(user_data.info(),
        post_text.info(),
        feed_data.info())

display(user_data,
        post_text,
        feed_data)

<class 'pandas.DataFrame'>
RangeIndex: 163205 entries, 0 to 163204
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    163205 non-null  int64
 1   gender     163205 non-null  int64
 2   age        163205 non-null  int64
 3   country    163205 non-null  str
 4   city       163205 non-null  str
 5   exp_group  163205 non-null  int64
 6   os         163205 non-null  str
 7   source     163205 non-null  str
dtypes: int64(4), str(4)
memory usage: 10.0 MB
<class 'pandas.DataFrame'>
RangeIndex: 7023 entries, 0 to 7022
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   post_id  7023 non-null   int64
 1   text     7023 non-null   str
 2   topic    7023 non-null   str
dtypes: int64(1), str(2)
memory usage: 164.7 KB
<class 'pandas.DataFrame'>
RangeIndex: 10000000 entries, 0 to 9999999
Data columns (total 5 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  str
 1   user_id    int64
 2   post_id    int64
 3   action     str
 4   target     int64
dtypes: int64(3), str(2)
memory usage: 381.5 MB

None

None

None

,user_id,gender,age,country,city,exp_group,os,source
0,200,1,34,Russia,Degtyarsk,3,Android,ads
1,201,0,37,Russia,Abakan,0,Android,ads
2,202,1,17,Russia,Smolensk,4,Android,ads
3,203,0,18,Russia,Moscow,1,iOS,ads
4,204,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads
...,...,...,...,...,...,...,...,...
163200,168548,0,36,Russia,Kaliningrad,4,Android,organic
163201,168549,0,18,Russia,Tula,2,Android,organic
163202,168550,1,41,Russia,Yekaterinburg,4,Android,organic
163203,168551,0,38,Russia,Moscow,3,iOS,organic
163204,168552,1,16,Russia,Ivanteyevka,4,Android,organic

      post_id                                               text     topic
0           1  UK economy facing major risks\n\nThe UK manufa...  business
1           2  Aids and climate top Davos agenda\n\nClimate c...  business
2           3  Asian quake hits European shares\n\nShares in ...  business
3           4  India power shares jump on debut\n\nShares in ...  business
4           5  Lacroix label bought by US firm\n\nLuxury good...  business
...       ...                                                ...       ...
7018     7315  OK, I would not normally watch a Farrelly brot...     movie
7019     7316  I give this movie 2 stars purely because of it...     movie
7020     7317  I cant believe this film was allowed to be mad...     movie
7021     7318  The version I saw of this film was the Blockbu...     movie
7022     7319  Piece of subtle art. Maybe a masterpiece. Doub...     movie

[7023 rows x 3 columns]

                   timestamp  user_id  post_id action  target
0        2021-10-05 10:07:49   164108      665   view       0
1        2021-10-05 10:08:02   164108     1204   view       0
2        2021-10-05 10:08:36   164108      582   view       1
3        2021-10-05 10:10:48   164108      582   like       0
4        2021-10-05 10:10:50   164108      454   view       0
...                      ...      ...      ...    ...     ...
9999995  2021-11-08 08:46:09    96104     6472   view       0
9999996  2021-11-08 08:48:16    96104     3490   view       1
9999997  2021-11-08 08:48:27    96104     3490   like       0
9999998  2021-11-08 08:48:29    96104     2832   view       0
9999999  2021-11-08 08:48:59    96104     1796   view       0

[10000000 rows x 5 columns]

CPU times: total: 31.2 ms
Wall time: 45.8 ms

## üõ†Ô∏è 3. –ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ —Ç–µ–∫—Å—Ç–æ–≤—ã—Ö –¥–∞–Ω–Ω—ã—Ö

### –®–∞–≥–∏:
1. –ó–∞–≥—Ä—É–∑–∫–∞ NLTK —Ä–µ—Å—É—Ä—Å–æ–≤
2. –õ–µ–º–º–∞—Ç–∏–∑–∞—Ü–∏—è –∏ —É–¥–∞–ª–µ–Ω–∏–µ —Å—Ç–æ–ø-—Å–ª–æ–≤
3. TF-IDF –≤–µ–∫—Ç–æ—Ä–∏–∑–∞—Ü–∏—è
4. PCA –¥–ª—è —Å–Ω–∏–∂–µ–Ω–∏—è —Ä–∞–∑–º–µ—Ä–Ω–æ—Å—Ç–∏ (—Å–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ 80% –¥–∏—Å–ø–µ—Ä—Å–∏–∏)

In [4]:
%%time 

# –ó–∞–≥—Ä—É–∑–∫–∞ NLTK —Ä–µ—Å—É—Ä—Å–æ–≤ (–µ—Å–ª–∏ –Ω–µ —Å–∫–∞—á–∞–Ω—ã)
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

# –ò–Ω–∏—Ü–∏–∞–ª–∏–∑–∞—Ü–∏—è –ª–µ–º–º–∞—Ç–∏–∑–∞—Ç–æ—Ä–∞
lemmatizer = WordNetLemmatizer()
stop_words = set(stopwords.words('english'))  # —Ç–µ–∫—Å—Ç –Ω–∞ –∞–Ω–≥–ª–∏–π—Å–∫–æ–º


def preprocess_text(text):
    """–§—É–Ω–∫—Ü–∏—è –ø—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∏ —Ç–µ–∫—Å—Ç–∞"""
    tokens = word_tokenize(text.lower())  # —Ç–æ–∫–µ–Ω–∏–∑–∞—Ü–∏—è –∏ –ø—Ä–∏–≤–µ–¥–µ–Ω–∏–µ –∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É
    tokens = [lemmatizer.lemmatize(word) for word in tokens if
              word.isalpha() and word not in stop_words]  # –ª–µ–º–º–∞—Ç–∏–∑–∞—Ü–∏—è
    return " ".join(tokens)


# –ü—Ä–∏–º–µ–Ω—è–µ–º –ø—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫—É
post_text['processed_text'] = post_text['text'].apply(preprocess_text)

# –ü—Ä–∏–º–µ–Ω—è–µ–º TF-IDF
tfidf = TfidfVectorizer(min_df=0.15, max_df=0.85)
tfidf_matrix = tfidf.fit_transform(post_text['processed_text'])  # –í–µ–∫—Ç–æ—Ä–∏–∑–∞—Ü–∏—è –≤—Å–µ—Ö –¥–æ–∫—É–º–µ–Ω—Ç–æ–≤

# –£–¥–∞–ª—è–µ–º –∫–æ–ª–æ–Ω–∫—É 'processed_text'
post_text = post_text.drop(columns=['processed_text'])

# –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ DataFrame –¥–ª—è —É–¥–æ–±—Å—Ç–≤–∞
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf.get_feature_names_out())

# –£–º–µ–Ω—å—à–∞–µ–º —Ä–∞–∑–º–µ—Ä–Ω–æ—Å—Ç—å –¥–æ —Å—Ç–æ–ª—å–∫–∏—Ö –∫–æ–º–ø–æ–Ω–µ–Ω—Ç, —á—Ç–æ–±—ã
pca = PCA(n_components=0.80)
tfidf_pca = pca.fit_transform(tfidf_df)

print(f"–í—ã–±—Ä–∞–Ω–æ {tfidf_pca.shape[1]} –∫–æ–º–ø–æ–Ω–µ–Ω—Ç PCA, –æ–±—ä—è—Å–Ω–µ–Ω–Ω–∞—è –¥–∏—Å–ø–µ—Ä—Å–∏—è: {sum(pca.explained_variance_ratio_) * 100:.2f}%")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\novos\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\novos\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\novos\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

–í—ã–±—Ä–∞–Ω–æ 20 –∫–æ–º–ø–æ–Ω–µ–Ω—Ç PCA, –æ–±—ä—è—Å–Ω–µ–Ω–Ω–∞—è –¥–∏—Å–ø–µ—Ä—Å–∏—è: 80.22%
CPU times: total: 18.7 s
Wall time: 20.3 s

## üîß 4. –°–æ–∑–¥–∞–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤

### –î–ª—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π:
- –ù–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏—è –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –ø–æ –≥–æ—Ä–æ–¥–∞–º/—Å—Ç—Ä–∞–Ω–∞–º
- One-Hot Encoding –¥–ª—è –≤–æ–∑—Ä–∞—Å—Ç–Ω—ã—Ö –≥—Ä—É–ø–ø –∏ —ç–∫—Å–ø–µ—Ä–∏–º–µ–Ω—Ç–∞–ª—å–Ω—ã—Ö –≥—Ä—É–ø–ø
- –ö–æ–¥–∏—Ä–æ–≤–∞–Ω–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –ø–µ—Ä–µ–º–µ–Ω–Ω—ã—Ö (OS, source)

### –î–ª—è –≤—Ä–µ–º–µ–Ω–Ω—ã—Ö –º–µ—Ç–æ–∫:
- –ò–∑–≤–ª–µ—á–µ–Ω–∏–µ –º–µ—Å—è—Ü–∞ –∏ –¥–Ω—è
- –ù–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏—è –≤—Ä–µ–º–µ–Ω–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤

In [5]:
%%time

# —Å–ø–∏—Å–æ–∫ –∏–º—ë–Ω –¥–ª—è –∫–æ–ª–æ–Ω–æ–∫ PCA
col_names = [f'tfidf_pc{num + 1}' for num in range(tfidf_pca.shape[1])]

# –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º –≤ DataFrame
tfidf_pca_df = pd.DataFrame(tfidf_pca, columns=col_names)
post_text = pd.concat([post_text, tfidf_pca_df], axis=1)

# –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –≤ –∫–∞–∂–¥–æ–º –≥–æ—Ä–æ–¥–µ –∏ —Å—Ç—Ä–∞–Ω–µ
user_data['city_count'] = user_data.groupby('city')['user_id'].transform('count')
user_data['country_count'] = user_data.groupby('country')['user_id'].transform('count')

# –ö–æ–¥–∏—Ä—É–µ–º 'os' –∏ 'source' –∫–∞–∫ 0 –∏ 1
user_data['os'] = user_data['os'].map({'Android': 0, 'iOS': 1})
user_data['source'] = user_data['source'].map({'ads': 0, 'organic': 1})

# –†–∞–∑–±–∏–≤–∞–µ–º 'age' –Ω–∞ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –∏ –ø—Ä–∏–º–µ–Ω—è–µ–º OHE –¥–ª—è 'age_group'
age_bins = [0, 18, 20, 22, 25, 30, 35, 40, float('inf')]
age_labels = ['<18', '18_20', '20_22', '22_25', '25_30', '30_35', '35_40', 'gt_40']
user_data['age_group'] = pd.cut(user_data['age'], bins=age_bins, labels=age_labels, right=False)
user_data = pd.get_dummies(user_data, columns=['age_group'], drop_first=True)

# –ü—Ä–∏–º–µ–Ω—è–µ–º OHE –¥–ª—è 'exp_group'
user_data = pd.get_dummies(user_data, columns=['exp_group'], drop_first=True)

user_data.drop(['age', 'city', 'country'], axis=1, inplace=True)

feed_data['timestamp'] = pd.to_datetime(feed_data['timestamp'])
feed_data.sort_values(by='timestamp', ascending=True, inplace=True)
feed_data['month'] = feed_data['timestamp'].dt.month / 12
feed_data['day'] = feed_data['timestamp'].dt.day / 31
feed_data.drop(['timestamp', 'action'], axis=1, inplace=True)

post_text.drop(['text'], axis=1, inplace=True)
post_text = pd.get_dummies(post_text, columns=['topic'], drop_first=True)

user_data[['city_count', 'country_count']] = StandardScaler().fit_transform(user_data[['city_count', 'country_count']])
user_data = user_data.rename(columns={"city_count": "city_countscaled",
                                      "country_count": "country_countscaled"})

# –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ bool –≤ int64 –¥–ª—è —Ç–∞–±–ª–∏—Ü—ã user_data
bool_columns_user = [
    'age_group_18_20', 'age_group_20_22', 'age_group_22_25',
    'age_group_25_30', 'age_group_30_35', 'age_group_35_40',
    'age_group_gt_40', 'exp_group_1', 'exp_group_2', 'exp_group_3',
    'exp_group_4'
]

user_data[bool_columns_user] = user_data[bool_columns_user].astype('int64')

# –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ bool –≤ int64 –¥–ª—è —Ç–∞–±–ª–∏—Ü—ã post_text
bool_columns_post = [
    'topic_covid', 'topic_entertainment', 'topic_movie',
    'topic_politics', 'topic_sport', 'topic_tech'
]

post_text[bool_columns_post] = post_text[bool_columns_post].astype('int64')

CPU times: total: 9.3 s
Wall time: 9.88 s

In [6]:
%%time

display(user_data.info(),
        post_text.info(),
        feed_data.info())

display(user_data,
        post_text,
        feed_data)

<class 'pandas.DataFrame'>
RangeIndex: 163205 entries, 0 to 163204
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   user_id              163205 non-null  int64
 1   gender               163205 non-null  int64
 2   os                   163205 non-null  int64
 3   source               163205 non-null  int64
 4   city_countscaled     163205 non-null  float64
 5   country_countscaled  163205 non-null  float64
 6   age_group_18_20      163205 non-null  int64
 7   age_group_20_22      163205 non-null  int64
 8   age_group_22_25      163205 non-null  int64
 9   age_group_25_30      163205 non-null  int64
 10  age_group_30_35      163205 non-null  int64
 11  age_group_35_40      163205 non-null  int64
 12  age_group_gt_40      163205 non-null  int64
 13  exp_group_1          163205 non-null  int64
 14  exp_group_2          163205 non-null  int64
 15  exp_group_3          163205 non-null  int64
 16  exp_group_4          163205 non-null  int64
dtypes: float64(2), int64(15)
memory usage: 21.2 MB
<class 'pandas.DataFrame'>
RangeIndex: 7023 entries, 0 to 7022
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   post_id              7023 non-null   int64
 1   tfidf_pc1            7023 non-null   float64
 2   tfidf_pc2            7023 non-null   float64
 3   tfidf_pc3            7023 non-null   float64
 4   tfidf_pc4            7023 non-null   float64
 5   tfidf_pc5            7023 non-null   float64
 6   tfidf_pc6            7023 non-null   float64
 7   tfidf_pc7            7023 non-null   float64
 8   tfidf_pc8            7023 non-null   float64
 9   tfidf_pc9            7023 non-null   float64
 10  tfidf_pc10           7023 non-null   float64
 11  tfidf_pc11           7023 non-null   float64
 12  tfidf_pc12           7023 non-null   float64
 13  tfidf_pc13           7023 non-null   float64
 14  tfidf_pc14           7023 non-null   float64
 15  tfidf_pc15           7023 non-null   float64
 16  tfidf_pc16           7023 non-null   float64
 17  tfidf_pc17           7023 non-null   float64
 18  tfidf_pc18           7023 non-null   float64
 19  tfidf_pc19           7023 non-null   float64
 20  tfidf_pc20           7023 non-null   float64
 21  topic_covid          7023 non-null   int64
 22  topic_entertainment  7023 non-null   int64
 23  topic_movie          7023 non-null   int64
 24  topic_politics       7023 non-null   int64
 25  topic_sport          7023 non-null   int64
 26  topic_tech           7023 non-null   int64
dtypes: float64(20), int64(7)
memory usage: 1.4 MB
<class 'pandas.DataFrame'>
Index: 10000000 entries, 5940822 to 3255201
Data columns (total 5 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  int64
 1   post_id  int64
 2   target   int64
 3   month    float64
 4   day      float64
dtypes: float64(2), int64(3)
memory usage: 457.8 MB

None

None

None

,user_id,gender,os,source,city_countscaled,country_countscaled,age_group_18_20,age_group_20_22,age_group_22_25,age_group_25_30,age_group_30_35,age_group_35_40,age_group_gt_40,exp_group_1,exp_group_2,exp_group_3,exp_group_4
0,200,1,0,0,-0.492196,0.375419,0,0,0,0,1,0,0,0,0,1,0
1,201,0,0,0,-0.461974,0.375419,0,0,0,0,0,1,0,0,0,0,0
2,202,1,0,0,-0.435580,0.375419,0,0,0,0,0,0,0,0,0,0,1
3,203,0,1,0,2.496407,0.375419,1,0,0,0,0,0,0,1,0,0,0
4,204,0,0,0,-0.480572,0.375419,0,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163200,168548,0,0,1,-0.417118,0.375419,0,0,0,0,0,1,0,0,0,0,1
163201,168549,0,0,1,-0.409050,0.375419,1,0,0,0,0,0,0,0,1,0,0
163202,168550,1,0,1,-0.231818,0.375419,0,0,0,0,0,0,1,0,0,0,1
163203,168551,0,1,1,2.496407,0.375419,0,0,0,0,0,1,0,0,0,1,0
163204,168552,1,0,1,-0.482213,0.375419,0,0,0,0,0,0,0,0,0,0,1

,post_id,tfidf_pc1,tfidf_pc2,tfidf_pc3,tfidf_pc4,tfidf_pc5,tfidf_pc6,tfidf_pc7,tfidf_pc8,tfidf_pc9,...,tfidf_pc17,tfidf_pc18,tfidf_pc19,tfidf_pc20,topic_covid,topic_entertainment,topic_movie,topic_politics,topic_sport,topic_tech
0,1,-0.218558,0.601688,-0.003158,0.056255,0.385736,-0.339179,0.178276,-0.000519,-0.013779,...,0.001073,0.103103,-0.051594,0.045501,0,0,0,0,0,0
1,2,-0.205009,0.397279,-0.018611,-0.105986,-0.012848,0.034922,0.362120,-0.094890,-0.078602,...,-0.011842,-0.027673,0.127649,0.109420,0,0,0,0,0,0
2,3,-0.226079,0.351299,-0.012396,-0.002268,-0.168320,0.031515,0.210111,-0.029437,0.051842,...,-0.144802,0.108878,0.075442,0.155740,0,0,0,0,0,0
3,4,-0.221130,0.495558,-0.057405,0.098004,-0.013409,0.171581,-0.240566,-0.140888,0.025036,...,-0.125282,0.012668,-0.063527,0.055483,0,0,0,0,0,0
4,5,-0.226907,0.551035,-0.022373,0.179819,0.045989,0.142870,-0.191710,-0.069274,-0.299033,...,-0.053152,0.039702,-0.053253,-0.210970,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,7315,-0.292540,-0.217610,-0.397587,0.098741,-0.021369,-0.028251,-0.066127,0.024365,0.031856,...,0.082184,-0.143099,0.087293,0.011876,0,0,1,0,0,0
7019,7316,-0.270304,-0.438322,-0.335058,0.266671,0.026826,0.065955,0.118212,-0.079184,0.038594,...,0.159207,-0.022844,-0.046375,0.246042,0,0,1,0,0,0
7020,7317,-0.257575,-0.270416,0.536110,0.051263,-0.057736,0.034811,0.142500,-0.110504,-0.018741,...,-0.122173,-0.149795,-0.034521,-0.028334,0,0,1,0,0,0
7021,7318,-0.259425,-0.168820,0.419927,-0.054620,-0.124318,0.017562,0.156697,-0.120087,-0.105272,...,-0.148261,0.159995,-0.136097,-0.119240,0,0,1,0,0,0
7022,7319,-0.232369,-0.340943,0.052071,0.100194,0.057006,0.003658,0.167517,-0.091822,-0.001564,...,0.045706,0.043824,0.103844,-0.067396,0,0,1,0,0,0

         user_id  post_id  target     month       day
5940822    22865     1381       0  0.833333  0.032258
2475312     9252     4954       1  0.833333  0.032258
5784679    67198     1431       1  0.833333  0.032258
283284     94673     6205       0  0.833333  0.032258
2883898    16060     1430       1  0.833333  0.032258
...          ...      ...     ...       ...       ...
2488614     9264      174       0  1.000000  0.935484
300715     94685     5716       0  1.000000  0.935484
1686309    74056     3864       0  1.000000  0.935484
185472     29685       81       0  1.000000  0.935484
3255201   101708     5433       0  1.000000  0.935484

[10000000 rows x 5 columns]

CPU times: total: 78.1 ms
Wall time: 68.6 ms

## ü§ñ 5. –û–±—É—á–µ–Ω–∏–µ CatBoost –º–æ–¥–µ–ª–∏

### –ü–∞—Ä–∞–º–µ—Ç—Ä—ã –º–æ–¥–µ–ª–∏:
- –ê–ª–≥–æ—Ä–∏—Ç–º: CatBoostClassifier
- –ò—Ç–µ—Ä–∞—Ü–∏–∏: 500
- Learning rate: 0.07
- –ì–ª—É–±–∏–Ω–∞: 6
- Cat features: 20 –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤
- –ú–µ—Ç—Ä–∏–∫–∞: AUC
- –ë–∞–ª–∞–Ω—Å–∏—Ä–æ–≤–∫–∞ –∫–ª–∞—Å—Å–æ–≤: –≤–∫–ª—é—á–µ–Ω–∞

In [7]:
%%time

user_post_feed = feed_data.merge(user_data, on="user_id", how="left")
user_post_feed = user_post_feed.merge(post_text, on="post_id", how="left")

CPU times: total: 4.72 s
Wall time: 9.37 s

In [8]:
%%time

display(user_post_feed.info())
display(user_post_feed)

<class 'pandas.DataFrame'>
RangeIndex: 10000000 entries, 0 to 9999999
Data columns (total 47 columns):
 #   Column               Dtype
---  ------               -----
 0   user_id              int64
 1   post_id              int64
 2   target               int64
 3   month                float64
 4   day                  float64
 5   gender               int64
 6   os                   int64
 7   source               int64
 8   city_countscaled     float64
 9   country_countscaled  float64
 10  age_group_18_20      int64
 11  age_group_20_22      int64
 12  age_group_22_25      int64
 13  age_group_25_30      int64
 14  age_group_30_35      int64
 15  age_group_35_40      int64
 16  age_group_gt_40      int64
 17  exp_group_1          int64
 18  exp_group_2          int64
 19  exp_group_3          int64
 20  exp_group_4          int64
 21  tfidf_pc1            float64
 22  tfidf_pc2            float64
 23  tfidf_pc3            float64
 24  tfidf_pc4            float64
 25  tfidf_pc5            float64
 26  tfidf_pc6            float64
 27  tfidf_pc7            float64
 28  tfidf_pc8            float64
 29  tfidf_pc9            float64
 30  tfidf_pc10           float64
 31  tfidf_pc11           float64
 32  tfidf_pc12           float64
 33  tfidf_pc13           float64
 34  tfidf_pc14           float64
 35  tfidf_pc15           float64
 36  tfidf_pc16           float64
 37  tfidf_pc17           float64
 38  tfidf_pc18           float64
 39  tfidf_pc19           float64
 40  tfidf_pc20           float64
 41  topic_covid          int64
 42  topic_entertainment  int64
 43  topic_movie          int64
 44  topic_politics       int64
 45  topic_sport          int64
 46  topic_tech           int64
dtypes: float64(24), int64(23)
memory usage: 3.5 GB

None

,user_id,post_id,target,month,day,gender,os,source,city_countscaled,country_countscaled,...,tfidf_pc17,tfidf_pc18,tfidf_pc19,tfidf_pc20,topic_covid,topic_entertainment,topic_movie,topic_politics,topic_sport,topic_tech
0,22865,1381,0,0.833333,0.032258,1,0,0,-0.294451,0.375419,...,0.322635,0.207037,0.072248,-0.269072,0,0,0,0,1,0
1,9252,4954,1,0.833333,0.032258,1,1,0,-0.391409,0.375419,...,-0.122268,0.140997,-0.011922,-0.221157,0,0,1,0,0,0
2,67198,1431,1,0.833333,0.032258,1,1,0,2.496407,0.375419,...,-0.062469,0.248235,0.183616,-0.103063,0,0,0,0,1,0
3,94673,6205,0,0.833333,0.032258,1,1,0,-0.486589,0.375419,...,0.170096,0.052468,-0.026003,-0.228559,0,0,1,0,0,0
4,16060,1430,1,0.833333,0.032258,0,0,0,-0.494111,-2.586129,...,-0.063122,0.015539,0.095597,0.019635,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9999995,9264,174,0,1.000000,0.935484,0,1,0,-0.483307,0.375419,...,0.065980,-0.055451,-0.145375,0.022196,0,0,0,0,0,0
9999996,94685,5716,0,1.000000,0.935484,1,1,0,-0.488914,0.375419,...,0.031116,-0.011065,-0.023691,0.261183,0,0,1,0,0,0
9999997,74056,3864,0,1.000000,0.935484,1,0,0,-0.491649,0.375419,...,-0.003531,-0.005580,0.004394,0.002250,1,0,0,0,0,0
9999998,29685,81,0,1.000000,0.935484,1,0,0,2.496407,0.375419,...,0.111300,0.368276,0.078805,-0.050622,0,0,0,0,0,0
9999999,101708,5433,0,1.000000,0.935484,0,0,0,-0.355853,-2.695570,...,0.221176,0.099780,0.239134,-0.113472,0,0,1,0,0,0

CPU times: total: 31.2 ms
Wall time: 36.8 ms

In [9]:
%%time

X = user_post_feed.drop(['target'], axis=1)
y = user_post_feed['target']

cat_features = ['gender',
                'os',
                'source',
                'age_group_18_20',
                'age_group_20_22',
                'age_group_22_25',
                'age_group_25_30',
                'age_group_30_35',
                'age_group_35_40',
                'age_group_gt_40',
                'exp_group_1',
                'exp_group_2',
                'exp_group_3',
                'exp_group_4',
                'topic_covid',
                'topic_entertainment',
                'topic_movie',
                'topic_politics',
                'topic_sport',
                'topic_tech']

CPU times: total: 0 ns
Wall time: 2.06 ms

In [10]:
%%time

name = "CatBoostClassifier"

model = CatBoostClassifier(
    iterations=500,
    learning_rate=0.07,
    depth=6,
    cat_features=cat_features,
    eval_metric='AUC',
    auto_class_weights='Balanced',
    random_seed=42
)

CPU times: total: 0 ns
Wall time: 200 Œºs

In [11]:
%%time

X_train, y_train = X.iloc[:8500000], y.iloc[:8500000]
X_test, y_test = X.iloc[8500000:], y.iloc[8500000:]

CPU times: total: 0 ns
Wall time: 456 Œºs

In [12]:
%%time

start_time = time.time()
model.fit(X_train, y_train)
end_time = time.time()

# –í—Ä–µ–º—è –æ–±—É—á–µ–Ω–∏—è
print(round(end_time - start_time, 2))

0:	total: 1.11s	remaining: 9m 14s
1:	total: 1.98s	remaining: 8m 13s
2:	total: 2.9s	remaining: 8m 1s
3:	total: 3.8s	remaining: 7m 51s
4:	total: 4.73s	remaining: 7m 48s
5:	total: 5.34s	remaining: 7m 19s
6:	total: 5.78s	remaining: 6m 47s
7:	total: 6.22s	remaining: 6m 22s
8:	total: 6.62s	remaining: 6m 1s
9:	total: 7.05s	remaining: 5m 45s
10:	total: 7.46s	remaining: 5m 31s
11:	total: 7.89s	remaining: 5m 20s
12:	total: 8.37s	remaining: 5m 13s
13:	total: 8.8s	remaining: 5m 5s
14:	total: 9.26s	remaining: 4m 59s
15:	total: 9.76s	remaining: 4m 55s
16:	total: 10.2s	remaining: 4m 50s
17:	total: 10.7s	remaining: 4m 46s
18:	total: 11.5s	remaining: 4m 49s
19:	total: 12.5s	remaining: 4m 59s
20:	total: 13.7s	remaining: 5m 13s
21:	total: 15.4s	remaining: 5m 35s
22:	total: 16.5s	remaining: 5m 41s
23:	total: 17.4s	remaining: 5m 44s
24:	total: 18.5s	remaining: 5m 50s
25:	total: 19.6s	remaining: 5m 57s
26:	total: 20.8s	remaining: 6m 4s
27:	total: 21.9s	remaining: 6m 8s
28:	total: 22.8s	remaining: 6m 11s
29:	total: 23.8s	remaining: 6m 12s
30:	total: 25.2s	remaining: 6m 20s
31:	total: 26.7s	remaining: 6m 30s
32:	total: 27.8s	remaining: 6m 33s
33:	total: 28.6s	remaining: 6m 32s
34:	total: 29.6s	remaining: 6m 33s
35:	total: 30.5s	remaining: 6m 33s
36:	total: 32s	remaining: 6m 40s
37:	total: 34.2s	remaining: 6m 56s
38:	total: 35.7s	remaining: 7m 2s
39:	total: 36.8s	remaining: 7m 2s
40:	total: 37.8s	remaining: 7m 2s
41:	total: 38.7s	remaining: 7m 1s
42:	total: 39.6s	remaining: 7m
43:	total: 40.5s	remaining: 6m 59s
44:	total: 41.4s	remaining: 6m 58s
45:	total: 42.2s	remaining: 6m 56s
46:	total: 43.1s	remaining: 6m 55s
47:	total: 44s	remaining: 6m 54s
48:	total: 44.8s	remaining: 6m 52s
49:	total: 45.7s	remaining: 6m 51s
50:	total: 46.6s	remaining: 6m 50s
51:	total: 47.5s	remaining: 6m 49s
52:	total: 48.4s	remaining: 6m 48s
53:	total: 49.3s	remaining: 6m 47s
54:	total: 50.4s	remaining: 6m 47s
55:	total: 51.4s	remaining: 6m 47s
56:	total: 52.3s	remaining: 6m 46s
57:	total: 53.3s	remaining: 6m 45s
58:	total: 54.2s	remaining: 6m 45s
59:	total: 55.2s	remaining: 6m 44s
60:	total: 56.2s	remaining: 6m 44s
61:	total: 57.2s	remaining: 6m 44s
62:	total: 58.2s	remaining: 6m 43s
63:	total: 59s	remaining: 6m 41s
64:	total: 59.8s	remaining: 6m 40s
65:	total: 1m	remaining: 6m 39s
66:	total: 1m 1s	remaining: 6m 39s
67:	total: 1m 2s	remaining: 6m 37s
68:	total: 1m 3s	remaining: 6m 36s
69:	total: 1m 4s	remaining: 6m 35s
70:	total: 1m 5s	remaining: 6m 34s
71:	total: 1m 6s	remaining: 6m 33s
72:	total: 1m 7s	remaining: 6m 32s
73:	total: 1m 8s	remaining: 6m 31s
74:	total: 1m 9s	remaining: 6m 31s
75:	total: 1m 10s	remaining: 6m 30s
76:	total: 1m 11s	remaining: 6m 30s
77:	total: 1m 12s	remaining: 6m 29s
78:	total: 1m 12s	remaining: 6m 28s
79:	total: 1m 14s	remaining: 6m 28s
80:	total: 1m 14s	remaining: 6m 27s
81:	total: 1m 15s	remaining: 6m 26s
82:	total: 1m 16s	remaining: 6m 25s
83:	total: 1m 17s	remaining: 6m 24s
84:	total: 1m 18s	remaining: 6m 24s
85:	total: 1m 19s	remaining: 6m 23s
86:	total: 1m 20s	remaining: 6m 22s
87:	total: 1m 21s	remaining: 6m 21s
88:	total: 1m 22s	remaining: 6m 20s
89:	total: 1m 23s	remaining: 6m 19s
90:	total: 1m 24s	remaining: 6m 18s
91:	total: 1m 24s	remaining: 6m 16s
92:	total: 1m 25s	remaining: 6m 15s
93:	total: 1m 26s	remaining: 6m 14s
94:	total: 1m 27s	remaining: 6m 13s
95:	total: 1m 28s	remaining: 6m 12s
96:	total: 1m 29s	remaining: 6m 11s
97:	total: 1m 30s	remaining: 6m 10s
98:	total: 1m 31s	remaining: 6m 8s
99:	total: 1m 31s	remaining: 6m 7s
100:	total: 1m 32s	remaining: 6m 6s
101:	total: 1m 33s	remaining: 6m 5s
102:	total: 1m 34s	remaining: 6m 3s
103:	total: 1m 35s	remaining: 6m 2s
104:	total: 1m 36s	remaining: 6m 1s
105:	total: 1m 36s	remaining: 6m
106:	total: 1m 37s	remaining: 5m 59s
107:	total: 1m 38s	remaining: 5m 58s
108:	total: 1m 39s	remaining: 5m 57s
109:	total: 1m 40s	remaining: 5m 56s
110:	total: 1m 41s	remaining: 5m 55s
111:	total: 1m 42s	remaining: 5m 54s
112:	total: 1m 43s	remaining: 5m 53s
113:	total: 1m 44s	remaining: 5m 52s
114:	total: 1m 44s	remaining: 5m 51s
115:	total: 1m 45s	remaining: 5m 50s
116:	total: 1m 46s	remaining: 5m 49s
117:	total: 1m 47s	remaining: 5m 48s
118:	total: 1m 48s	remaining: 5m 47s
119:	total: 1m 49s	remaining: 5m 46s
120:	total: 1m 50s	remaining: 5m 45s
121:	total: 1m 51s	remaining: 5m 44s
122:	total: 1m 51s	remaining: 5m 43s
123:	total: 1m 52s	remaining: 5m 42s
124:	total: 1m 53s	remaining: 5m 41s
125:	total: 1m 54s	remaining: 5m 40s
126:	total: 1m 55s	remaining: 5m 38s
127:	total: 1m 56s	remaining: 5m 37s
128:	total: 1m 57s	remaining: 5m 36s
129:	total: 1m 58s	remaining: 5m 36s
130:	total: 1m 58s	remaining: 5m 34s
131:	total: 1m 59s	remaining: 5m 33s
132:	total: 2m	remaining: 5m 32s
133:	total: 2m 1s	remaining: 5m 31s
134:	total: 2m 2s	remaining: 5m 30s
135:	total: 2m 2s	remaining: 5m 29s
136:	total: 2m 3s	remaining: 5m 27s
137:	total: 2m 4s	remaining: 5m 27s
138:	total: 2m 5s	remaining: 5m 26s
139:	total: 2m 6s	remaining: 5m 25s
140:	total: 2m 7s	remaining: 5m 24s
141:	total: 2m 8s	remaining: 5m 24s
142:	total: 2m 9s	remaining: 5m 23s
143:	total: 2m 10s	remaining: 5m 22s
144:	total: 2m 11s	remaining: 5m 22s
145:	total: 2m 12s	remaining: 5m 21s
146:	total: 2m 13s	remaining: 5m 20s
147:	total: 2m 14s	remaining: 5m 20s
148:	total: 2m 15s	remaining: 5m 19s
149:	total: 2m 16s	remaining: 5m 18s
150:	total: 2m 17s	remaining: 5m 17s
151:	total: 2m 18s	remaining: 5m 17s
152:	total: 2m 19s	remaining: 5m 16s
153:	total: 2m 20s	remaining: 5m 15s
154:	total: 2m 21s	remaining: 5m 14s
155:	total: 2m 22s	remaining: 5m 14s
156:	total: 2m 23s	remaining: 5m 13s
157:	total: 2m 24s	remaining: 5m 13s
158:	total: 2m 25s	remaining: 5m 12s
159:	total: 2m 26s	remaining: 5m 11s
160:	total: 2m 27s	remaining: 5m 10s
161:	total: 2m 28s	remaining: 5m 9s
162:	total: 2m 29s	remaining: 5m 8s
163:	total: 2m 29s	remaining: 5m 7s
164:	total: 2m 30s	remaining: 5m 6s
165:	total: 2m 31s	remaining: 5m 4s
166:	total: 2m 32s	remaining: 5m 3s
167:	total: 2m 33s	remaining: 5m 3s
168:	total: 2m 34s	remaining: 5m 2s
169:	total: 2m 34s	remaining: 5m
170:	total: 2m 35s	remaining: 4m 59s
171:	total: 2m 36s	remaining: 4m 59s
172:	total: 2m 37s	remaining: 4m 58s
173:	total: 2m 38s	remaining: 4m 57s
174:	total: 2m 39s	remaining: 4m 56s
175:	total: 2m 40s	remaining: 4m 55s
176:	total: 2m 41s	remaining: 4m 54s
177:	total: 2m 42s	remaining: 4m 54s
178:	total: 2m 43s	remaining: 4m 53s
179:	total: 2m 44s	remaining: 4m 52s
180:	total: 2m 45s	remaining: 4m 51s
181:	total: 2m 46s	remaining: 4m 50s
182:	total: 2m 47s	remaining: 4m 50s
183:	total: 2m 48s	remaining: 4m 49s
184:	total: 2m 49s	remaining: 4m 48s
185:	total: 2m 50s	remaining: 4m 47s
186:	total: 2m 51s	remaining: 4m 46s
187:	total: 2m 52s	remaining: 4m 46s
188:	total: 2m 53s	remaining: 4m 45s
189:	total: 2m 54s	remaining: 4m 44s
190:	total: 2m 55s	remaining: 4m 43s
191:	total: 2m 56s	remaining: 4m 42s
192:	total: 2m 57s	remaining: 4m 41s
193:	total: 2m 57s	remaining: 4m 40s
194:	total: 2m 58s	remaining: 4m 39s
195:	total: 2m 59s	remaining: 4m 38s
196:	total: 3m	remaining: 4m 37s
197:	total: 3m 1s	remaining: 4m 37s
198:	total: 3m 2s	remaining: 4m 36s
199:	total: 3m 3s	remaining: 4m 35s
200:	total: 3m 4s	remaining: 4m 34s
201:	total: 3m 5s	remaining: 4m 33s
202:	total: 3m 6s	remaining: 4m 33s
203:	total: 3m 7s	remaining: 4m 32s
204:	total: 3m 8s	remaining: 4m 31s
205:	total: 3m 9s	remaining: 4m 30s
206:	total: 3m 10s	remaining: 4m 29s
207:	total: 3m 11s	remaining: 4m 28s
208:	total: 3m 12s	remaining: 4m 27s
209:	total: 3m 13s	remaining: 4m 26s
210:	total: 3m 14s	remaining: 4m 25s
211:	total: 3m 14s	remaining: 4m 24s
212:	total: 3m 15s	remaining: 4m 23s
213:	total: 3m 16s	remaining: 4m 22s
214:	total: 3m 17s	remaining: 4m 21s
215:	total: 3m 18s	remaining: 4m 20s
216:	total: 3m 19s	remaining: 4m 19s
217:	total: 3m 20s	remaining: 4m 18s
218:	total: 3m 20s	remaining: 4m 17s
219:	total: 3m 21s	remaining: 4m 16s
220:	total: 3m 22s	remaining: 4m 15s
221:	total: 3m 23s	remaining: 4m 14s
222:	total: 3m 24s	remaining: 4m 13s
223:	total: 3m 25s	remaining: 4m 12s
224:	total: 3m 26s	remaining: 4m 11s
225:	total: 3m 26s	remaining: 4m 10s
226:	total: 3m 27s	remaining: 4m 9s
227:	total: 3m 28s	remaining: 4m 9s
228:	total: 3m 29s	remaining: 4m 8s
229:	total: 3m 30s	remaining: 4m 7s
230:	total: 3m 31s	remaining: 4m 6s
231:	total: 3m 32s	remaining: 4m 5s
232:	total: 3m 33s	remaining: 4m 5s
233:	total: 3m 34s	remaining: 4m 4s
234:	total: 3m 35s	remaining: 4m 3s
235:	total: 3m 36s	remaining: 4m 2s
236:	total: 3m 37s	remaining: 4m 1s
237:	total: 3m 38s	remaining: 4m
238:	total: 3m 40s	remaining: 4m
239:	total: 3m 40s	remaining: 3m 59s
240:	total: 3m 41s	remaining: 3m 58s
241:	total: 3m 42s	remaining: 3m 57s
242:	total: 3m 43s	remaining: 3m 56s
243:	total: 3m 44s	remaining: 3m 55s
244:	total: 3m 44s	remaining: 3m 54s
245:	total: 3m 45s	remaining: 3m 53s
246:	total: 3m 46s	remaining: 3m 52s
247:	total: 3m 47s	remaining: 3m 51s
248:	total: 3m 48s	remaining: 3m 50s
249:	total: 3m 49s	remaining: 3m 49s
250:	total: 3m 50s	remaining: 3m 48s
251:	total: 3m 51s	remaining: 3m 47s
252:	total: 3m 52s	remaining: 3m 46s
253:	total: 3m 52s	remaining: 3m 45s
254:	total: 3m 53s	remaining: 3m 44s
255:	total: 3m 54s	remaining: 3m 43s
256:	total: 3m 55s	remaining: 3m 42s
257:	total: 3m 56s	remaining: 3m 41s
258:	total: 3m 57s	remaining: 3m 41s
259:	total: 3m 58s	remaining: 3m 40s
260:	total: 3m 59s	remaining: 3m 39s
261:	total: 4m	remaining: 3m 38s
262:	total: 4m 1s	remaining: 3m 37s
263:	total: 4m 2s	remaining: 3m 36s
264:	total: 4m 3s	remaining: 3m 35s
265:	total: 4m 4s	remaining: 3m 35s
266:	total: 4m 5s	remaining: 3m 34s
267:	total: 4m 6s	remaining: 3m 33s
268:	total: 4m 7s	remaining: 3m 32s
269:	total: 4m 8s	remaining: 3m 31s
270:	total: 4m 9s	remaining: 3m 30s
271:	total: 4m 10s	remaining: 3m 29s
272:	total: 4m 11s	remaining: 3m 28s
273:	total: 4m 12s	remaining: 3m 27s
274:	total: 4m 13s	remaining: 3m 27s
275:	total: 4m 14s	remaining: 3m 26s
276:	total: 4m 15s	remaining: 3m 25s
277:	total: 4m 16s	remaining: 3m 24s
278:	total: 4m 17s	remaining: 3m 23s
279:	total: 4m 17s	remaining: 3m 22s
280:	total: 4m 18s	remaining: 3m 21s
281:	total: 4m 19s	remaining: 3m 20s
282:	total: 4m 20s	remaining: 3m 19s
283:	total: 4m 21s	remaining: 3m 18s
284:	total: 4m 22s	remaining: 3m 17s
285:	total: 4m 23s	remaining: 3m 17s
286:	total: 4m 24s	remaining: 3m 16s
287:	total: 4m 25s	remaining: 3m 15s
288:	total: 4m 26s	remaining: 3m 14s
289:	total: 4m 27s	remaining: 3m 13s
290:	total: 4m 28s	remaining: 3m 12s
291:	total: 4m 29s	remaining: 3m 11s
292:	total: 4m 30s	remaining: 3m 10s
293:	total: 4m 31s	remaining: 3m 10s
294:	total: 4m 32s	remaining: 3m 9s
295:	total: 4m 33s	remaining: 3m 8s
296:	total: 4m 34s	remaining: 3m 7s
297:	total: 4m 34s	remaining: 3m 6s
298:	total: 4m 35s	remaining: 3m 5s
299:	total: 4m 36s	remaining: 3m 4s
300:	total: 4m 37s	remaining: 3m 3s
301:	total: 4m 38s	remaining: 3m 2s
302:	total: 4m 39s	remaining: 3m 1s
303:	total: 4m 40s	remaining: 3m
304:	total: 4m 41s	remaining: 3m
305:	total: 4m 42s	remaining: 2m 59s
306:	total: 4m 43s	remaining: 2m 58s
307:	total: 4m 44s	remaining: 2m 57s
308:	total: 4m 45s	remaining: 2m 56s
309:	total: 4m 46s	remaining: 2m 55s
310:	total: 4m 47s	remaining: 2m 54s
311:	total: 4m 48s	remaining: 2m 53s
312:	total: 4m 49s	remaining: 2m 52s
313:	total: 4m 50s	remaining: 2m 51s
314:	total: 4m 51s	remaining: 2m 50s
315:	total: 4m 51s	remaining: 2m 49s
316:	total: 4m 52s	remaining: 2m 48s
317:	total: 4m 53s	remaining: 2m 47s
318:	total: 4m 54s	remaining: 2m 47s
319:	total: 4m 55s	remaining: 2m 46s
320:	total: 4m 55s	remaining: 2m 45s
321:	total: 4m 56s	remaining: 2m 44s
322:	total: 4m 57s	remaining: 2m 43s
323:	total: 4m 58s	remaining: 2m 42s
324:	total: 4m 59s	remaining: 2m 41s
325:	total: 5m	remaining: 2m 40s
326:	total: 5m	remaining: 2m 39s
327:	total: 5m 1s	remaining: 2m 38s
328:	total: 5m 2s	remaining: 2m 37s
329:	total: 5m 3s	remaining: 2m 36s
330:	total: 5m 4s	remaining: 2m 35s
331:	total: 5m 5s	remaining: 2m 34s
332:	total: 5m 6s	remaining: 2m 33s
333:	total: 5m 7s	remaining: 2m 32s
334:	total: 5m 8s	remaining: 2m 31s
335:	total: 5m 9s	remaining: 2m 30s
336:	total: 5m 10s	remaining: 2m 30s
337:	total: 5m 11s	remaining: 2m 29s
338:	total: 5m 12s	remaining: 2m 28s
339:	total: 5m 13s	remaining: 2m 27s
340:	total: 5m 14s	remaining: 2m 26s
341:	total: 5m 15s	remaining: 2m 25s
342:	total: 5m 16s	remaining: 2m 24s
343:	total: 5m 17s	remaining: 2m 23s
344:	total: 5m 18s	remaining: 2m 23s
345:	total: 5m 19s	remaining: 2m 22s
346:	total: 5m 20s	remaining: 2m 21s
347:	total: 5m 21s	remaining: 2m 20s
348:	total: 5m 22s	remaining: 2m 19s
349:	total: 5m 23s	remaining: 2m 18s
350:	total: 5m 24s	remaining: 2m 17s
351:	total: 5m 24s	remaining: 2m 16s
352:	total: 5m 26s	remaining: 2m 15s
353:	total: 5m 27s	remaining: 2m 14s
354:	total: 5m 27s	remaining: 2m 13s
355:	total: 5m 28s	remaining: 2m 12s
356:	total: 5m 29s	remaining: 2m 11s
357:	total: 5m 30s	remaining: 2m 11s
358:	total: 5m 31s	remaining: 2m 10s
359:	total: 5m 32s	remaining: 2m 9s
360:	total: 5m 32s	remaining: 2m 8s
361:	total: 5m 33s	remaining: 2m 7s
362:	total: 5m 34s	remaining: 2m 6s
363:	total: 5m 35s	remaining: 2m 5s
364:	total: 5m 36s	remaining: 2m 4s
365:	total: 5m 37s	remaining: 2m 3s
366:	total: 5m 38s	remaining: 2m 2s
367:	total: 5m 39s	remaining: 2m 1s
368:	total: 5m 39s	remaining: 2m
369:	total: 5m 40s	remaining: 1m 59s
370:	total: 5m 41s	remaining: 1m 58s
371:	total: 5m 42s	remaining: 1m 57s
372:	total: 5m 43s	remaining: 1m 56s
373:	total: 5m 44s	remaining: 1m 55s
374:	total: 5m 45s	remaining: 1m 55s
375:	total: 5m 45s	remaining: 1m 54s
376:	total: 5m 46s	remaining: 1m 53s
377:	total: 5m 47s	remaining: 1m 52s
378:	total: 5m 48s	remaining: 1m 51s
379:	total: 5m 49s	remaining: 1m 50s
380:	total: 5m 50s	remaining: 1m 49s
381:	total: 5m 51s	remaining: 1m 48s
382:	total: 5m 52s	remaining: 1m 47s
383:	total: 5m 53s	remaining: 1m 46s
384:	total: 5m 53s	remaining: 1m 45s
385:	total: 5m 55s	remaining: 1m 44s
386:	total: 5m 55s	remaining: 1m 43s
387:	total: 5m 56s	remaining: 1m 43s
388:	total: 5m 57s	remaining: 1m 42s
389:	total: 5m 58s	remaining: 1m 41s
390:	total: 5m 59s	remaining: 1m 40s
391:	total: 6m	remaining: 1m 39s
392:	total: 6m 1s	remaining: 1m 38s
393:	total: 6m 2s	remaining: 1m 37s
394:	total: 6m 3s	remaining: 1m 36s
395:	total: 6m 4s	remaining: 1m 35s
396:	total: 6m 5s	remaining: 1m 34s
397:	total: 6m 6s	remaining: 1m 33s
398:	total: 6m 6s	remaining: 1m 32s
399:	total: 6m 7s	remaining: 1m 31s
400:	total: 6m 8s	remaining: 1m 31s
401:	total: 6m 9s	remaining: 1m 30s
402:	total: 6m 10s	remaining: 1m 29s
403:	total: 6m 11s	remaining: 1m 28s
404:	total: 6m 12s	remaining: 1m 27s
405:	total: 6m 12s	remaining: 1m 26s
406:	total: 6m 13s	remaining: 1m 25s
407:	total: 6m 14s	remaining: 1m 24s
408:	total: 6m 15s	remaining: 1m 23s
409:	total: 6m 16s	remaining: 1m 22s
410:	total: 6m 17s	remaining: 1m 21s
411:	total: 6m 18s	remaining: 1m 20s
412:	total: 6m 19s	remaining: 1m 19s
413:	total: 6m 20s	remaining: 1m 19s
414:	total: 6m 21s	remaining: 1m 18s
415:	total: 6m 22s	remaining: 1m 17s
416:	total: 6m 23s	remaining: 1m 16s
417:	total: 6m 24s	remaining: 1m 15s
418:	total: 6m 24s	remaining: 1m 14s
419:	total: 6m 25s	remaining: 1m 13s
420:	total: 6m 26s	remaining: 1m 12s
421:	total: 6m 27s	remaining: 1m 11s
422:	total: 6m 28s	remaining: 1m 10s
423:	total: 6m 29s	remaining: 1m 9s
424:	total: 6m 30s	remaining: 1m 8s
425:	total: 6m 31s	remaining: 1m 7s
426:	total: 6m 31s	remaining: 1m 7s
427:	total: 6m 32s	remaining: 1m 6s
428:	total: 6m 33s	remaining: 1m 5s
429:	total: 6m 34s	remaining: 1m 4s
430:	total: 6m 35s	remaining: 1m 3s
431:	total: 6m 36s	remaining: 1m 2s
432:	total: 6m 37s	remaining: 1m 1s
433:	total: 6m 37s	remaining: 1m
434:	total: 6m 38s	remaining: 59.6s
435:	total: 6m 39s	remaining: 58.7s
436:	total: 6m 40s	remaining: 57.7s
437:	total: 6m 41s	remaining: 56.8s
438:	total: 6m 42s	remaining: 55.9s
439:	total: 6m 43s	remaining: 55s
440:	total: 6m 43s	remaining: 54s
441:	total: 6m 44s	remaining: 53.1s
442:	total: 6m 45s	remaining: 52.1s
443:	total: 6m 46s	remaining: 51.2s
444:	total: 6m 47s	remaining: 50.3s
445:	total: 6m 47s	remaining: 49.4s
446:	total: 6m 48s	remaining: 48.5s
447:	total: 6m 49s	remaining: 47.6s
448:	total: 6m 50s	remaining: 46.6s
449:	total: 6m 51s	remaining: 45.7s
450:	total: 6m 52s	remaining: 44.8s
451:	total: 6m 53s	remaining: 43.9s
452:	total: 6m 53s	remaining: 42.9s
453:	total: 6m 54s	remaining: 42s
454:	total: 6m 55s	remaining: 41.1s
455:	total: 6m 56s	remaining: 40.2s
456:	total: 6m 57s	remaining: 39.3s
457:	total: 6m 58s	remaining: 38.4s
458:	total: 6m 59s	remaining: 37.5s
459:	total: 7m	remaining: 36.5s
460:	total: 7m 1s	remaining: 35.6s
461:	total: 7m 1s	remaining: 34.7s
462:	total: 7m 2s	remaining: 33.8s
463:	total: 7m 3s	remaining: 32.9s
464:	total: 7m 4s	remaining: 32s
465:	total: 7m 5s	remaining: 31.1s
466:	total: 7m 6s	remaining: 30.1s
467:	total: 7m 7s	remaining: 29.2s
468:	total: 7m 8s	remaining: 28.3s
469:	total: 7m 9s	remaining: 27.4s
470:	total: 7m 10s	remaining: 26.5s
471:	total: 7m 11s	remaining: 25.6s
472:	total: 7m 12s	remaining: 24.7s
473:	total: 7m 13s	remaining: 23.8s
474:	total: 7m 13s	remaining: 22.8s
475:	total: 7m 14s	remaining: 21.9s
476:	total: 7m 15s	remaining: 21s
477:	total: 7m 16s	remaining: 20.1s
478:	total: 7m 17s	remaining: 19.2s
479:	total: 7m 18s	remaining: 18.3s
480:	total: 7m 18s	remaining: 17.3s
481:	total: 7m 19s	remaining: 16.4s
482:	total: 7m 20s	remaining: 15.5s
483:	total: 7m 21s	remaining: 14.6s
484:	total: 7m 22s	remaining: 13.7s
485:	total: 7m 23s	remaining: 12.8s
486:	total: 7m 24s	remaining: 11.9s
487:	total: 7m 25s	remaining: 10.9s
488:	total: 7m 26s	remaining: 10s
489:	total: 7m 27s	remaining: 9.13s
490:	total: 7m 28s	remaining: 8.22s
491:	total: 7m 29s	remaining: 7.3s
492:	total: 7m 30s	remaining: 6.39s
493:	total: 7m 31s	remaining: 5.48s
494:	total: 7m 32s	remaining: 4.57s
495:	total: 7m 33s	remaining: 3.65s
496:	total: 7m 33s	remaining: 2.74s
497:	total: 7m 34s	remaining: 1.83s
498:	total: 7m 35s	remaining: 913ms
499:	total: 7m 36s	remaining: 0us
578.47
CPU times: total: 56min 21s
Wall time: 9min 38s

In [13]:
%%time

# –°–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –º–æ–¥–µ–ª–∏
model.save_model("catboost_model.cbm")

CPU times: total: 0 ns
Wall time: 3.51 ms

## üìä 6. –û—Ü–µ–Ω–∫–∞ –∫–∞—á–µ—Å—Ç–≤–∞ –º–æ–¥–µ–ª–∏

### –ú–µ—Ç—Ä–∏–∫–∏:
- AUC-ROC
- Precision-Recall AUC  
- F1-score
- Accuracy, Precision, Recall

### –í–∞–∂–Ω–æ—Å—Ç—å –ø—Ä–∏–∑–Ω–∞–∫–æ–≤:
- –ê–Ω–∞–ª–∏–∑ –Ω–∞–∏–±–æ–ª–µ–µ –≤–ª–∏—è—Ç–µ–ª—å–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –Ω–∞ –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–µ

In [14]:
import os

from catboost import CatBoostClassifier


def get_model_path(path: str) -> str:
    if os.environ.get("IS_LMS") == "1":
        MODEL_PATH = "/workdir/user_input/model"
    else:
        MODEL_PATH = path
    return MODEL_PATH


def load_models():
    model_path = get_model_path("catboost_model.cbm")
    model = CatBoostClassifier()
    model.load_model(model_path)
    return model

In [15]:
%%time

# –ó–∞–≥—Ä—É–∑–∫–∞ –º–æ–¥–µ–ª–∏
loaded_model = load_models()

CPU times: total: 0 ns
Wall time: 18.9 ms

In [16]:
%%time

# –¢–∞–±–ª–∏—Ü–∞ –¥–ª—è —Ö—Ä–∞–Ω–µ–Ω–∏—è –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç–æ–≤
feature_importance_df = pd.DataFrame(index=X.columns)

# –¢–∞–±–ª–∏—Ü–∞ –¥–ª—è —Ö—Ä–∞–Ω–µ–Ω–∏—è –º–µ—Ç—Ä–∏–∫
metrics_df = pd.DataFrame(columns=["learn_time",
                                   "train_model_score", "test_model_score",
                                   "train_auc_roc", "test_auc_roc", "train_pr_auc", "test_pr_auc",
                                   "train_f1", "test_f1", "train_accuracy", "test_accuracy",
                                   "train_precision", "test_precision", "train_recall", "test_recall"])

CPU times: total: 0 ns
Wall time: 1e+03 Œºs

In [29]:
%%time

print('–û—Ü–µ–Ω–∏–≤–∞–µ–º –º–æ–¥–µ–ª—å –Ω–∞ —Ç—Ä–µ–π–Ω–µ')

t0 = time.time()
train_model_score = loaded_model.score(X_train, y_train)
t1 = time.time()
print('\t1\t', round(t1 - t0, 2))

t2 = time.time()
y_train_pred = loaded_model.predict(X_train)
t3 = time.time()
print('\t2\t', round(t3 - t2, 2))

t4 = time.time()
y_train_proba = loaded_model.predict_proba(X_train)[:, 1] if hasattr(loaded_model, 'predict_proba') else y_train_pred
t5 = time.time()
print('\t3\t', round(t5 - t4, 2))

t6 = time.time()
train_auc_roc = roc_auc_score(y_train, y_train_proba)
t7 = time.time()
print('\t4\t', round(t7 - t6, 2))

t8 = time.time()
train_pr_auc = average_precision_score(y_train, y_train_proba)
t9 = time.time()
print('\t5\t', round(t9 - t8, 2))

t10 = time.time()
train_f1 = f1_score(y_train, y_train_pred)
t11 = time.time()
print('\t6\t', round(t11 - t10, 2))

t12 = time.time()
train_accuracy = accuracy_score(y_train, y_train_pred)
t13 = time.time()
print('\t7\t', round(t13 - t12, 2))

t14 = time.time()
train_precision = precision_score(y_train, y_train_pred)
t15 = time.time()
print('\t8\t', round(t15 - t14, 2))

t16 = time.time()
train_recall = recall_score(y_train, y_train_pred)
t17 = time.time()
print('\t9\t', round(t17 - t16, 2))

print('–û—Ü–µ–Ω–∏–ª–∏ –º–æ–¥–µ–ª—å –Ω–∞ —Ç—Ä–µ–π–Ω–µ')
print('–û—Ü–µ–Ω–∏–≤–∞–µ–º –º–æ–¥–µ–ª—å –Ω–∞ —Ç–µ—Å—Ç–µ')

t18 = time.time()
test_model_score = loaded_model.score(X_test, y_test)
t19 = time.time()
print('\t10\t', round(t19 - t18, 2))

t20 = time.time()
y_test_pred = loaded_model.predict(X_test)
t21 = time.time()
print('\t11\t', round(t21 - t20, 2))

t22 = time.time()
y_test_proba = loaded_model.predict_proba(X_test)[:, 1] if hasattr(loaded_model, 'predict_proba') else y_test_pred
t23 = time.time()
print('\t12\t', round(t23 - t22, 2))

t24 = time.time()
test_auc_roc = roc_auc_score(y_test, y_test_proba)
t25 = time.time()
print('\t13\t', round(t25 - t24, 2))

t26 = time.time()
test_pr_auc = average_precision_score(y_test, y_test_proba)
t27 = time.time()
print('\t14\t', round(t27 - t26, 2))

t28 = time.time()
test_f1 = f1_score(y_test, y_test_pred)
t29 = time.time()
print('\t15\t', round(t29 - t28, 2))

t30 = time.time()
test_accuracy = accuracy_score(y_test, y_test_pred)
t31 = time.time()
print('\t16\t', round(t31 - t30, 2))

t32 = time.time()
test_precision = precision_score(y_test, y_test_pred)
t33 = time.time()
print('\t17\t', round(t33 - t32, 2))

t34 = time.time()
test_recall = recall_score(y_test, y_test_pred)
t35 = time.time()
print('\t18\t', round(t35 - t34, 2))

print('–û—Ü–µ–Ω–∏–ª–∏ –º–æ–¥–µ–ª—å –Ω–∞ —Ç–µ—Å—Ç–µ')
print('–ó–∞–ø–∏c—ã–≤–∞–µ–º –º–µ—Ç—Ä–∏–∫–∏ –≤ —Ç–∞–±–ª–∏—Ü—É')

# –§–æ—Ä–º–∏—Ä—É–µ–º DataFrame —Å –Ω—É–∂–Ω–æ–π —Å—Ç—Ä—É–∫—Ç—É—Ä–æ–π
metrics = {
    "model_score": [train_model_score, test_model_score],
    "auc_roc": [train_auc_roc, test_auc_roc],
    "pr_auc": [train_pr_auc, test_pr_auc],
    "f1": [train_f1, test_f1],
    "accuracy": [train_accuracy, test_accuracy],
    "precision": [train_precision, test_precision],
    "recall": [train_recall, test_recall]
}

metrics_df = pd.DataFrame(metrics, index=["train", "test"])

print('–ó–∞–ø–∏c–∞–ª–∏ –º–µ—Ç—Ä–∏–∫–∏ –≤ —Ç–∞–±–ª–∏—Ü—É')
print('–ó–∞–ø–∏c—ã–≤–∞–µ–º –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç—ã –∏ –≤–∞–∂–Ω–æ—Å—Ç–∏ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –≤ —Ç–∞–±–ª–∏—Ü—É')

importances = loaded_model.get_feature_importance()

# –°–æ–∑–¥–∞–µ–º DataFrame —Å –≤–∞–∂–Ω–æ—Å—Ç—å—é –ø—Ä–∏–∑–Ω–∞–∫–æ–≤
feature_importance_df = pd.DataFrame({
    'feature': X_train.columns.tolist() if hasattr(X_train, 'columns') else [f'feature_{i}' 
                                                                             for i in range(len(importances))],
    'importance': importances
})

print('–ó–∞–ø–∏—Å–∞–ª–∏ –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç—ã –∏ –≤–∞–∂–Ω–æ—Å—Ç–∏ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –≤ —Ç–∞–±–ª–∏—Ü—É')

–û—Ü–µ–Ω–∏–≤–∞–µ–º –º–æ–¥–µ–ª—å –Ω–∞ —Ç—Ä–µ–π–Ω–µ
	1	 106.77
	2	 106.6
	3	 108.15
	4	 5.9
	5	 4.76
	6	 1.53
	7	 0.33
	8	 1.5
	9	 1.39
–û—Ü–µ–Ω–∏–ª–∏ –º–æ–¥–µ–ª—å –Ω–∞ —Ç—Ä–µ–π–Ω–µ
–û—Ü–µ–Ω–∏–≤–∞–µ–º –º–æ–¥–µ–ª—å –Ω–∞ —Ç–µ—Å—Ç–µ
	10	 19.21
	11	 17.69
	12	 17.41
	13	 0.73
	14	 0.57
	15	 0.26
	16	 0.06
	17	 0.26
	18	 0.27
–û—Ü–µ–Ω–∏–ª–∏ –º–æ–¥–µ–ª—å –Ω–∞ —Ç–µ—Å—Ç–µ
–ó–∞–ø–∏c—ã–≤–∞–µ–º –º–µ—Ç—Ä–∏–∫–∏ –≤ —Ç–∞–±–ª–∏—Ü—É
–ó–∞–ø–∏c–∞–ª–∏ –º–µ—Ç—Ä–∏–∫–∏ –≤ —Ç–∞–±–ª–∏—Ü—É
–ó–∞–ø–∏c—ã–≤–∞–µ–º –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç—ã –∏ –≤–∞–∂–Ω–æ—Å—Ç–∏ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –≤ —Ç–∞–±–ª–∏—Ü—É
–ó–∞–ø–∏—Å–∞–ª–∏ –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç—ã –∏ –≤–∞–∂–Ω–æ—Å—Ç–∏ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –≤ —Ç–∞–±–ª–∏—Ü—É
CPU times: total: 8min 25s
Wall time: 6min 33s

In [31]:
%%time

# –í—ã–≤–æ–¥ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤
print("Feature Importance Table:")
display(feature_importance_df.sort_values(by='importance', ascending=False))

print("\nModel Metrics Table:")
display(metrics_df)

Feature Importance Table:

                feature  importance
7      city_countscaled   21.150979
8   country_countscaled    9.386021
1               post_id    7.428323
15      age_group_gt_40    6.682236
2                 month    6.098237
13      age_group_30_35    6.082052
16          exp_group_1    5.771113
17          exp_group_2    5.546019
14      age_group_35_40    4.305911
44          topic_sport    4.136491
24            tfidf_pc5    2.426313
21            tfidf_pc2    2.230628
43       topic_politics    1.809384
4                gender    1.440710
12      age_group_25_30    1.358581
22            tfidf_pc3    1.175261
20            tfidf_pc1    0.820802
45           topic_tech    0.729954
38           tfidf_pc19    0.707719
11      age_group_22_25    0.685419
10      age_group_20_22    0.642862
36           tfidf_pc17    0.633442
19          exp_group_4    0.608162
34           tfidf_pc15    0.593156
29           tfidf_pc10    0.584077
27            tfidf_pc8    0.583773
28            tfidf_pc9    0.582710
37           tfidf_pc18    0.570284
9       age_group_18_20    0.532689
39           tfidf_pc20    0.516866
23            tfidf_pc4    0.484578
25            tfidf_pc6    0.473822
18          exp_group_3    0.450210
30           tfidf_pc11    0.440187
31           tfidf_pc12    0.428755
26            tfidf_pc7    0.397676
35           tfidf_pc16    0.355175
33           tfidf_pc14    0.330841
32           tfidf_pc13    0.269173
42          topic_movie    0.234297
40          topic_covid    0.120181
3                   day    0.077251
41  topic_entertainment    0.055572
0               user_id    0.055488
5                    os    0.006619
6                source    0.000000

Model Metrics Table:

,model_score,auc_roc,pr_auc,f1,accuracy,precision,recall
train,0.587251,0.646037,0.160012,0.239626,0.587251,0.148216,0.625233
test,0.479905,0.622474,0.170298,0.251466,0.479905,0.152085,0.725633

CPU times: total: 31.2 ms
Wall time: 22.4 ms

## üíæ 7. –≠–∫—Å–ø–æ—Ä—Ç –æ–±—Ä–∞–±–æ—Ç–∞–Ω–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö –≤ PostgreSQL

### –°–æ–∑–¥–∞–≤–∞–µ–º—ã–µ —Ç–∞–±–ª–∏—Ü—ã:
1. `processed_user_data` - –æ–±—Ä–∞–±–æ—Ç–∞–Ω–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π
2. `processed_post_text` - TF-IDF + —Ç–µ–º—ã –ø–æ—Å—Ç–æ–≤
3. `processed_feed_data_like` - –¥–∞–Ω–Ω—ã–µ –æ –ª–∞–π–∫–∞—Ö
4. `clear_post_text` - –∏—Å—Ö–æ–¥–Ω—ã–µ —Ç–µ–∫—Å—Ç—ã –ø–æ—Å—Ç–æ–≤

In [19]:
%%time

user_data = pd.read_csv("user_data.csv")
post_text = pd.read_csv("post_text.csv")
feed_data_like = pd.read_csv("feed_data_like.csv")
clear_post_text = pd.read_csv("post_text.csv")

CPU times: total: 8.22 s
Wall time: 8.61 s

In [20]:
%%time

display(user_data.info(),
        post_text.info(),
        feed_data_like.info())

display(user_data,
        post_text,
        feed_data_like)

<class 'pandas.DataFrame'>
RangeIndex: 163205 entries, 0 to 163204
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    163205 non-null  int64
 1   gender     163205 non-null  int64
 2   age        163205 non-null  int64
 3   country    163205 non-null  str
 4   city       163205 non-null  str
 5   exp_group  163205 non-null  int64
 6   os         163205 non-null  str
 7   source     163205 non-null  str
dtypes: int64(4), str(4)
memory usage: 10.0 MB
<class 'pandas.DataFrame'>
RangeIndex: 7023 entries, 0 to 7022
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   post_id  7023 non-null   int64
 1   text     7023 non-null   str
 2   topic    7023 non-null   str
dtypes: int64(1), str(2)
memory usage: 164.7 KB
<class 'pandas.DataFrame'>
RangeIndex: 8206345 entries, 0 to 8206344
Data columns (total 5 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  str
 1   user_id    int64
 2   post_id    int64
 3   action     str
 4   target     int64
dtypes: int64(3), str(2)
memory usage: 313.0 MB

None

None

None

,user_id,gender,age,country,city,exp_group,os,source
0,200,1,34,Russia,Degtyarsk,3,Android,ads
1,201,0,37,Russia,Abakan,0,Android,ads
2,202,1,17,Russia,Smolensk,4,Android,ads
3,203,0,18,Russia,Moscow,1,iOS,ads
4,204,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads
...,...,...,...,...,...,...,...,...
163200,168548,0,36,Russia,Kaliningrad,4,Android,organic
163201,168549,0,18,Russia,Tula,2,Android,organic
163202,168550,1,41,Russia,Yekaterinburg,4,Android,organic
163203,168551,0,38,Russia,Moscow,3,iOS,organic
163204,168552,1,16,Russia,Ivanteyevka,4,Android,organic

      post_id                                               text     topic
0           1  UK economy facing major risks\n\nThe UK manufa...  business
1           2  Aids and climate top Davos agenda\n\nClimate c...  business
2           3  Asian quake hits European shares\n\nShares in ...  business
3           4  India power shares jump on debut\n\nShares in ...  business
4           5  Lacroix label bought by US firm\n\nLuxury good...  business
...       ...                                                ...       ...
7018     7315  OK, I would not normally watch a Farrelly brot...     movie
7019     7316  I give this movie 2 stars purely because of it...     movie
7020     7317  I cant believe this film was allowed to be mad...     movie
7021     7318  The version I saw of this film was the Blockbu...     movie
7022     7319  Piece of subtle art. Maybe a masterpiece. Doub...     movie

[7023 rows x 3 columns]

                   timestamp  user_id  post_id action  target
0        2021-12-19 21:58:49    72194     2323   like       0
1        2021-11-20 18:36:14   162059     4190   like       0
2        2021-11-20 18:46:11   162059     2033   like       0
3        2021-11-20 18:52:07   162059     1581   like       0
4        2021-11-20 18:59:02   162059     1172   like       0
...                      ...      ...      ...    ...     ...
8206340  2021-12-19 21:44:12    72194      404   like       0
8206341  2021-12-19 21:50:35    72194     5028   like       0
8206342  2021-12-19 21:51:05    72194     3876   like       0
8206343  2021-12-19 21:53:17    72194     7129   like       0
8206344  2021-12-19 21:54:58    72194     5867   like       0

[8206345 rows x 5 columns]

CPU times: total: 93.8 ms
Wall time: 96.8 ms

In [21]:
%%time

# –ó–∞–≥—Ä—É–∑–∫–∞ NLTK —Ä–µ—Å—É—Ä—Å–æ–≤ (–µ—Å–ª–∏ –Ω–µ —Å–∫–∞—á–∞–Ω—ã)
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

# –ò–Ω–∏—Ü–∏–∞–ª–∏–∑–∞—Ü–∏—è –ª–µ–º–º–∞—Ç–∏–∑–∞—Ç–æ—Ä–∞
lemmatizer = WordNetLemmatizer()
stop_words = set(stopwords.words('english'))  # —Ç–µ–∫—Å—Ç –Ω–∞ –∞–Ω–≥–ª–∏–π—Å–∫–æ–º


def preprocess_text(text):
    """–§—É–Ω–∫—Ü–∏—è –ø—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∏ —Ç–µ–∫—Å—Ç–∞"""
    tokens = word_tokenize(text.lower())  # —Ç–æ–∫–µ–Ω–∏–∑–∞—Ü–∏—è –∏ –ø—Ä–∏–≤–µ–¥–µ–Ω–∏–µ –∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É
    tokens = [lemmatizer.lemmatize(word) for word in tokens if
              word.isalpha() and word not in stop_words]  # –ª–µ–º–º–∞—Ç–∏–∑–∞—Ü–∏—è
    return " ".join(tokens)


# –ü—Ä–∏–º–µ–Ω—è–µ–º –ø—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫—É
post_text['processed_text'] = post_text['text'].apply(preprocess_text)

# –ü—Ä–∏–º–µ–Ω—è–µ–º TF-IDF
tfidf = TfidfVectorizer(min_df=0.15, max_df=0.85)
tfidf_matrix = tfidf.fit_transform(post_text['processed_text'])  # –í–µ–∫—Ç–æ—Ä–∏–∑–∞—Ü–∏—è –≤—Å–µ—Ö –¥–æ–∫—É–º–µ–Ω—Ç–æ–≤

# –£–¥–∞–ª—è–µ–º –∫–æ–ª–æ–Ω–∫—É 'processed_text'
post_text = post_text.drop(columns=['processed_text'])

# –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ DataFrame –¥–ª—è —É–¥–æ–±—Å—Ç–≤–∞
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf.get_feature_names_out())

# –£–º–µ–Ω—å—à–∞–µ–º —Ä–∞–∑–º–µ—Ä–Ω–æ—Å—Ç—å –¥–æ —Å—Ç–æ–ª—å–∫–∏—Ö –∫–æ–º–ø–æ–Ω–µ–Ω—Ç, —á—Ç–æ–±—ã
pca = PCA(n_components=0.80)
tfidf_pca = pca.fit_transform(tfidf_df)

print(f"–í—ã–±—Ä–∞–Ω–æ {tfidf_pca.shape[1]} –∫–æ–º–ø–æ–Ω–µ–Ω—Ç PCA, –æ–±—ä—è—Å–Ω–µ–Ω–Ω–∞—è –¥–∏—Å–ø–µ—Ä—Å–∏—è: {sum(pca.explained_variance_ratio_) * 100:.2f}%")

# —Å–ø–∏—Å–æ–∫ –∏–º—ë–Ω –¥–ª—è –∫–æ–ª–æ–Ω–æ–∫ PCA
col_names = [f'tfidf_pc{num + 1}' for num in range(tfidf_pca.shape[1])]

# –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º –≤ DataFrame
tfidf_pca_df = pd.DataFrame(tfidf_pca, columns=col_names)

post_text = pd.concat([post_text, tfidf_pca_df], axis=1)

# –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –≤ –∫–∞–∂–¥–æ–º –≥–æ—Ä–æ–¥–µ –∏ —Å—Ç—Ä–∞–Ω–µ
user_data['city_count'] = user_data.groupby('city')['user_id'].transform('count')
user_data['country_count'] = user_data.groupby('country')['user_id'].transform('count')

# –ö–æ–¥–∏—Ä—É–µ–º 'os' –∏ 'source' –∫–∞–∫ 0 –∏ 1
user_data['os'] = user_data['os'].map({'Android': 0, 'iOS': 1})
user_data['source'] = user_data['source'].map({'ads': 0, 'organic': 1})

# –†–∞–∑–±–∏–≤–∞–µ–º 'age' –Ω–∞ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –∏ –ø—Ä–∏–º–µ–Ω—è–µ–º OHE –¥–ª—è 'age_group'
age_bins = [0, 18, 20, 22, 25, 30, 35, 40, float('inf')]
age_labels = ['<18', '18_20', '20_22', '22_25', '25_30', '30_35', '35_40', 'gt_40']
user_data['age_group'] = pd.cut(user_data['age'], bins=age_bins, labels=age_labels, right=False)
user_data = pd.get_dummies(user_data, columns=['age_group'], drop_first=True)

# –ü—Ä–∏–º–µ–Ω—è–µ–º OHE –¥–ª—è 'exp_group'
user_data = pd.get_dummies(user_data, columns=['exp_group'], drop_first=True)

user_data.drop(['age', 'city', 'country'], axis=1, inplace=True)

feed_data_like['timestamp'] = pd.to_datetime(feed_data_like['timestamp'])
feed_data_like.sort_values(by='timestamp', ascending=True, inplace=True)
feed_data_like.drop(['timestamp', 'action'], axis=1, inplace=True)
feed_data_like.drop(['target'], axis=1, inplace=True)

post_text.drop(['text'], axis=1, inplace=True)
post_text = pd.get_dummies(post_text, columns=['topic'], drop_first=True)

user_data[['city_count', 'country_count']] = StandardScaler().fit_transform(user_data[['city_count', 'country_count']])
user_data = user_data.rename(columns={"city_count": "city_countscaled",
                                      "country_count": "country_countscaled"})

# –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ bool –≤ int64 –¥–ª—è —Ç–∞–±–ª–∏—Ü—ã user_data
bool_columns_user = [
    'age_group_18_20', 'age_group_20_22', 'age_group_22_25',
    'age_group_25_30', 'age_group_30_35', 'age_group_35_40',
    'age_group_gt_40', 'exp_group_1', 'exp_group_2', 'exp_group_3',
    'exp_group_4'
]

user_data[bool_columns_user] = user_data[bool_columns_user].astype('int64')

# –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ bool –≤ int64 –¥–ª—è —Ç–∞–±–ª–∏—Ü—ã post_text
bool_columns_post = [
    'topic_covid', 'topic_entertainment', 'topic_movie',
    'topic_politics', 'topic_sport', 'topic_tech'
]

post_text[bool_columns_post] = post_text[bool_columns_post].astype('int64')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\novos\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\novos\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\novos\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

–í—ã–±—Ä–∞–Ω–æ 20 –∫–æ–º–ø–æ–Ω–µ–Ω—Ç PCA, –æ–±—ä—è—Å–Ω–µ–Ω–Ω–∞—è –¥–∏—Å–ø–µ—Ä—Å–∏—è: 80.22%
CPU times: total: 23.2 s
Wall time: 24.3 s

In [22]:
%%time

display(user_data.info(),
        post_text.info(),
        feed_data_like.info())

display(user_data,
        post_text,
        feed_data_like)

<class 'pandas.DataFrame'>
RangeIndex: 163205 entries, 0 to 163204
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   user_id              163205 non-null  int64
 1   gender               163205 non-null  int64
 2   os                   163205 non-null  int64
 3   source               163205 non-null  int64
 4   city_countscaled     163205 non-null  float64
 5   country_countscaled  163205 non-null  float64
 6   age_group_18_20      163205 non-null  int64
 7   age_group_20_22      163205 non-null  int64
 8   age_group_22_25      163205 non-null  int64
 9   age_group_25_30      163205 non-null  int64
 10  age_group_30_35      163205 non-null  int64
 11  age_group_35_40      163205 non-null  int64
 12  age_group_gt_40      163205 non-null  int64
 13  exp_group_1          163205 non-null  int64
 14  exp_group_2          163205 non-null  int64
 15  exp_group_3          163205 non-null  int64
 16  exp_group_4          163205 non-null  int64
dtypes: float64(2), int64(15)
memory usage: 21.2 MB
<class 'pandas.DataFrame'>
RangeIndex: 7023 entries, 0 to 7022
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   post_id              7023 non-null   int64
 1   tfidf_pc1            7023 non-null   float64
 2   tfidf_pc2            7023 non-null   float64
 3   tfidf_pc3            7023 non-null   float64
 4   tfidf_pc4            7023 non-null   float64
 5   tfidf_pc5            7023 non-null   float64
 6   tfidf_pc6            7023 non-null   float64
 7   tfidf_pc7            7023 non-null   float64
 8   tfidf_pc8            7023 non-null   float64
 9   tfidf_pc9            7023 non-null   float64
 10  tfidf_pc10           7023 non-null   float64
 11  tfidf_pc11           7023 non-null   float64
 12  tfidf_pc12           7023 non-null   float64
 13  tfidf_pc13           7023 non-null   float64
 14  tfidf_pc14           7023 non-null   float64
 15  tfidf_pc15           7023 non-null   float64
 16  tfidf_pc16           7023 non-null   float64
 17  tfidf_pc17           7023 non-null   float64
 18  tfidf_pc18           7023 non-null   float64
 19  tfidf_pc19           7023 non-null   float64
 20  tfidf_pc20           7023 non-null   float64
 21  topic_covid          7023 non-null   int64
 22  topic_entertainment  7023 non-null   int64
 23  topic_movie          7023 non-null   int64
 24  topic_politics       7023 non-null   int64
 25  topic_sport          7023 non-null   int64
 26  topic_tech           7023 non-null   int64
dtypes: float64(20), int64(7)
memory usage: 1.4 MB
<class 'pandas.DataFrame'>
Index: 8206345 entries, 1077432 to 6685019
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  int64
 1   post_id  int64
dtypes: int64(2)
memory usage: 187.8 MB

None

None

None

,user_id,gender,os,source,city_countscaled,country_countscaled,age_group_18_20,age_group_20_22,age_group_22_25,age_group_25_30,age_group_30_35,age_group_35_40,age_group_gt_40,exp_group_1,exp_group_2,exp_group_3,exp_group_4
0,200,1,0,0,-0.492196,0.375419,0,0,0,0,1,0,0,0,0,1,0
1,201,0,0,0,-0.461974,0.375419,0,0,0,0,0,1,0,0,0,0,0
2,202,1,0,0,-0.435580,0.375419,0,0,0,0,0,0,0,0,0,0,1
3,203,0,1,0,2.496407,0.375419,1,0,0,0,0,0,0,1,0,0,0
4,204,0,0,0,-0.480572,0.375419,0,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163200,168548,0,0,1,-0.417118,0.375419,0,0,0,0,0,1,0,0,0,0,1
163201,168549,0,0,1,-0.409050,0.375419,1,0,0,0,0,0,0,0,1,0,0
163202,168550,1,0,1,-0.231818,0.375419,0,0,0,0,0,0,1,0,0,0,1
163203,168551,0,1,1,2.496407,0.375419,0,0,0,0,0,1,0,0,0,1,0
163204,168552,1,0,1,-0.482213,0.375419,0,0,0,0,0,0,0,0,0,0,1

,post_id,tfidf_pc1,tfidf_pc2,tfidf_pc3,tfidf_pc4,tfidf_pc5,tfidf_pc6,tfidf_pc7,tfidf_pc8,tfidf_pc9,...,tfidf_pc17,tfidf_pc18,tfidf_pc19,tfidf_pc20,topic_covid,topic_entertainment,topic_movie,topic_politics,topic_sport,topic_tech
0,1,-0.218558,0.601688,-0.003158,0.056255,0.385736,-0.339179,0.178276,-0.000519,-0.013779,...,0.001073,0.103103,-0.051594,0.045501,0,0,0,0,0,0
1,2,-0.205009,0.397279,-0.018611,-0.105986,-0.012848,0.034922,0.362120,-0.094890,-0.078602,...,-0.011842,-0.027673,0.127649,0.109420,0,0,0,0,0,0
2,3,-0.226079,0.351299,-0.012396,-0.002268,-0.168320,0.031515,0.210111,-0.029437,0.051842,...,-0.144802,0.108878,0.075442,0.155740,0,0,0,0,0,0
3,4,-0.221130,0.495558,-0.057405,0.098004,-0.013409,0.171581,-0.240566,-0.140888,0.025036,...,-0.125282,0.012668,-0.063527,0.055483,0,0,0,0,0,0
4,5,-0.226907,0.551035,-0.022373,0.179819,0.045989,0.142870,-0.191710,-0.069274,-0.299033,...,-0.053152,0.039702,-0.053253,-0.210970,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,7315,-0.292540,-0.217610,-0.397587,0.098741,-0.021369,-0.028251,-0.066127,0.024365,0.031856,...,0.082184,-0.143099,0.087293,0.011876,0,0,1,0,0,0
7019,7316,-0.270304,-0.438322,-0.335058,0.266671,0.026826,0.065955,0.118212,-0.079184,0.038594,...,0.159207,-0.022844,-0.046375,0.246042,0,0,1,0,0,0
7020,7317,-0.257575,-0.270416,0.536110,0.051263,-0.057736,0.034811,0.142500,-0.110504,-0.018741,...,-0.122173,-0.149795,-0.034521,-0.028334,0,0,1,0,0,0
7021,7318,-0.259425,-0.168820,0.419927,-0.054620,-0.124318,0.017562,0.156697,-0.120087,-0.105272,...,-0.148261,0.159995,-0.136097,-0.119240,0,0,1,0,0,0
7022,7319,-0.232369,-0.340943,0.052071,0.100194,0.057006,0.003658,0.167517,-0.091822,-0.001564,...,0.045706,0.043824,0.103844,-0.067396,0,0,1,0,0,0

         user_id  post_id
1077432   156604      573
174800    142997     6445
872447    122594     4554
1034829     8663     3837
1163120    94081     5671
...          ...      ...
5480611   113194     1629
6449064    84572     6836
5060984   140395     4485
6248678    33284     2093
6685019    40093      985

[8206345 rows x 2 columns]

CPU times: total: 78.1 ms
Wall time: 81.7 ms

In [23]:
%%time

user_data.to_csv("processed_user_data.csv", index=False)
post_text.to_csv("processed_post_text.csv", index=False)
feed_data_like.to_csv("processed_feed_data_like.csv", index=False)

CPU times: total: 8.62 s
Wall time: 8.89 s

In [24]:
%%time

processed_user_data = pd.read_csv("processed_user_data.csv")
processed_post_text = pd.read_csv("processed_post_text.csv")
processed_feed_data_like = pd.read_csv("processed_feed_data_like.csv")

CPU times: total: 2.97 s
Wall time: 3.16 s

In [25]:
%%time

display(processed_user_data.info(),
        processed_post_text.info(), 
        processed_feed_data_like.info())

display(processed_user_data,
        processed_post_text, 
        processed_feed_data_like)

<class 'pandas.DataFrame'>
RangeIndex: 163205 entries, 0 to 163204
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   user_id              163205 non-null  int64
 1   gender               163205 non-null  int64
 2   os                   163205 non-null  int64
 3   source               163205 non-null  int64
 4   city_countscaled     163205 non-null  float64
 5   country_countscaled  163205 non-null  float64
 6   age_group_18_20      163205 non-null  int64
 7   age_group_20_22      163205 non-null  int64
 8   age_group_22_25      163205 non-null  int64
 9   age_group_25_30      163205 non-null  int64
 10  age_group_30_35      163205 non-null  int64
 11  age_group_35_40      163205 non-null  int64
 12  age_group_gt_40      163205 non-null  int64
 13  exp_group_1          163205 non-null  int64
 14  exp_group_2          163205 non-null  int64
 15  exp_group_3          163205 non-null  int64
 16  exp_group_4          163205 non-null  int64
dtypes: float64(2), int64(15)
memory usage: 21.2 MB
<class 'pandas.DataFrame'>
RangeIndex: 7023 entries, 0 to 7022
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   post_id              7023 non-null   int64
 1   tfidf_pc1            7023 non-null   float64
 2   tfidf_pc2            7023 non-null   float64
 3   tfidf_pc3            7023 non-null   float64
 4   tfidf_pc4            7023 non-null   float64
 5   tfidf_pc5            7023 non-null   float64
 6   tfidf_pc6            7023 non-null   float64
 7   tfidf_pc7            7023 non-null   float64
 8   tfidf_pc8            7023 non-null   float64
 9   tfidf_pc9            7023 non-null   float64
 10  tfidf_pc10           7023 non-null   float64
 11  tfidf_pc11           7023 non-null   float64
 12  tfidf_pc12           7023 non-null   float64
 13  tfidf_pc13           7023 non-null   float64
 14  tfidf_pc14           7023 non-null   float64
 15  tfidf_pc15           7023 non-null   float64
 16  tfidf_pc16           7023 non-null   float64
 17  tfidf_pc17           7023 non-null   float64
 18  tfidf_pc18           7023 non-null   float64
 19  tfidf_pc19           7023 non-null   float64
 20  tfidf_pc20           7023 non-null   float64
 21  topic_covid          7023 non-null   int64
 22  topic_entertainment  7023 non-null   int64
 23  topic_movie          7023 non-null   int64
 24  topic_politics       7023 non-null   int64
 25  topic_sport          7023 non-null   int64
 26  topic_tech           7023 non-null   int64
dtypes: float64(20), int64(7)
memory usage: 1.4 MB
<class 'pandas.DataFrame'>
RangeIndex: 8206345 entries, 0 to 8206344
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  int64
 1   post_id  int64
dtypes: int64(2)
memory usage: 125.2 MB

None

None

None

,user_id,gender,os,source,city_countscaled,country_countscaled,age_group_18_20,age_group_20_22,age_group_22_25,age_group_25_30,age_group_30_35,age_group_35_40,age_group_gt_40,exp_group_1,exp_group_2,exp_group_3,exp_group_4
0,200,1,0,0,-0.492196,0.375419,0,0,0,0,1,0,0,0,0,1,0
1,201,0,0,0,-0.461974,0.375419,0,0,0,0,0,1,0,0,0,0,0
2,202,1,0,0,-0.435580,0.375419,0,0,0,0,0,0,0,0,0,0,1
3,203,0,1,0,2.496407,0.375419,1,0,0,0,0,0,0,1,0,0,0
4,204,0,0,0,-0.480572,0.375419,0,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163200,168548,0,0,1,-0.417118,0.375419,0,0,0,0,0,1,0,0,0,0,1
163201,168549,0,0,1,-0.409050,0.375419,1,0,0,0,0,0,0,0,1,0,0
163202,168550,1,0,1,-0.231818,0.375419,0,0,0,0,0,0,1,0,0,0,1
163203,168551,0,1,1,2.496407,0.375419,0,0,0,0,0,1,0,0,0,1,0
163204,168552,1,0,1,-0.482213,0.375419,0,0,0,0,0,0,0,0,0,0,1

,post_id,tfidf_pc1,tfidf_pc2,tfidf_pc3,tfidf_pc4,tfidf_pc5,tfidf_pc6,tfidf_pc7,tfidf_pc8,tfidf_pc9,...,tfidf_pc17,tfidf_pc18,tfidf_pc19,tfidf_pc20,topic_covid,topic_entertainment,topic_movie,topic_politics,topic_sport,topic_tech
0,1,-0.218558,0.601688,-0.003158,0.056255,0.385736,-0.339179,0.178276,-0.000519,-0.013779,...,0.001073,0.103103,-0.051594,0.045501,0,0,0,0,0,0
1,2,-0.205009,0.397279,-0.018611,-0.105986,-0.012848,0.034922,0.362120,-0.094890,-0.078602,...,-0.011842,-0.027673,0.127649,0.109420,0,0,0,0,0,0
2,3,-0.226079,0.351299,-0.012396,-0.002268,-0.168320,0.031515,0.210111,-0.029437,0.051842,...,-0.144802,0.108878,0.075442,0.155740,0,0,0,0,0,0
3,4,-0.221130,0.495558,-0.057405,0.098004,-0.013409,0.171581,-0.240566,-0.140888,0.025036,...,-0.125282,0.012668,-0.063527,0.055483,0,0,0,0,0,0
4,5,-0.226907,0.551035,-0.022373,0.179819,0.045989,0.142870,-0.191710,-0.069274,-0.299033,...,-0.053152,0.039702,-0.053253,-0.210970,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,7315,-0.292540,-0.217610,-0.397587,0.098741,-0.021369,-0.028251,-0.066127,0.024365,0.031856,...,0.082184,-0.143099,0.087293,0.011876,0,0,1,0,0,0
7019,7316,-0.270304,-0.438322,-0.335058,0.266671,0.026826,0.065955,0.118212,-0.079184,0.038594,...,0.159207,-0.022844,-0.046375,0.246042,0,0,1,0,0,0
7020,7317,-0.257575,-0.270416,0.536110,0.051263,-0.057736,0.034811,0.142500,-0.110504,-0.018741,...,-0.122173,-0.149795,-0.034521,-0.028334,0,0,1,0,0,0
7021,7318,-0.259425,-0.168820,0.419927,-0.054620,-0.124318,0.017562,0.156697,-0.120087,-0.105272,...,-0.148261,0.159995,-0.136097,-0.119240,0,0,1,0,0,0
7022,7319,-0.232369,-0.340943,0.052071,0.100194,0.057006,0.003658,0.167517,-0.091822,-0.001564,...,0.045706,0.043824,0.103844,-0.067396,0,0,1,0,0,0

         user_id  post_id
0         156604      573
1         142997     6445
2         122594     4554
3           8663     3837
4          94081     5671
...          ...      ...
8206340   113194     1629
8206341    84572     6836
8206342   140395     4485
8206343    33284     2093
8206344    40093      985

[8206345 rows x 2 columns]

CPU times: total: 93.8 ms
Wall time: 86.1 ms

In [26]:
%%time

load_dotenv()
SQLALCHEMY_DATABASE_URL = os.getenv("SQLALCHEMY_DATABASE_URL")

engine = create_engine(SQLALCHEMY_DATABASE_URL)

with engine.begin() as conn:
    conn.execute(text("""
        DROP TABLE IF EXISTS processed_user_data;
        DROP TABLE IF EXISTS processed_post_text;
        DROP TABLE IF EXISTS processed_feed_data_like;
        DROP TABLE IF EXISTS clear_post_text;
    """))

with engine.begin() as conn:
    conn.execute(text("""
        CREATE TABLE processed_user_data (
            user_id BIGINT,
            gender INT,
            os INT,
            source INT,
            city_countscaled FLOAT,
            country_countscaled FLOAT,
            age_group_18_20 INT,
            age_group_20_22 INT,
            age_group_22_25 INT,
            age_group_25_30 INT,
            age_group_30_35 INT,
            age_group_35_40 INT,
            age_group_gt_40 INT,
            exp_group_1 INT,
            exp_group_2 INT,
            exp_group_3 INT,
            exp_group_4 INT
        );
    """))

with engine.begin() as conn:
    conn.execute(text("""
        CREATE TABLE processed_post_text (
            post_id BIGINT,
            tfidf_pc1 FLOAT,
            tfidf_pc2 FLOAT,
            tfidf_pc3 FLOAT,
            tfidf_pc4 FLOAT,
            tfidf_pc5 FLOAT,
            tfidf_pc6 FLOAT,
            tfidf_pc7 FLOAT,
            tfidf_pc8 FLOAT,
            tfidf_pc9 FLOAT,
            tfidf_pc10 FLOAT,
            tfidf_pc11 FLOAT,
            tfidf_pc12 FLOAT,
            tfidf_pc13 FLOAT,
            tfidf_pc14 FLOAT,
            tfidf_pc15 FLOAT,
            tfidf_pc16 FLOAT,
            tfidf_pc17 FLOAT,
            tfidf_pc18 FLOAT,
            tfidf_pc19 FLOAT,
            tfidf_pc20 FLOAT,
            topic_covid INT,
            topic_entertainment INT,
            topic_movie INT,
            topic_politics INT,
            topic_sport INT,
            topic_tech INT
        );
    """))

with engine.begin() as conn:
    conn.execute(text("""
        CREATE TABLE processed_feed_data_like (
            user_id BIGINT,
            post_id BIGINT
        );
    """))

with engine.begin() as conn:
    conn.execute(text("""
        CREATE TABLE clear_post_text (
            post_id BIGINT,
            text TEXT,
            topic TEXT
        );
    """))

CPU times: total: 62.5 ms
Wall time: 3.48 s

In [27]:
%%time

def copy_dataframe(df, table_name, conn_str):
    conn = psycopg2.connect(conn_str)
    cur = conn.cursor()

    buffer = StringIO()
    df.to_csv(buffer, index=False, header=False)
    buffer.seek(0)

    cur.copy_expert(
        f"COPY {table_name} FROM STDIN WITH CSV",
        buffer
    )

    conn.commit()
    cur.close()
    conn.close()


t0 = time.time()
copy_dataframe(processed_user_data, "processed_user_data", SQLALCHEMY_DATABASE_URL)
t1 = time.time()
print(round(t1 - t0, 2))

t2 = time.time()
copy_dataframe(processed_post_text, "processed_post_text", SQLALCHEMY_DATABASE_URL)
t3 = time.time()
print(round(t3 - t2, 2))

t4 = time.time()
copy_dataframe(processed_feed_data_like, "processed_feed_data_like", SQLALCHEMY_DATABASE_URL)
t5 = time.time()
print(round(t5 - t4, 2))

t6 = time.time()
copy_dataframe(clear_post_text, "clear_post_text", SQLALCHEMY_DATABASE_URL)
t7 = time.time()
print(round(t7 - t6, 2))

3.58
1.87
17.55
2.52
CPU times: total: 8.25 s
Wall time: 25.5 s

In [28]:
%%time

def copy_query_to_df(query, conn_str):
    conn = psycopg2.connect(conn_str)
    cur = conn.cursor()

    buffer = StringIO()
    cur.copy_expert(f"COPY ({query}) TO STDOUT WITH CSV HEADER", buffer)
    buffer.seek(0)

    df = pd.read_csv(buffer)

    cur.close()
    conn.close()
    return df


t0 = time.time()
processed_user_data_from_db = copy_query_to_df(
    "SELECT * FROM processed_user_data LIMIT 10000000",
    SQLALCHEMY_DATABASE_URL
)
t1 = time.time()
print(round(t1 - t0, 2))

t2 = time.time()
processed_post_text_from_db = copy_query_to_df(
    "SELECT * FROM processed_post_text LIMIT 10000000",
    SQLALCHEMY_DATABASE_URL
)
t3 = time.time()
print(round(t3 - t2, 2))

t4 = time.time()
processed_feed_data_like_from_db = copy_query_to_df(
    "SELECT * FROM processed_feed_data_like LIMIT 10000000",
    SQLALCHEMY_DATABASE_URL
)
t5 = time.time()
print(round(t5 - t4, 2))

t6 = time.time()
clear_post_text_from_db = copy_query_to_df(
    "SELECT * FROM clear_post_text LIMIT 10000000",
    SQLALCHEMY_DATABASE_URL
)
t7 = time.time()
print(round(t7 - t6, 2))

display(processed_user_data_from_db.info(),
        processed_post_text_from_db.info(),
        processed_feed_data_like_from_db.info(),
        clear_post_text_from_db.info())

display(processed_user_data_from_db,
        processed_post_text_from_db,
        processed_feed_data_like_from_db,
        clear_post_text_from_db)

5.6
2.14
655.63
CPU times: total: 8.34 s
Wall time: 11min 13s

OperationalError: could not translate host name "postgres.lab.karpov.courses" to address: Temporary failure in name resolution

## üéØ 8. –í—ã–≤–æ–¥—ã –∏ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã

### –ö–ª—é—á–µ–≤—ã–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã:
1. **–ö–∞—á–µ—Å—Ç–≤–æ –º–æ–¥–µ–ª–∏ (ML)**: AUC-ROC = 0.62-0.65
2. **–ö–∞—á–µ—Å—Ç–≤–æ –º–æ–¥–µ–ª–∏ (prod)**: HitRate@5 = 0.600
3. **–°—Ä–µ–¥–Ω–µ–µ –≤—Ä–µ–º—è —Ä–∞–±–æ—Ç—ã –æ–¥–Ω–æ–≥–æ –∑–∞–ø—Ä–æ—Å–∞:** 0,5 —Å–µ–∫—É–Ω–¥