# üìä –ü—Ä–æ–µ–∫—Ç: –†–µ–∫–æ–º–µ–Ω–¥–∞—Ç–µ–ª—å–Ω–∞—è —Å–∏—Å—Ç–µ–º–∞ –¥–ª—è —Å–æ—Ü–∏–∞–ª—å–Ω–æ–π —Å–µ—Ç–∏

## üéØ –ü—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–µ –ª–∞–π–∫–æ–≤ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π
 
**–û–ø–∏—Å–∞–Ω–∏–µ:** –û–±—É—á–µ–Ω–∏–µ CatBoost –º–æ–¥–µ–ª–∏ –¥–ª—è –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è –ª–∞–π–∫–æ–≤ –ø–æ—Å—Ç–æ–≤ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è–º–∏ –Ω–∞ –æ—Å–Ω–æ–≤–µ –∏—Ö –¥–µ–º–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –∏ –∫–æ–Ω—Ç–µ–Ω—Ç–∞ –ø–æ—Å—Ç–æ–≤.

## –ò–º–ø–æ—Ä—Ç –±–∏–±–ª–∏–æ—Ç–µ–∫

In [1]:
import os
import time
import warnings
from io import StringIO
from pathlib import Path

import nltk
import numpy as np
import pandas as pd
import psycopg2
from catboost import CatBoostClassifier
from dotenv import load_dotenv
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from sklearn.decomposition import PCA
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score, precision_score
from sklearn.metrics import average_precision_score, roc_auc_score
from sklearn.metrics import recall_score, f1_score
from sklearn.preprocessing import StandardScaler
from sqlalchemy import create_engine
from sqlalchemy import text

warnings.filterwarnings('ignore')

## üì• 2. –ó–∞–≥—Ä—É–∑–∫–∞ –∏ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

### –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞—Ç–∞—Å–µ—Ç–æ–≤:
- **user_data.csv**: –î–µ–º–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–∏–µ –¥–∞–Ω–Ω—ã–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π (163K –∑–∞–ø–∏—Å–µ–π)
- **post_text.csv**: –¢–µ–∫—Å—Ç—ã –ø–æ—Å—Ç–æ–≤ –∏ –∏—Ö —Ç–µ–º—ã (7K –∑–∞–ø–∏—Å–µ–π)  
- **feed_data.csv**: –í–∑–∞–∏–º–æ–¥–µ–π—Å—Ç–≤–∏—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π —Å –ø–æ—Å—Ç–∞–º–∏ (10M –∑–∞–ø–∏—Å–µ–π)

In [2]:
%%time

# –û–ø—Ä–µ–¥–µ–ª—è–µ–º –ø—É—Ç–∏
PROJECT_ROOT = Path().resolve().parent
RAW_DATA_DIR = PROJECT_ROOT / "part2-ml-model" / "raw_data"
PROCESSED_DATA_DIR = PROJECT_ROOT / "part2-ml-model" / "processed_data"

user_data = pd.read_csv(RAW_DATA_DIR / "user_data.csv")
post_text = pd.read_csv(RAW_DATA_DIR / "post_text.csv")
feed_data = pd.read_csv(RAW_DATA_DIR / "feed_data_10000000.csv")

CPU times: total: 13.5 s
Wall time: 13.7 s

In [3]:
%%time

display(user_data.info(),
        post_text.info(),
        feed_data.info())

display(user_data,
        post_text,
        feed_data)

<class 'pandas.DataFrame'>
RangeIndex: 163205 entries, 0 to 163204
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    163205 non-null  int64
 1   gender     163205 non-null  int64
 2   age        163205 non-null  int64
 3   country    163205 non-null  str
 4   city       163205 non-null  str
 5   exp_group  163205 non-null  int64
 6   os         163205 non-null  str
 7   source     163205 non-null  str
dtypes: int64(4), str(4)
memory usage: 10.0 MB
<class 'pandas.DataFrame'>
RangeIndex: 7023 entries, 0 to 7022
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   post_id  7023 non-null   int64
 1   text     7023 non-null   str
 2   topic    7023 non-null   str
dtypes: int64(1), str(2)
memory usage: 164.7 KB
<class 'pandas.DataFrame'>
RangeIndex: 10000000 entries, 0 to 9999999
Data columns (total 5 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  str
 1   user_id    int64
 2   post_id    int64
 3   action     str
 4   target     int64
dtypes: int64(3), str(2)
memory usage: 381.5 MB

None

None

None

,user_id,gender,age,country,city,exp_group,os,source
0,200,1,34,Russia,Degtyarsk,3,Android,ads
1,201,0,37,Russia,Abakan,0,Android,ads
2,202,1,17,Russia,Smolensk,4,Android,ads
3,203,0,18,Russia,Moscow,1,iOS,ads
4,204,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads
...,...,...,...,...,...,...,...,...
163200,168548,0,36,Russia,Kaliningrad,4,Android,organic
163201,168549,0,18,Russia,Tula,2,Android,organic
163202,168550,1,41,Russia,Yekaterinburg,4,Android,organic
163203,168551,0,38,Russia,Moscow,3,iOS,organic
163204,168552,1,16,Russia,Ivanteyevka,4,Android,organic

      post_id                                               text     topic
0           1  UK economy facing major risks\n\nThe UK manufa...  business
1           2  Aids and climate top Davos agenda\n\nClimate c...  business
2           3  Asian quake hits European shares\n\nShares in ...  business
3           4  India power shares jump on debut\n\nShares in ...  business
4           5  Lacroix label bought by US firm\n\nLuxury good...  business
...       ...                                                ...       ...
7018     7315  OK, I would not normally watch a Farrelly brot...     movie
7019     7316  I give this movie 2 stars purely because of it...     movie
7020     7317  I cant believe this film was allowed to be mad...     movie
7021     7318  The version I saw of this film was the Blockbu...     movie
7022     7319  Piece of subtle art. Maybe a masterpiece. Doub...     movie

[7023 rows x 3 columns]

                   timestamp  user_id  post_id action  target
0        2021-10-31 15:32:01    94388     3770   view       0
1        2021-11-01 10:12:08    94388      732   view       1
2        2021-11-01 10:13:31    94388      732   like       0
3        2021-11-01 10:13:33    94388      915   view       1
4        2021-11-01 10:14:55    94388      915   like       0
...                      ...      ...      ...    ...     ...
9999995  2021-11-12 06:58:12    54841     6482   view       0
9999996  2021-11-12 07:00:00    54841     2371   view       1
9999997  2021-11-12 07:02:54    54841     2371   like       0
9999998  2021-11-12 07:02:56    54841      982   view       0
9999999  2021-11-12 07:04:42    54841     3886   view       0

[10000000 rows x 5 columns]

CPU times: total: 31.2 ms
Wall time: 37.8 ms

## üõ†Ô∏è 3. –ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ —Ç–µ–∫—Å—Ç–æ–≤—ã—Ö –¥–∞–Ω–Ω—ã—Ö

### –®–∞–≥–∏:
1. –ó–∞–≥—Ä—É–∑–∫–∞ NLTK —Ä–µ—Å—É—Ä—Å–æ–≤
2. –õ–µ–º–º–∞—Ç–∏–∑–∞—Ü–∏—è –∏ —É–¥–∞–ª–µ–Ω–∏–µ —Å—Ç–æ–ø-—Å–ª–æ–≤
3. TF-IDF –≤–µ–∫—Ç–æ—Ä–∏–∑–∞—Ü–∏—è
4. PCA –¥–ª—è —Å–Ω–∏–∂–µ–Ω–∏—è —Ä–∞–∑–º–µ—Ä–Ω–æ—Å—Ç–∏ (—Å–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ 80% –¥–∏—Å–ø–µ—Ä—Å–∏–∏)

In [4]:
%%time 

# –ó–∞–≥—Ä—É–∑–∫–∞ NLTK —Ä–µ—Å—É—Ä—Å–æ–≤ (–µ—Å–ª–∏ –Ω–µ —Å–∫–∞—á–∞–Ω—ã)
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

# –ò–Ω–∏—Ü–∏–∞–ª–∏–∑–∞—Ü–∏—è –ª–µ–º–º–∞—Ç–∏–∑–∞—Ç–æ—Ä–∞
lemmatizer = WordNetLemmatizer()
stop_words = set(stopwords.words('english'))  # —Ç–µ–∫—Å—Ç –Ω–∞ –∞–Ω–≥–ª–∏–π—Å–∫–æ–º


def preprocess_text(text):
    """–§—É–Ω–∫—Ü–∏—è –ø—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∏ —Ç–µ–∫—Å—Ç–∞"""
    tokens = word_tokenize(text.lower())  # —Ç–æ–∫–µ–Ω–∏–∑–∞—Ü–∏—è –∏ –ø—Ä–∏–≤–µ–¥–µ–Ω–∏–µ –∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É
    tokens = [lemmatizer.lemmatize(word) for word in tokens if
              word.isalpha() and word not in stop_words]  # –ª–µ–º–º–∞—Ç–∏–∑–∞—Ü–∏—è
    return " ".join(tokens)


# –ü—Ä–∏–º–µ–Ω—è–µ–º –ø—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫—É
post_text['processed_text'] = post_text['text'].apply(preprocess_text)

# –ü—Ä–∏–º–µ–Ω—è–µ–º TF-IDF
tfidf = TfidfVectorizer(min_df=0.15, max_df=0.85)
tfidf_matrix = tfidf.fit_transform(post_text['processed_text'])  # –í–µ–∫—Ç–æ—Ä–∏–∑–∞—Ü–∏—è –≤—Å–µ—Ö –¥–æ–∫—É–º–µ–Ω—Ç–æ–≤

# –£–¥–∞–ª—è–µ–º –∫–æ–ª–æ–Ω–∫—É 'processed_text'
post_text = post_text.drop(columns=['processed_text'])

# –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ DataFrame –¥–ª—è —É–¥–æ–±—Å—Ç–≤–∞
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf.get_feature_names_out())

# –£–º–µ–Ω—å—à–∞–µ–º —Ä–∞–∑–º–µ—Ä–Ω–æ—Å—Ç—å –¥–æ —Å—Ç–æ–ª—å–∫–∏—Ö –∫–æ–º–ø–æ–Ω–µ–Ω—Ç, —á—Ç–æ–±—ã
pca = PCA(n_components=0.80)
tfidf_pca = pca.fit_transform(tfidf_df)

print(f"–í—ã–±—Ä–∞–Ω–æ {tfidf_pca.shape[1]} –∫–æ–º–ø–æ–Ω–µ–Ω—Ç PCA, –æ–±—ä—è—Å–Ω–µ–Ω–Ω–∞—è –¥–∏—Å–ø–µ—Ä—Å–∏—è: {sum(pca.explained_variance_ratio_) * 100:.2f}%")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\novos\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\novos\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\novos\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

–í—ã–±—Ä–∞–Ω–æ 20 –∫–æ–º–ø–æ–Ω–µ–Ω—Ç PCA, –æ–±—ä—è—Å–Ω–µ–Ω–Ω–∞—è –¥–∏—Å–ø–µ—Ä—Å–∏—è: 80.22%
CPU times: total: 7.33 s
Wall time: 7.98 s

## üîß 4. –°–æ–∑–¥–∞–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤

### –î–ª—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π:
- –ù–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏—è –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –ø–æ –≥–æ—Ä–æ–¥–∞–º/—Å—Ç—Ä–∞–Ω–∞–º
- One-Hot Encoding –¥–ª—è –≤–æ–∑—Ä–∞—Å—Ç–Ω—ã—Ö –≥—Ä—É–ø–ø –∏ —ç–∫—Å–ø–µ—Ä–∏–º–µ–Ω—Ç–∞–ª—å–Ω—ã—Ö –≥—Ä—É–ø–ø
- –ö–æ–¥–∏—Ä–æ–≤–∞–Ω–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –ø–µ—Ä–µ–º–µ–Ω–Ω—ã—Ö (OS, source)

### –î–ª—è –≤—Ä–µ–º–µ–Ω–Ω—ã—Ö –º–µ—Ç–æ–∫:
- –ò–∑–≤–ª–µ—á–µ–Ω–∏–µ –º–µ—Å—è—Ü–∞ –∏ –¥–Ω—è
- –ù–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏—è –≤—Ä–µ–º–µ–Ω–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤

In [5]:
%%time

# —Å–ø–∏—Å–æ–∫ –∏–º—ë–Ω –¥–ª—è –∫–æ–ª–æ–Ω–æ–∫ PCA
col_names = [f'tfidf_pc{num + 1}' for num in range(tfidf_pca.shape[1])]

# –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º –≤ DataFrame
tfidf_pca_df = pd.DataFrame(tfidf_pca, columns=col_names)
post_text = pd.concat([post_text, tfidf_pca_df], axis=1)

# –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –≤ –∫–∞–∂–¥–æ–º –≥–æ—Ä–æ–¥–µ –∏ —Å—Ç—Ä–∞–Ω–µ
user_data['city_count'] = user_data.groupby('city')['user_id'].transform('count')
user_data['country_count'] = user_data.groupby('country')['user_id'].transform('count')

# –ö–æ–¥–∏—Ä—É–µ–º 'os' –∏ 'source' –∫–∞–∫ 0 –∏ 1
user_data['os'] = user_data['os'].map({'Android': 0, 'iOS': 1})
user_data['source'] = user_data['source'].map({'ads': 0, 'organic': 1})

# –†–∞–∑–±–∏–≤–∞–µ–º 'age' –Ω–∞ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –∏ –ø—Ä–∏–º–µ–Ω—è–µ–º OHE –¥–ª—è 'age_group'
age_bins = [0, 18, 20, 22, 25, 30, 35, 40, float('inf')]
age_labels = ['<18', '18_20', '20_22', '22_25', '25_30', '30_35', '35_40', 'gt_40']
user_data['age_group'] = pd.cut(user_data['age'], bins=age_bins, labels=age_labels, right=False)
user_data = pd.get_dummies(user_data, columns=['age_group'], drop_first=True)

# –ü—Ä–∏–º–µ–Ω—è–µ–º OHE –¥–ª—è 'exp_group'
user_data = pd.get_dummies(user_data, columns=['exp_group'], drop_first=True)

user_data.drop(['age', 'city', 'country'], axis=1, inplace=True)

feed_data['timestamp'] = pd.to_datetime(feed_data['timestamp'])
feed_data.sort_values(by='timestamp', ascending=True, inplace=True)
feed_data['month'] = feed_data['timestamp'].dt.month / 12
feed_data['day'] = feed_data['timestamp'].dt.day / 31
feed_data.drop(['timestamp', 'action'], axis=1, inplace=True)

post_text.drop(['text'], axis=1, inplace=True)
post_text = pd.get_dummies(post_text, columns=['topic'], drop_first=True)

user_data[['city_count', 'country_count']] = StandardScaler().fit_transform(user_data[['city_count', 'country_count']])
user_data = user_data.rename(columns={"city_count": "city_countscaled",
                                      "country_count": "country_countscaled"})

# –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ bool –≤ int64 –¥–ª—è —Ç–∞–±–ª–∏—Ü—ã user_data
bool_columns_user = [
    'age_group_18_20', 'age_group_20_22', 'age_group_22_25',
    'age_group_25_30', 'age_group_30_35', 'age_group_35_40',
    'age_group_gt_40', 'exp_group_1', 'exp_group_2', 'exp_group_3',
    'exp_group_4'
]

user_data[bool_columns_user] = user_data[bool_columns_user].astype('int64')

# –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ bool –≤ int64 –¥–ª—è —Ç–∞–±–ª–∏—Ü—ã post_text
bool_columns_post = [
    'topic_covid', 'topic_entertainment', 'topic_movie',
    'topic_politics', 'topic_sport', 'topic_tech'
]

post_text[bool_columns_post] = post_text[bool_columns_post].astype('int64')

CPU times: total: 8.89 s
Wall time: 9.87 s

In [6]:
%%time

display(user_data.info(),
        post_text.info(),
        feed_data.info())

display(user_data,
        post_text,
        feed_data)

<class 'pandas.DataFrame'>
RangeIndex: 163205 entries, 0 to 163204
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   user_id              163205 non-null  int64
 1   gender               163205 non-null  int64
 2   os                   163205 non-null  int64
 3   source               163205 non-null  int64
 4   city_countscaled     163205 non-null  float64
 5   country_countscaled  163205 non-null  float64
 6   age_group_18_20      163205 non-null  int64
 7   age_group_20_22      163205 non-null  int64
 8   age_group_22_25      163205 non-null  int64
 9   age_group_25_30      163205 non-null  int64
 10  age_group_30_35      163205 non-null  int64
 11  age_group_35_40      163205 non-null  int64
 12  age_group_gt_40      163205 non-null  int64
 13  exp_group_1          163205 non-null  int64
 14  exp_group_2          163205 non-null  int64
 15  exp_group_3          163205 non-null  int64
 16  exp_group_4          163205 non-null  int64
dtypes: float64(2), int64(15)
memory usage: 21.2 MB
<class 'pandas.DataFrame'>
RangeIndex: 7023 entries, 0 to 7022
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   post_id              7023 non-null   int64
 1   tfidf_pc1            7023 non-null   float64
 2   tfidf_pc2            7023 non-null   float64
 3   tfidf_pc3            7023 non-null   float64
 4   tfidf_pc4            7023 non-null   float64
 5   tfidf_pc5            7023 non-null   float64
 6   tfidf_pc6            7023 non-null   float64
 7   tfidf_pc7            7023 non-null   float64
 8   tfidf_pc8            7023 non-null   float64
 9   tfidf_pc9            7023 non-null   float64
 10  tfidf_pc10           7023 non-null   float64
 11  tfidf_pc11           7023 non-null   float64
 12  tfidf_pc12           7023 non-null   float64
 13  tfidf_pc13           7023 non-null   float64
 14  tfidf_pc14           7023 non-null   float64
 15  tfidf_pc15           7023 non-null   float64
 16  tfidf_pc16           7023 non-null   float64
 17  tfidf_pc17           7023 non-null   float64
 18  tfidf_pc18           7023 non-null   float64
 19  tfidf_pc19           7023 non-null   float64
 20  tfidf_pc20           7023 non-null   float64
 21  topic_covid          7023 non-null   int64
 22  topic_entertainment  7023 non-null   int64
 23  topic_movie          7023 non-null   int64
 24  topic_politics       7023 non-null   int64
 25  topic_sport          7023 non-null   int64
 26  topic_tech           7023 non-null   int64
dtypes: float64(20), int64(7)
memory usage: 1.4 MB
<class 'pandas.DataFrame'>
Index: 10000000 entries, 2304354 to 2682523
Data columns (total 5 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  int64
 1   post_id  int64
 2   target   int64
 3   month    float64
 4   day      float64
dtypes: float64(2), int64(3)
memory usage: 457.8 MB

None

None

None

,user_id,gender,os,source,city_countscaled,country_countscaled,age_group_18_20,age_group_20_22,age_group_22_25,age_group_25_30,age_group_30_35,age_group_35_40,age_group_gt_40,exp_group_1,exp_group_2,exp_group_3,exp_group_4
0,200,1,0,0,-0.492196,0.375419,0,0,0,0,1,0,0,0,0,1,0
1,201,0,0,0,-0.461974,0.375419,0,0,0,0,0,1,0,0,0,0,0
2,202,1,0,0,-0.435580,0.375419,0,0,0,0,0,0,0,0,0,0,1
3,203,0,1,0,2.496407,0.375419,1,0,0,0,0,0,0,1,0,0,0
4,204,0,0,0,-0.480572,0.375419,0,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163200,168548,0,0,1,-0.417118,0.375419,0,0,0,0,0,1,0,0,0,0,1
163201,168549,0,0,1,-0.409050,0.375419,1,0,0,0,0,0,0,0,1,0,0
163202,168550,1,0,1,-0.231818,0.375419,0,0,0,0,0,0,1,0,0,0,1
163203,168551,0,1,1,2.496407,0.375419,0,0,0,0,0,1,0,0,0,1,0
163204,168552,1,0,1,-0.482213,0.375419,0,0,0,0,0,0,0,0,0,0,1

,post_id,tfidf_pc1,tfidf_pc2,tfidf_pc3,tfidf_pc4,tfidf_pc5,tfidf_pc6,tfidf_pc7,tfidf_pc8,tfidf_pc9,...,tfidf_pc17,tfidf_pc18,tfidf_pc19,tfidf_pc20,topic_covid,topic_entertainment,topic_movie,topic_politics,topic_sport,topic_tech
0,1,-0.218558,0.601688,-0.003158,0.056255,0.385736,-0.339179,0.178276,-0.000519,-0.013779,...,0.001073,0.103103,-0.051594,0.045501,0,0,0,0,0,0
1,2,-0.205009,0.397279,-0.018611,-0.105986,-0.012848,0.034922,0.362120,-0.094890,-0.078602,...,-0.011842,-0.027673,0.127649,0.109420,0,0,0,0,0,0
2,3,-0.226079,0.351299,-0.012396,-0.002268,-0.168320,0.031515,0.210111,-0.029437,0.051842,...,-0.144802,0.108878,0.075442,0.155740,0,0,0,0,0,0
3,4,-0.221130,0.495558,-0.057405,0.098004,-0.013409,0.171581,-0.240566,-0.140888,0.025036,...,-0.125282,0.012668,-0.063527,0.055483,0,0,0,0,0,0
4,5,-0.226907,0.551035,-0.022373,0.179819,0.045989,0.142870,-0.191710,-0.069274,-0.299033,...,-0.053152,0.039702,-0.053253,-0.210970,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,7315,-0.292540,-0.217610,-0.397587,0.098741,-0.021369,-0.028251,-0.066127,0.024365,0.031856,...,0.082184,-0.143099,0.087293,0.011876,0,0,1,0,0,0
7019,7316,-0.270304,-0.438322,-0.335058,0.266671,0.026826,0.065955,0.118212,-0.079184,0.038594,...,0.159207,-0.022844,-0.046375,0.246042,0,0,1,0,0,0
7020,7317,-0.257575,-0.270416,0.536110,0.051263,-0.057736,0.034811,0.142500,-0.110504,-0.018741,...,-0.122173,-0.149795,-0.034521,-0.028334,0,0,1,0,0,0
7021,7318,-0.259425,-0.168820,0.419927,-0.054620,-0.124318,0.017562,0.156697,-0.120087,-0.105272,...,-0.148261,0.159995,-0.136097,-0.119240,0,0,1,0,0,0
7022,7319,-0.232369,-0.340943,0.052071,0.100194,0.057006,0.003658,0.167517,-0.091822,-0.001564,...,0.045706,0.043824,0.103844,-0.067396,0,0,1,0,0,0

         user_id  post_id  target     month       day
2304354    66609     3270       1  0.833333  0.032258
1999320    15471     2810       0  0.833333  0.032258
784528     80305      961       0  0.833333  0.032258
2304355    66609     3270       0  0.833333  0.032258
2304356    66609     4320       0  0.833333  0.032258
...          ...      ...     ...       ...       ...
6426675    45075     3027       0  1.000000  0.935484
3019649   116395     5771       0  1.000000  0.935484
4359850    53559      587       0  1.000000  0.935484
7435524   109595     1702       0  1.000000  0.935484
2682523    87774     5298       0  1.000000  0.935484

[10000000 rows x 5 columns]

CPU times: total: 93.8 ms
Wall time: 98.2 ms

In [7]:
%%time

user_data.to_csv(PROCESSED_DATA_DIR / "processed_user_data.csv", index=False)
post_text.to_csv(PROCESSED_DATA_DIR / "processed_post_textML.csv", index=False)

CPU times: total: 1.66 s
Wall time: 2.47 s

## ü§ñ 5. –û–±—É—á–µ–Ω–∏–µ CatBoost –º–æ–¥–µ–ª–∏

### –ü–∞—Ä–∞–º–µ—Ç—Ä—ã –º–æ–¥–µ–ª–∏:
- –ê–ª–≥–æ—Ä–∏—Ç–º: CatBoostClassifier
- –ò—Ç–µ—Ä–∞—Ü–∏–∏: 500
- Learning rate: 0.07
- –ì–ª—É–±–∏–Ω–∞: 6
- Cat features: 20 –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤
- –ú–µ—Ç—Ä–∏–∫–∞: AUC
- –ë–∞–ª–∞–Ω—Å–∏—Ä–æ–≤–∫–∞ –∫–ª–∞—Å—Å–æ–≤: –≤–∫–ª—é—á–µ–Ω–∞

In [8]:
%%time

user_post_feed = feed_data.merge(user_data, on="user_id", how="left")
user_post_feed = user_post_feed.merge(post_text, on="post_id", how="left")

CPU times: total: 5.7 s
Wall time: 7.53 s

In [9]:
%%time

display(user_post_feed.info())
display(user_post_feed)

<class 'pandas.DataFrame'>
RangeIndex: 10000000 entries, 0 to 9999999
Data columns (total 47 columns):
 #   Column               Dtype
---  ------               -----
 0   user_id              int64
 1   post_id              int64
 2   target               int64
 3   month                float64
 4   day                  float64
 5   gender               int64
 6   os                   int64
 7   source               int64
 8   city_countscaled     float64
 9   country_countscaled  float64
 10  age_group_18_20      int64
 11  age_group_20_22      int64
 12  age_group_22_25      int64
 13  age_group_25_30      int64
 14  age_group_30_35      int64
 15  age_group_35_40      int64
 16  age_group_gt_40      int64
 17  exp_group_1          int64
 18  exp_group_2          int64
 19  exp_group_3          int64
 20  exp_group_4          int64
 21  tfidf_pc1            float64
 22  tfidf_pc2            float64
 23  tfidf_pc3            float64
 24  tfidf_pc4            float64
 25  tfidf_pc5            float64
 26  tfidf_pc6            float64
 27  tfidf_pc7            float64
 28  tfidf_pc8            float64
 29  tfidf_pc9            float64
 30  tfidf_pc10           float64
 31  tfidf_pc11           float64
 32  tfidf_pc12           float64
 33  tfidf_pc13           float64
 34  tfidf_pc14           float64
 35  tfidf_pc15           float64
 36  tfidf_pc16           float64
 37  tfidf_pc17           float64
 38  tfidf_pc18           float64
 39  tfidf_pc19           float64
 40  tfidf_pc20           float64
 41  topic_covid          int64
 42  topic_entertainment  int64
 43  topic_movie          int64
 44  topic_politics       int64
 45  topic_sport          int64
 46  topic_tech           int64
dtypes: float64(24), int64(23)
memory usage: 3.5 GB

None

,user_id,post_id,target,month,day,gender,os,source,city_countscaled,country_countscaled,...,tfidf_pc17,tfidf_pc18,tfidf_pc19,tfidf_pc20,topic_covid,topic_entertainment,topic_movie,topic_politics,topic_sport,topic_tech
0,66609,3270,1,0.833333,0.032258,1,0,0,-0.485358,0.375419,...,0.092110,-0.017758,-0.056255,-0.094022,1,0,0,0,0,0
1,15471,2810,0,0.833333,0.032258,1,1,0,-0.444743,0.375419,...,-0.134007,-0.115351,-0.195873,-0.294015,1,0,0,0,0,0
2,80305,961,0,0.833333,0.032258,0,1,0,-0.297596,0.375419,...,-0.024728,0.197110,-0.179695,0.083102,0,0,0,1,0,0
3,66609,3270,0,0.833333,0.032258,1,0,0,-0.485358,0.375419,...,0.092110,-0.017758,-0.056255,-0.094022,1,0,0,0,0,0
4,66609,4320,0,0.833333,0.032258,1,0,0,-0.485358,0.375419,...,0.068804,-0.074063,0.026255,0.114552,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9999995,45075,3027,0,1.000000,0.935484,1,1,0,-0.470315,-2.695570,...,-0.200266,0.017232,0.103761,0.088734,1,0,0,0,0,0
9999996,116395,5771,0,1.000000,0.935484,1,0,1,-0.294451,0.375419,...,0.168430,-0.272016,0.306219,-0.064931,0,0,1,0,0,0
9999997,53559,587,0,1.000000,0.935484,0,0,0,-0.468401,-2.732798,...,-0.011890,0.008316,-0.017139,0.058614,0,1,0,0,0,0
9999998,109595,1702,0,1.000000,0.935484,1,0,1,-0.314007,0.375419,...,0.112863,-0.010708,-0.056650,0.300092,0,0,0,0,1,0
9999999,87774,5298,0,1.000000,0.935484,1,0,0,-0.450760,-2.732644,...,0.090241,0.020447,0.119386,-0.159854,0,0,1,0,0,0

CPU times: total: 46.9 ms
Wall time: 80 ms

In [10]:
%%time

X = user_post_feed.drop(['target'], axis=1)
y = user_post_feed['target']

cat_features = ['gender',
                'os',
                'source',
                'age_group_18_20',
                'age_group_20_22',
                'age_group_22_25',
                'age_group_25_30',
                'age_group_30_35',
                'age_group_35_40',
                'age_group_gt_40',
                'exp_group_1',
                'exp_group_2',
                'exp_group_3',
                'exp_group_4',
                'topic_covid',
                'topic_entertainment',
                'topic_movie',
                'topic_politics',
                'topic_sport',
                'topic_tech']

CPU times: total: 0 ns
Wall time: 1.62 ms

In [11]:
%%time

name = "CatBoostClassifier"

model = CatBoostClassifier(
    iterations=500,
    learning_rate=0.07,
    depth=6,
    cat_features=cat_features,
    eval_metric='AUC',
    auto_class_weights='Balanced',
    random_seed=42
)

CPU times: total: 0 ns
Wall time: 213 Œºs

In [12]:
%%time

X_train, y_train = X.iloc[:8500000], y.iloc[:8500000]
X_test, y_test = X.iloc[8500000:], y.iloc[8500000:]

CPU times: total: 0 ns
Wall time: 415 Œºs

In [13]:
%%time

start_time = time.time()
model.fit(X_train, y_train)
end_time = time.time()

# –í—Ä–µ–º—è –æ–±—É—á–µ–Ω–∏—è
print(round(end_time - start_time, 2))

0:	total: 2.48s	remaining: 20m 39s
1:	total: 4.82s	remaining: 19m 59s
2:	total: 7.24s	remaining: 20m
3:	total: 9.43s	remaining: 19m 29s
4:	total: 11.8s	remaining: 19m 24s
5:	total: 14.1s	remaining: 19m 21s
6:	total: 16.3s	remaining: 19m 11s
7:	total: 18.6s	remaining: 19m 5s
8:	total: 20.8s	remaining: 18m 55s
9:	total: 23.1s	remaining: 18m 50s
10:	total: 25.4s	remaining: 18m 49s
11:	total: 27.6s	remaining: 18m 43s
12:	total: 30s	remaining: 18m 42s
13:	total: 32.3s	remaining: 18m 42s
14:	total: 34.7s	remaining: 18m 41s
15:	total: 37.1s	remaining: 18m 42s
16:	total: 39.5s	remaining: 18m 41s
17:	total: 41.9s	remaining: 18m 42s
18:	total: 44.2s	remaining: 18m 38s
19:	total: 46.6s	remaining: 18m 37s
20:	total: 48.7s	remaining: 18m 30s
21:	total: 51.1s	remaining: 18m 30s
22:	total: 53.4s	remaining: 18m 27s
23:	total: 55.6s	remaining: 18m 23s
24:	total: 58s	remaining: 18m 22s
25:	total: 1m	remaining: 18m 19s
26:	total: 1m 2s	remaining: 18m 15s
27:	total: 1m 4s	remaining: 18m 11s
28:	total: 1m 7s	remaining: 18m 13s
29:	total: 1m 9s	remaining: 18m 6s
30:	total: 1m 11s	remaining: 18m 4s
31:	total: 1m 13s	remaining: 18m
32:	total: 1m 16s	remaining: 17m 57s
33:	total: 1m 18s	remaining: 17m 57s
34:	total: 1m 20s	remaining: 17m 52s
35:	total: 1m 22s	remaining: 17m 49s
36:	total: 1m 25s	remaining: 17m 46s
37:	total: 1m 27s	remaining: 17m 43s
38:	total: 1m 29s	remaining: 17m 38s
39:	total: 1m 30s	remaining: 17m 26s
40:	total: 1m 32s	remaining: 17m 14s
41:	total: 1m 33s	remaining: 17m 2s
42:	total: 1m 35s	remaining: 16m 56s
43:	total: 1m 37s	remaining: 16m 52s
44:	total: 1m 39s	remaining: 16m 48s
45:	total: 1m 41s	remaining: 16m 43s
46:	total: 1m 43s	remaining: 16m 37s
47:	total: 1m 45s	remaining: 16m 32s
48:	total: 1m 47s	remaining: 16m 25s
49:	total: 1m 49s	remaining: 16m 22s
50:	total: 1m 50s	remaining: 16m 16s
51:	total: 1m 52s	remaining: 16m 12s
52:	total: 1m 54s	remaining: 16m 7s
53:	total: 1m 56s	remaining: 16m 4s
54:	total: 1m 58s	remaining: 16m 1s
55:	total: 2m	remaining: 15m 57s
56:	total: 2m 2s	remaining: 15m 52s
57:	total: 2m 4s	remaining: 15m 49s
58:	total: 2m 6s	remaining: 15m 45s
59:	total: 2m 8s	remaining: 15m 42s
60:	total: 2m 10s	remaining: 15m 38s
61:	total: 2m 12s	remaining: 15m 35s
62:	total: 2m 14s	remaining: 15m 31s
63:	total: 2m 16s	remaining: 15m 27s
64:	total: 2m 17s	remaining: 15m 23s
65:	total: 2m 19s	remaining: 15m 19s
66:	total: 2m 21s	remaining: 15m 15s
67:	total: 2m 23s	remaining: 15m 12s
68:	total: 2m 25s	remaining: 15m 9s
69:	total: 2m 27s	remaining: 15m 6s
70:	total: 2m 29s	remaining: 15m 2s
71:	total: 2m 31s	remaining: 14m 59s
72:	total: 2m 33s	remaining: 14m 56s
73:	total: 2m 35s	remaining: 14m 53s
74:	total: 2m 37s	remaining: 14m 51s
75:	total: 2m 39s	remaining: 14m 47s
76:	total: 2m 41s	remaining: 14m 44s
77:	total: 2m 43s	remaining: 14m 41s
78:	total: 2m 44s	remaining: 14m 38s
79:	total: 2m 47s	remaining: 14m 38s
80:	total: 2m 49s	remaining: 14m 37s
81:	total: 2m 51s	remaining: 14m 36s
82:	total: 2m 54s	remaining: 14m 34s
83:	total: 2m 56s	remaining: 14m 33s
84:	total: 2m 58s	remaining: 14m 32s
85:	total: 3m	remaining: 14m 30s
86:	total: 3m 3s	remaining: 14m 29s
87:	total: 3m 5s	remaining: 14m 27s
88:	total: 3m 7s	remaining: 14m 25s
89:	total: 3m 9s	remaining: 14m 25s
90:	total: 3m 11s	remaining: 14m 22s
91:	total: 3m 14s	remaining: 14m 21s
92:	total: 3m 16s	remaining: 14m 20s
93:	total: 3m 19s	remaining: 14m 19s
94:	total: 3m 21s	remaining: 14m 17s
95:	total: 3m 23s	remaining: 14m 15s
96:	total: 3m 25s	remaining: 14m 12s
97:	total: 3m 27s	remaining: 14m 10s
98:	total: 3m 29s	remaining: 14m 8s
99:	total: 3m 31s	remaining: 14m 7s
100:	total: 3m 34s	remaining: 14m 6s
101:	total: 3m 36s	remaining: 14m 4s
102:	total: 3m 38s	remaining: 14m 3s
103:	total: 3m 40s	remaining: 14m
104:	total: 3m 43s	remaining: 13m 59s
105:	total: 3m 45s	remaining: 13m 57s
106:	total: 3m 47s	remaining: 13m 55s
107:	total: 3m 49s	remaining: 13m 54s
108:	total: 3m 52s	remaining: 13m 52s
109:	total: 3m 54s	remaining: 13m 50s
110:	total: 3m 56s	remaining: 13m 47s
111:	total: 3m 58s	remaining: 13m 45s
112:	total: 4m	remaining: 13m 43s
113:	total: 4m 2s	remaining: 13m 42s
114:	total: 4m 4s	remaining: 13m 40s
115:	total: 4m 7s	remaining: 13m 38s
116:	total: 4m 9s	remaining: 13m 37s
117:	total: 4m 11s	remaining: 13m 35s
118:	total: 4m 13s	remaining: 13m 33s
119:	total: 4m 16s	remaining: 13m 32s
120:	total: 4m 18s	remaining: 13m 30s
121:	total: 4m 21s	remaining: 13m 29s
122:	total: 4m 23s	remaining: 13m 26s
123:	total: 4m 25s	remaining: 13m 25s
124:	total: 4m 27s	remaining: 13m 23s
125:	total: 4m 29s	remaining: 13m 21s
126:	total: 4m 32s	remaining: 13m 19s
127:	total: 4m 34s	remaining: 13m 17s
128:	total: 4m 36s	remaining: 13m 15s
129:	total: 4m 39s	remaining: 13m 14s
130:	total: 4m 41s	remaining: 13m 12s
131:	total: 4m 43s	remaining: 13m 9s
132:	total: 4m 45s	remaining: 13m 8s
133:	total: 4m 47s	remaining: 13m 5s
134:	total: 4m 50s	remaining: 13m 4s
135:	total: 4m 52s	remaining: 13m 2s
136:	total: 4m 54s	remaining: 13m
137:	total: 4m 56s	remaining: 12m 58s
138:	total: 4m 59s	remaining: 12m 56s
139:	total: 5m 1s	remaining: 12m 54s
140:	total: 5m 3s	remaining: 12m 52s
141:	total: 5m 5s	remaining: 12m 50s
142:	total: 5m 7s	remaining: 12m 48s
143:	total: 5m 10s	remaining: 12m 46s
144:	total: 5m 12s	remaining: 12m 44s
145:	total: 5m 14s	remaining: 12m 41s
146:	total: 5m 16s	remaining: 12m 39s
147:	total: 5m 18s	remaining: 12m 37s
148:	total: 5m 20s	remaining: 12m 35s
149:	total: 5m 22s	remaining: 12m 33s
150:	total: 5m 25s	remaining: 12m 31s
151:	total: 5m 27s	remaining: 12m 29s
152:	total: 5m 29s	remaining: 12m 27s
153:	total: 5m 31s	remaining: 12m 24s
154:	total: 5m 33s	remaining: 12m 23s
155:	total: 5m 36s	remaining: 12m 20s
156:	total: 5m 38s	remaining: 12m 19s
157:	total: 5m 40s	remaining: 12m 17s
158:	total: 5m 42s	remaining: 12m 15s
159:	total: 5m 45s	remaining: 12m 13s
160:	total: 5m 47s	remaining: 12m 11s
161:	total: 5m 49s	remaining: 12m 9s
162:	total: 5m 51s	remaining: 12m 7s
163:	total: 5m 54s	remaining: 12m 5s
164:	total: 5m 56s	remaining: 12m 3s
165:	total: 5m 58s	remaining: 12m
166:	total: 6m	remaining: 11m 59s
167:	total: 6m 3s	remaining: 11m 58s
168:	total: 6m 5s	remaining: 11m 55s
169:	total: 6m 7s	remaining: 11m 53s
170:	total: 6m 9s	remaining: 11m 51s
171:	total: 6m 12s	remaining: 11m 49s
172:	total: 6m 14s	remaining: 11m 47s
173:	total: 6m 16s	remaining: 11m 45s
174:	total: 6m 19s	remaining: 11m 44s
175:	total: 6m 21s	remaining: 11m 42s
176:	total: 6m 23s	remaining: 11m 40s
177:	total: 6m 26s	remaining: 11m 38s
178:	total: 6m 28s	remaining: 11m 36s
179:	total: 6m 30s	remaining: 11m 34s
180:	total: 6m 32s	remaining: 11m 31s
181:	total: 6m 34s	remaining: 11m 30s
182:	total: 6m 37s	remaining: 11m 27s
183:	total: 6m 39s	remaining: 11m 25s
184:	total: 6m 41s	remaining: 11m 23s
185:	total: 6m 43s	remaining: 11m 21s
186:	total: 6m 45s	remaining: 11m 19s
187:	total: 6m 48s	remaining: 11m 17s
188:	total: 6m 50s	remaining: 11m 14s
189:	total: 6m 52s	remaining: 11m 12s
190:	total: 6m 54s	remaining: 11m 10s
191:	total: 6m 56s	remaining: 11m 8s
192:	total: 6m 58s	remaining: 11m 6s
193:	total: 7m 1s	remaining: 11m 4s
194:	total: 7m 3s	remaining: 11m 2s
195:	total: 7m 5s	remaining: 11m
196:	total: 7m 7s	remaining: 10m 58s
197:	total: 7m 10s	remaining: 10m 56s
198:	total: 7m 12s	remaining: 10m 53s
199:	total: 7m 14s	remaining: 10m 51s
200:	total: 7m 16s	remaining: 10m 49s
201:	total: 7m 18s	remaining: 10m 47s
202:	total: 7m 21s	remaining: 10m 45s
203:	total: 7m 23s	remaining: 10m 43s
204:	total: 7m 25s	remaining: 10m 41s
205:	total: 7m 27s	remaining: 10m 38s
206:	total: 7m 30s	remaining: 10m 37s
207:	total: 7m 32s	remaining: 10m 34s
208:	total: 7m 34s	remaining: 10m 32s
209:	total: 7m 36s	remaining: 10m 30s
210:	total: 7m 38s	remaining: 10m 28s
211:	total: 7m 40s	remaining: 10m 26s
212:	total: 7m 42s	remaining: 10m 23s
213:	total: 7m 45s	remaining: 10m 21s
214:	total: 7m 47s	remaining: 10m 19s
215:	total: 7m 49s	remaining: 10m 16s
216:	total: 7m 51s	remaining: 10m 14s
217:	total: 7m 53s	remaining: 10m 12s
218:	total: 7m 55s	remaining: 10m 10s
219:	total: 7m 57s	remaining: 10m 7s
220:	total: 7m 59s	remaining: 10m 5s
221:	total: 8m 1s	remaining: 10m 3s
222:	total: 8m 3s	remaining: 10m 1s
223:	total: 8m 6s	remaining: 9m 59s
224:	total: 8m 8s	remaining: 9m 57s
225:	total: 8m 10s	remaining: 9m 55s
226:	total: 8m 13s	remaining: 9m 52s
227:	total: 8m 15s	remaining: 9m 50s
228:	total: 8m 17s	remaining: 9m 48s
229:	total: 8m 19s	remaining: 9m 46s
230:	total: 8m 21s	remaining: 9m 44s
231:	total: 8m 24s	remaining: 9m 42s
232:	total: 8m 26s	remaining: 9m 40s
233:	total: 8m 28s	remaining: 9m 37s
234:	total: 8m 30s	remaining: 9m 36s
235:	total: 8m 33s	remaining: 9m 33s
236:	total: 8m 35s	remaining: 9m 32s
237:	total: 8m 37s	remaining: 9m 30s
238:	total: 8m 39s	remaining: 9m 27s
239:	total: 8m 42s	remaining: 9m 25s
240:	total: 8m 44s	remaining: 9m 23s
241:	total: 8m 46s	remaining: 9m 21s
242:	total: 8m 48s	remaining: 9m 19s
243:	total: 8m 50s	remaining: 9m 17s
244:	total: 8m 53s	remaining: 9m 15s
245:	total: 8m 55s	remaining: 9m 12s
246:	total: 8m 57s	remaining: 9m 10s
247:	total: 8m 59s	remaining: 9m 8s
248:	total: 9m 1s	remaining: 9m 6s
249:	total: 9m 4s	remaining: 9m 4s
250:	total: 9m 6s	remaining: 9m 1s
251:	total: 9m 8s	remaining: 8m 59s
252:	total: 9m 11s	remaining: 8m 58s
253:	total: 9m 13s	remaining: 8m 55s
254:	total: 9m 15s	remaining: 8m 53s
255:	total: 9m 17s	remaining: 8m 51s
256:	total: 9m 20s	remaining: 8m 49s
257:	total: 9m 22s	remaining: 8m 47s
258:	total: 9m 24s	remaining: 8m 45s
259:	total: 9m 26s	remaining: 8m 43s
260:	total: 9m 28s	remaining: 8m 40s
261:	total: 9m 30s	remaining: 8m 38s
262:	total: 9m 33s	remaining: 8m 36s
263:	total: 9m 35s	remaining: 8m 34s
264:	total: 9m 38s	remaining: 8m 32s
265:	total: 9m 40s	remaining: 8m 30s
266:	total: 9m 42s	remaining: 8m 28s
267:	total: 9m 44s	remaining: 8m 26s
268:	total: 9m 47s	remaining: 8m 24s
269:	total: 9m 49s	remaining: 8m 21s
270:	total: 9m 51s	remaining: 8m 19s
271:	total: 9m 53s	remaining: 8m 17s
272:	total: 9m 55s	remaining: 8m 15s
273:	total: 9m 57s	remaining: 8m 13s
274:	total: 9m 59s	remaining: 8m 10s
275:	total: 10m 1s	remaining: 8m 8s
276:	total: 10m 4s	remaining: 8m 6s
277:	total: 10m 6s	remaining: 8m 4s
278:	total: 10m 8s	remaining: 8m 1s
279:	total: 10m 10s	remaining: 8m
280:	total: 10m 12s	remaining: 7m 57s
281:	total: 10m 15s	remaining: 7m 55s
282:	total: 10m 17s	remaining: 7m 53s
283:	total: 10m 19s	remaining: 7m 51s
284:	total: 10m 22s	remaining: 7m 49s
285:	total: 10m 24s	remaining: 7m 47s
286:	total: 10m 27s	remaining: 7m 45s
287:	total: 10m 29s	remaining: 7m 43s
288:	total: 10m 31s	remaining: 7m 41s
289:	total: 10m 33s	remaining: 7m 38s
290:	total: 10m 35s	remaining: 7m 36s
291:	total: 10m 38s	remaining: 7m 34s
292:	total: 10m 40s	remaining: 7m 32s
293:	total: 10m 42s	remaining: 7m 30s
294:	total: 10m 44s	remaining: 7m 28s
295:	total: 10m 46s	remaining: 7m 25s
296:	total: 10m 48s	remaining: 7m 23s
297:	total: 10m 51s	remaining: 7m 21s
298:	total: 10m 53s	remaining: 7m 19s
299:	total: 10m 55s	remaining: 7m 17s
300:	total: 10m 58s	remaining: 7m 15s
301:	total: 11m	remaining: 7m 13s
302:	total: 11m 2s	remaining: 7m 10s
303:	total: 11m 4s	remaining: 7m 8s
304:	total: 11m 7s	remaining: 7m 6s
305:	total: 11m 9s	remaining: 7m 4s
306:	total: 11m 11s	remaining: 7m 2s
307:	total: 11m 14s	remaining: 7m
308:	total: 11m 16s	remaining: 6m 58s
309:	total: 11m 19s	remaining: 6m 56s
310:	total: 11m 21s	remaining: 6m 54s
311:	total: 11m 23s	remaining: 6m 51s
312:	total: 11m 25s	remaining: 6m 49s
313:	total: 11m 28s	remaining: 6m 47s
314:	total: 11m 30s	remaining: 6m 45s
315:	total: 11m 32s	remaining: 6m 43s
316:	total: 11m 34s	remaining: 6m 41s
317:	total: 11m 37s	remaining: 6m 39s
318:	total: 11m 39s	remaining: 6m 36s
319:	total: 11m 41s	remaining: 6m 34s
320:	total: 11m 44s	remaining: 6m 32s
321:	total: 11m 46s	remaining: 6m 30s
322:	total: 11m 48s	remaining: 6m 28s
323:	total: 11m 50s	remaining: 6m 25s
324:	total: 11m 52s	remaining: 6m 23s
325:	total: 11m 54s	remaining: 6m 21s
326:	total: 11m 57s	remaining: 6m 19s
327:	total: 11m 59s	remaining: 6m 17s
398:	total: 14m 36s	remaining: 3m 41s
399:	total: 14m 39s	remaining: 3m 39s
400:	total: 14m 41s	remaining: 3m 37s
401:	total: 14m 43s	remaining: 3m 35s
402:	total: 14m 45s	remaining: 3m 33s
403:	total: 14m 47s	remaining: 3m 30s
404:	total: 14m 49s	remaining: 3m 28s
405:	total: 14m 52s	remaining: 3m 26s
406:	total: 14m 54s	remaining: 3m 24s
407:	total: 14m 56s	remaining: 3m 22s
408:	total: 14m 58s	remaining: 3m 19s
409:	total: 15m	remaining: 3m 17s
410:	total: 15m 3s	remaining: 3m 15s
411:	total: 15m 5s	remaining: 3m 13s
412:	total: 15m 7s	remaining: 3m 11s
413:	total: 15m 9s	remaining: 3m 8s
414:	total: 15m 11s	remaining: 3m 6s
415:	total: 15m 13s	remaining: 3m 4s
416:	total: 15m 16s	remaining: 3m 2s
417:	total: 15m 18s	remaining: 3m
418:	total: 15m 20s	remaining: 2m 57s
419:	total: 15m 22s	remaining: 2m 55s
420:	total: 15m 24s	remaining: 2m 53s
421:	total: 15m 26s	remaining: 2m 51s
422:	total: 15m 28s	remaining: 2m 49s
423:	total: 15m 30s	remaining: 2m 46s
424:	total: 15m 32s	remaining: 2m 44s
425:	total: 15m 35s	remaining: 2m 42s
426:	total: 15m 37s	remaining: 2m 40s
427:	total: 15m 39s	remaining: 2m 38s
428:	total: 15m 42s	remaining: 2m 35s
429:	total: 15m 44s	remaining: 2m 33s
430:	total: 15m 46s	remaining: 2m 31s
431:	total: 15m 48s	remaining: 2m 29s
432:	total: 15m 50s	remaining: 2m 27s
433:	total: 15m 52s	remaining: 2m 24s
434:	total: 15m 54s	remaining: 2m 22s
435:	total: 15m 56s	remaining: 2m 20s
436:	total: 15m 59s	remaining: 2m 18s
437:	total: 16m 1s	remaining: 2m 16s
438:	total: 16m 3s	remaining: 2m 13s
439:	total: 16m 5s	remaining: 2m 11s
440:	total: 16m 8s	remaining: 2m 9s
441:	total: 16m 10s	remaining: 2m 7s
442:	total: 16m 12s	remaining: 2m 5s
443:	total: 16m 15s	remaining: 2m 3s
444:	total: 16m 17s	remaining: 2m
445:	total: 16m 19s	remaining: 1m 58s
446:	total: 16m 22s	remaining: 1m 56s
447:	total: 16m 24s	remaining: 1m 54s
448:	total: 16m 26s	remaining: 1m 52s
449:	total: 16m 29s	remaining: 1m 49s
450:	total: 16m 31s	remaining: 1m 47s
451:	total: 16m 33s	remaining: 1m 45s
452:	total: 16m 35s	remaining: 1m 43s
453:	total: 16m 37s	remaining: 1m 41s
454:	total: 16m 39s	remaining: 1m 38s
455:	total: 16m 41s	remaining: 1m 36s
456:	total: 16m 43s	remaining: 1m 34s
457:	total: 16m 45s	remaining: 1m 32s
458:	total: 16m 48s	remaining: 1m 30s
459:	total: 16m 50s	remaining: 1m 27s
460:	total: 16m 52s	remaining: 1m 25s
461:	total: 16m 54s	remaining: 1m 23s
462:	total: 16m 56s	remaining: 1m 21s
463:	total: 16m 58s	remaining: 1m 19s
464:	total: 17m	remaining: 1m 16s
465:	total: 17m 3s	remaining: 1m 14s
466:	total: 17m 5s	remaining: 1m 12s
467:	total: 17m 7s	remaining: 1m 10s
468:	total: 17m 9s	remaining: 1m 8s
469:	total: 17m 12s	remaining: 1m 5s
470:	total: 17m 14s	remaining: 1m 3s
471:	total: 17m 16s	remaining: 1m 1s
472:	total: 17m 19s	remaining: 59.3s
473:	total: 17m 21s	remaining: 57.1s
474:	total: 17m 23s	remaining: 54.9s
475:	total: 17m 25s	remaining: 52.7s
476:	total: 17m 27s	remaining: 50.5s
477:	total: 17m 29s	remaining: 48.3s
478:	total: 17m 31s	remaining: 46.1s
479:	total: 17m 34s	remaining: 43.9s
480:	total: 17m 36s	remaining: 41.7s
481:	total: 17m 38s	remaining: 39.5s
482:	total: 17m 40s	remaining: 37.3s
483:	total: 17m 43s	remaining: 35.1s
484:	total: 17m 45s	remaining: 32.9s
485:	total: 17m 47s	remaining: 30.7s
486:	total: 17m 49s	remaining: 28.5s
487:	total: 17m 51s	remaining: 26.3s
488:	total: 17m 53s	remaining: 24.2s
489:	total: 17m 56s	remaining: 22s
490:	total: 17m 58s	remaining: 19.8s
491:	total: 18m	remaining: 17.6s
492:	total: 18m 2s	remaining: 15.4s
493:	total: 18m 4s	remaining: 13.2s
494:	total: 18m 7s	remaining: 11s
495:	total: 18m 9s	remaining: 8.79s
496:	total: 18m 11s	remaining: 6.59s
497:	total: 18m 13s	remaining: 4.39s
498:	total: 18m 16s	remaining: 2.2s
499:	total: 18m 18s	remaining: 0us
1355.63
CPU times: total: 1h 2min 19s
Wall time: 22min 35s

In [14]:
%%time

# –°–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –º–æ–¥–µ–ª–∏
model.save_model("catboost_ml_model.cbm")

CPU times: total: 15.6 ms
Wall time: 15.8 ms

## üìä 6. –û—Ü–µ–Ω–∫–∞ –∫–∞—á–µ—Å—Ç–≤–∞ –º–æ–¥–µ–ª–∏

### –ú–µ—Ç—Ä–∏–∫–∏:
- AUC-ROC
- Precision-Recall AUC  
- F1-score
- Accuracy, Precision, Recall

### –í–∞–∂–Ω–æ—Å—Ç—å –ø—Ä–∏–∑–Ω–∞–∫–æ–≤:
- –ê–Ω–∞–ª–∏–∑ –Ω–∞–∏–±–æ–ª–µ–µ –≤–ª–∏—è—Ç–µ–ª—å–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –Ω–∞ –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–µ

In [15]:
import os

from catboost import CatBoostClassifier


def get_model_path(path: str) -> str:
    if os.environ.get("IS_LMS") == "1":
        MODEL_PATH = "/workdir/user_input/model"
    else:
        MODEL_PATH = path
    return MODEL_PATH


def load_models():
    model_path = get_model_path("catboost_ml_model.cbm")
    model = CatBoostClassifier()
    model.load_model(model_path)
    return model

In [16]:
%%time

# –ó–∞–≥—Ä—É–∑–∫–∞ –º–æ–¥–µ–ª–∏
loaded_model = load_models()

CPU times: total: 0 ns
Wall time: 70.4 ms

In [17]:
%%time

# –¢–∞–±–ª–∏—Ü–∞ –¥–ª—è —Ö—Ä–∞–Ω–µ–Ω–∏—è –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç–æ–≤
feature_importance_df = pd.DataFrame(index=X.columns)

# –¢–∞–±–ª–∏—Ü–∞ –¥–ª—è —Ö—Ä–∞–Ω–µ–Ω–∏—è –º–µ—Ç—Ä–∏–∫
metrics_df = pd.DataFrame(columns=["learn_time",
                                   "train_model_score", "test_model_score",
                                   "train_auc_roc", "test_auc_roc", "train_pr_auc", "test_pr_auc",
                                   "train_f1", "test_f1", "train_accuracy", "test_accuracy",
                                   "train_precision", "test_precision", "train_recall", "test_recall"])

CPU times: total: 0 ns
Wall time: 1.92 ms

In [18]:
%%time

print('–û—Ü–µ–Ω–∏–≤–∞–µ–º –º–æ–¥–µ–ª—å –Ω–∞ —Ç—Ä–µ–π–Ω–µ')

t0 = time.time()
train_model_score = loaded_model.score(X_train, y_train)
t1 = time.time()
print('\t1\t', round(t1 - t0, 2))

t2 = time.time()
y_train_pred = loaded_model.predict(X_train)
t3 = time.time()
print('\t2\t', round(t3 - t2, 2))

t4 = time.time()
y_train_proba = loaded_model.predict_proba(X_train)[:, 1] if hasattr(loaded_model, 'predict_proba') else y_train_pred
t5 = time.time()
print('\t3\t', round(t5 - t4, 2))

t6 = time.time()
train_auc_roc = roc_auc_score(y_train, y_train_proba)
t7 = time.time()
print('\t4\t', round(t7 - t6, 2))

t8 = time.time()
train_pr_auc = average_precision_score(y_train, y_train_proba)
t9 = time.time()
print('\t5\t', round(t9 - t8, 2))

t10 = time.time()
train_f1 = f1_score(y_train, y_train_pred)
t11 = time.time()
print('\t6\t', round(t11 - t10, 2))

t12 = time.time()
train_accuracy = accuracy_score(y_train, y_train_pred)
t13 = time.time()
print('\t7\t', round(t13 - t12, 2))

t14 = time.time()
train_precision = precision_score(y_train, y_train_pred)
t15 = time.time()
print('\t8\t', round(t15 - t14, 2))

t16 = time.time()
train_recall = recall_score(y_train, y_train_pred)
t17 = time.time()
print('\t9\t', round(t17 - t16, 2))

print('–û—Ü–µ–Ω–∏–ª–∏ –º–æ–¥–µ–ª—å –Ω–∞ —Ç—Ä–µ–π–Ω–µ')
print('–û—Ü–µ–Ω–∏–≤–∞–µ–º –º–æ–¥–µ–ª—å –Ω–∞ —Ç–µ—Å—Ç–µ')

t18 = time.time()
test_model_score = loaded_model.score(X_test, y_test)
t19 = time.time()
print('\t10\t', round(t19 - t18, 2))

t20 = time.time()
y_test_pred = loaded_model.predict(X_test)
t21 = time.time()
print('\t11\t', round(t21 - t20, 2))

t22 = time.time()
y_test_proba = loaded_model.predict_proba(X_test)[:, 1] if hasattr(loaded_model, 'predict_proba') else y_test_pred
t23 = time.time()
print('\t12\t', round(t23 - t22, 2))

t24 = time.time()
test_auc_roc = roc_auc_score(y_test, y_test_proba)
t25 = time.time()
print('\t13\t', round(t25 - t24, 2))

t26 = time.time()
test_pr_auc = average_precision_score(y_test, y_test_proba)
t27 = time.time()
print('\t14\t', round(t27 - t26, 2))

t28 = time.time()
test_f1 = f1_score(y_test, y_test_pred)
t29 = time.time()
print('\t15\t', round(t29 - t28, 2))

t30 = time.time()
test_accuracy = accuracy_score(y_test, y_test_pred)
t31 = time.time()
print('\t16\t', round(t31 - t30, 2))

t32 = time.time()
test_precision = precision_score(y_test, y_test_pred)
t33 = time.time()
print('\t17\t', round(t33 - t32, 2))

t34 = time.time()
test_recall = recall_score(y_test, y_test_pred)
t35 = time.time()
print('\t18\t', round(t35 - t34, 2))

print('–û—Ü–µ–Ω–∏–ª–∏ –º–æ–¥–µ–ª—å –Ω–∞ —Ç–µ—Å—Ç–µ')
print('–ó–∞–ø–∏c—ã–≤–∞–µ–º –º–µ—Ç—Ä–∏–∫–∏ –≤ —Ç–∞–±–ª–∏—Ü—É')

# –§–æ—Ä–º–∏—Ä—É–µ–º DataFrame —Å –Ω—É–∂–Ω–æ–π —Å—Ç—Ä—É–∫—Ç—É—Ä–æ–π
metrics = {
    "model_score": [train_model_score, test_model_score],
    "auc_roc": [train_auc_roc, test_auc_roc],
    "pr_auc": [train_pr_auc, test_pr_auc],
    "f1": [train_f1, test_f1],
    "accuracy": [train_accuracy, test_accuracy],
    "precision": [train_precision, test_precision],
    "recall": [train_recall, test_recall]
}

metrics_df = pd.DataFrame(metrics, index=["train", "test"])

print('–ó–∞–ø–∏c–∞–ª–∏ –º–µ—Ç—Ä–∏–∫–∏ –≤ —Ç–∞–±–ª–∏—Ü—É')
print('–ó–∞–ø–∏c—ã–≤–∞–µ–º –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç—ã –∏ –≤–∞–∂–Ω–æ—Å—Ç–∏ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –≤ —Ç–∞–±–ª–∏—Ü—É')

importances = loaded_model.get_feature_importance()

# –°–æ–∑–¥–∞–µ–º DataFrame —Å –≤–∞–∂–Ω–æ—Å—Ç—å—é –ø—Ä–∏–∑–Ω–∞–∫–æ–≤
feature_importance_df = pd.DataFrame({
    'feature': X_train.columns.tolist() if hasattr(X_train, 'columns') else [f'feature_{i}' 
                                                                             for i in range(len(importances))],
    'importance': importances
})

print('–ó–∞–ø–∏—Å–∞–ª–∏ –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç—ã –∏ –≤–∞–∂–Ω–æ—Å—Ç–∏ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –≤ —Ç–∞–±–ª–∏—Ü—É')

–û—Ü–µ–Ω–∏–≤–∞–µ–º –º–æ–¥–µ–ª—å –Ω–∞ —Ç—Ä–µ–π–Ω–µ
	1	 282.42
	2	 283.7
	3	 274.99
	4	 12.9
	5	 10.79
	6	 3.57
	7	 0.91
	8	 3.33
	9	 3.42
–û—Ü–µ–Ω–∏–ª–∏ –º–æ–¥–µ–ª—å –Ω–∞ —Ç—Ä–µ–π–Ω–µ
–û—Ü–µ–Ω–∏–≤–∞–µ–º –º–æ–¥–µ–ª—å –Ω–∞ —Ç–µ—Å—Ç–µ
	10	 47.91
	11	 47.85
	12	 46.74
	13	 2.03
	14	 1.6
	15	 0.77
	16	 0.16
	17	 0.72
	18	 0.67
–û—Ü–µ–Ω–∏–ª–∏ –º–æ–¥–µ–ª—å –Ω–∞ —Ç–µ—Å—Ç–µ
–ó–∞–ø–∏c—ã–≤–∞–µ–º –º–µ—Ç—Ä–∏–∫–∏ –≤ —Ç–∞–±–ª–∏—Ü—É
–ó–∞–ø–∏c–∞–ª–∏ –º–µ—Ç—Ä–∏–∫–∏ –≤ —Ç–∞–±–ª–∏—Ü—É
–ó–∞–ø–∏c—ã–≤–∞–µ–º –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç—ã –∏ –≤–∞–∂–Ω–æ—Å—Ç–∏ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –≤ —Ç–∞–±–ª–∏—Ü—É
–ó–∞–ø–∏—Å–∞–ª–∏ –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç—ã –∏ –≤–∞–∂–Ω–æ—Å—Ç–∏ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –≤ —Ç–∞–±–ª–∏—Ü—É
CPU times: total: 12min 40s
Wall time: 17min 4s

In [19]:
%%time

# –í—ã–≤–æ–¥ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤
print("Feature Importance Table:")
display(feature_importance_df.sort_values(by='importance', ascending=False))

print("\nModel Metrics Table:")
display(metrics_df)

Feature Importance Table:

                feature  importance
7      city_countscaled   20.969818
8   country_countscaled    8.943775
1               post_id    7.641035
15      age_group_gt_40    6.763001
13      age_group_30_35    6.339306
2                 month    6.126927
16          exp_group_1    6.014658
17          exp_group_2    5.859274
14      age_group_35_40    4.519769
44          topic_sport    4.085843
24            tfidf_pc5    2.468269
43       topic_politics    2.045245
21            tfidf_pc2    1.873709
4                gender    1.377873
12      age_group_25_30    1.319114
22            tfidf_pc3    1.254206
45           topic_tech    0.799706
20            tfidf_pc1    0.748334
26            tfidf_pc7    0.686550
19          exp_group_4    0.674459
11      age_group_22_25    0.618173
38           tfidf_pc19    0.609525
36           tfidf_pc17    0.580036
23            tfidf_pc4    0.567540
29           tfidf_pc10    0.557500
27            tfidf_pc8    0.557448
37           tfidf_pc18    0.540806
28            tfidf_pc9    0.539006
25            tfidf_pc6    0.493345
30           tfidf_pc11    0.484196
10      age_group_20_22    0.482137
9       age_group_18_20    0.436398
18          exp_group_3    0.386698
35           tfidf_pc16    0.379842
34           tfidf_pc15    0.379377
39           tfidf_pc20    0.379039
31           tfidf_pc12    0.346320
33           tfidf_pc14    0.313284
42          topic_movie    0.276661
32           tfidf_pc13    0.161140
40          topic_covid    0.141932
0               user_id    0.096609
41  topic_entertainment    0.080449
3                   day    0.076742
5                    os    0.003802
6                source    0.001123

Model Metrics Table:

,model_score,auc_roc,pr_auc,f1,accuracy,precision,recall
train,0.585665,0.646158,0.159957,0.239910,0.585665,0.148273,0.628093
test,0.482189,0.622720,0.171750,0.253409,0.482189,0.153531,0.725150

CPU times: total: 31.2 ms
Wall time: 73.1 ms

## üíæ 7. –≠–∫—Å–ø–æ—Ä—Ç –æ–±—Ä–∞–±–æ—Ç–∞–Ω–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö –≤ PostgreSQL

### –°–æ–∑–¥–∞–≤–∞–µ–º—ã–µ —Ç–∞–±–ª–∏—Ü—ã:
1. `processed_user_data` - –æ–±—Ä–∞–±–æ—Ç–∞–Ω–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π
2. `processed_post_textML` - TF-IDF + —Ç–µ–º—ã –ø–æ—Å—Ç–æ–≤
3. `processed_feed_data_like` - –¥–∞–Ω–Ω—ã–µ –æ –ª–∞–π–∫–∞—Ö
4. `clear_post_text` - –∏—Å—Ö–æ–¥–Ω—ã–µ —Ç–µ–∫—Å—Ç—ã –ø–æ—Å—Ç–æ–≤

In [3]:
%%time

processed_user_data = pd.read_csv(PROCESSED_DATA_DIR / "processed_user_data.csv")
processed_post_text = pd.read_csv(PROCESSED_DATA_DIR / "processed_post_textML.csv")
feed_data_like = pd.read_csv(RAW_DATA_DIR / "feed_data_like.csv")
clear_post_text = pd.read_csv(RAW_DATA_DIR / "post_text.csv")

CPU times: total: 9.23 s
Wall time: 9.53 s

In [4]:
%%time

display(processed_user_data.info(),
        processed_post_text.info(),
        feed_data_like.info(),
        clear_post_text.info())

display(processed_user_data,
        processed_post_text,
        feed_data_like,
        clear_post_text)

<class 'pandas.DataFrame'>
RangeIndex: 163205 entries, 0 to 163204
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   user_id              163205 non-null  int64
 1   gender               163205 non-null  int64
 2   os                   163205 non-null  int64
 3   source               163205 non-null  int64
 4   city_countscaled     163205 non-null  float64
 5   country_countscaled  163205 non-null  float64
 6   age_group_18_20      163205 non-null  int64
 7   age_group_20_22      163205 non-null  int64
 8   age_group_22_25      163205 non-null  int64
 9   age_group_25_30      163205 non-null  int64
 10  age_group_30_35      163205 non-null  int64
 11  age_group_35_40      163205 non-null  int64
 12  age_group_gt_40      163205 non-null  int64
 13  exp_group_1          163205 non-null  int64
 14  exp_group_2          163205 non-null  int64
 15  exp_group_3          163205 non-null  int64
 16  exp_group_4          163205 non-null  int64
dtypes: float64(2), int64(15)
memory usage: 21.2 MB
<class 'pandas.DataFrame'>
RangeIndex: 7023 entries, 0 to 7022
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   post_id              7023 non-null   int64
 1   tfidf_pc1            7023 non-null   float64
 2   tfidf_pc2            7023 non-null   float64
 3   tfidf_pc3            7023 non-null   float64
 4   tfidf_pc4            7023 non-null   float64
 5   tfidf_pc5            7023 non-null   float64
 6   tfidf_pc6            7023 non-null   float64
 7   tfidf_pc7            7023 non-null   float64
 8   tfidf_pc8            7023 non-null   float64
 9   tfidf_pc9            7023 non-null   float64
 10  tfidf_pc10           7023 non-null   float64
 11  tfidf_pc11           7023 non-null   float64
 12  tfidf_pc12           7023 non-null   float64
 13  tfidf_pc13           7023 non-null   float64
 14  tfidf_pc14           7023 non-null   float64
 15  tfidf_pc15           7023 non-null   float64
 16  tfidf_pc16           7023 non-null   float64
 17  tfidf_pc17           7023 non-null   float64
 18  tfidf_pc18           7023 non-null   float64
 19  tfidf_pc19           7023 non-null   float64
 20  tfidf_pc20           7023 non-null   float64
 21  topic_covid          7023 non-null   int64
 22  topic_entertainment  7023 non-null   int64
 23  topic_movie          7023 non-null   int64
 24  topic_politics       7023 non-null   int64
 25  topic_sport          7023 non-null   int64
 26  topic_tech           7023 non-null   int64
dtypes: float64(20), int64(7)
memory usage: 1.4 MB
<class 'pandas.DataFrame'>
RangeIndex: 8206345 entries, 0 to 8206344
Data columns (total 5 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  str
 1   user_id    int64
 2   post_id    int64
 3   action     str
 4   target     int64
dtypes: int64(3), str(2)
memory usage: 313.0 MB
<class 'pandas.DataFrame'>
RangeIndex: 7023 entries, 0 to 7022
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   post_id  7023 non-null   int64
 1   text     7023 non-null   str
 2   topic    7023 non-null   str
dtypes: int64(1), str(2)
memory usage: 164.7 KB

None

None

None

None

,user_id,gender,os,source,city_countscaled,country_countscaled,age_group_18_20,age_group_20_22,age_group_22_25,age_group_25_30,age_group_30_35,age_group_35_40,age_group_gt_40,exp_group_1,exp_group_2,exp_group_3,exp_group_4
0,200,1,0,0,-0.492196,0.375419,0,0,0,0,1,0,0,0,0,1,0
1,201,0,0,0,-0.461974,0.375419,0,0,0,0,0,1,0,0,0,0,0
2,202,1,0,0,-0.435580,0.375419,0,0,0,0,0,0,0,0,0,0,1
3,203,0,1,0,2.496407,0.375419,1,0,0,0,0,0,0,1,0,0,0
4,204,0,0,0,-0.480572,0.375419,0,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163200,168548,0,0,1,-0.417118,0.375419,0,0,0,0,0,1,0,0,0,0,1
163201,168549,0,0,1,-0.409050,0.375419,1,0,0,0,0,0,0,0,1,0,0
163202,168550,1,0,1,-0.231818,0.375419,0,0,0,0,0,0,1,0,0,0,1
163203,168551,0,1,1,2.496407,0.375419,0,0,0,0,0,1,0,0,0,1,0
163204,168552,1,0,1,-0.482213,0.375419,0,0,0,0,0,0,0,0,0,0,1

,post_id,tfidf_pc1,tfidf_pc2,tfidf_pc3,tfidf_pc4,tfidf_pc5,tfidf_pc6,tfidf_pc7,tfidf_pc8,tfidf_pc9,...,tfidf_pc17,tfidf_pc18,tfidf_pc19,tfidf_pc20,topic_covid,topic_entertainment,topic_movie,topic_politics,topic_sport,topic_tech
0,1,-0.218558,0.601688,-0.003158,0.056255,0.385736,-0.339179,0.178276,-0.000519,-0.013779,...,0.001073,0.103103,-0.051594,0.045501,0,0,0,0,0,0
1,2,-0.205009,0.397279,-0.018611,-0.105986,-0.012848,0.034922,0.362120,-0.094890,-0.078602,...,-0.011842,-0.027673,0.127649,0.109420,0,0,0,0,0,0
2,3,-0.226079,0.351299,-0.012396,-0.002268,-0.168320,0.031515,0.210111,-0.029437,0.051842,...,-0.144802,0.108878,0.075442,0.155740,0,0,0,0,0,0
3,4,-0.221130,0.495558,-0.057405,0.098004,-0.013409,0.171581,-0.240566,-0.140888,0.025036,...,-0.125282,0.012668,-0.063527,0.055483,0,0,0,0,0,0
4,5,-0.226907,0.551035,-0.022373,0.179819,0.045989,0.142870,-0.191710,-0.069274,-0.299033,...,-0.053152,0.039702,-0.053253,-0.210970,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,7315,-0.292540,-0.217610,-0.397587,0.098741,-0.021369,-0.028251,-0.066127,0.024365,0.031856,...,0.082184,-0.143099,0.087293,0.011876,0,0,1,0,0,0
7019,7316,-0.270304,-0.438322,-0.335058,0.266671,0.026826,0.065955,0.118212,-0.079184,0.038594,...,0.159207,-0.022844,-0.046375,0.246042,0,0,1,0,0,0
7020,7317,-0.257575,-0.270416,0.536110,0.051263,-0.057736,0.034811,0.142500,-0.110504,-0.018741,...,-0.122173,-0.149795,-0.034521,-0.028334,0,0,1,0,0,0
7021,7318,-0.259425,-0.168820,0.419927,-0.054620,-0.124318,0.017562,0.156697,-0.120087,-0.105272,...,-0.148261,0.159995,-0.136097,-0.119240,0,0,1,0,0,0
7022,7319,-0.232369,-0.340943,0.052071,0.100194,0.057006,0.003658,0.167517,-0.091822,-0.001564,...,0.045706,0.043824,0.103844,-0.067396,0,0,1,0,0,0

                   timestamp  user_id  post_id action  target
0        2021-12-19 21:58:49    72194     2323   like       0
1        2021-11-20 18:36:14   162059     4190   like       0
2        2021-11-20 18:46:11   162059     2033   like       0
3        2021-11-20 18:52:07   162059     1581   like       0
4        2021-11-20 18:59:02   162059     1172   like       0
...                      ...      ...      ...    ...     ...
8206340  2021-12-19 21:44:12    72194      404   like       0
8206341  2021-12-19 21:50:35    72194     5028   like       0
8206342  2021-12-19 21:51:05    72194     3876   like       0
8206343  2021-12-19 21:53:17    72194     7129   like       0
8206344  2021-12-19 21:54:58    72194     5867   like       0

[8206345 rows x 5 columns]

      post_id                                               text     topic
0           1  UK economy facing major risks\n\nThe UK manufa...  business
1           2  Aids and climate top Davos agenda\n\nClimate c...  business
2           3  Asian quake hits European shares\n\nShares in ...  business
3           4  India power shares jump on debut\n\nShares in ...  business
4           5  Lacroix label bought by US firm\n\nLuxury good...  business
...       ...                                                ...       ...
7018     7315  OK, I would not normally watch a Farrelly brot...     movie
7019     7316  I give this movie 2 stars purely because of it...     movie
7020     7317  I cant believe this film was allowed to be mad...     movie
7021     7318  The version I saw of this film was the Blockbu...     movie
7022     7319  Piece of subtle art. Maybe a masterpiece. Doub...     movie

[7023 rows x 3 columns]

CPU times: total: 109 ms
Wall time: 142 ms

In [5]:
%%time

feed_data_like['timestamp'] = pd.to_datetime(feed_data_like['timestamp'])
feed_data_like.sort_values(by='timestamp', ascending=True, inplace=True)
feed_data_like.drop(['timestamp', 'action', 'target'], axis=1, inplace=True)

CPU times: total: 7.77 s
Wall time: 7.95 s

In [6]:
%%time

feed_data_like.to_csv(PROCESSED_DATA_DIR / "processed_feed_data_like.csv", index=False)

CPU times: total: 8.23 s
Wall time: 8.53 s

In [7]:
%%time

processed_feed_data_like = pd.read_csv(PROCESSED_DATA_DIR / "processed_feed_data_like.csv")

CPU times: total: 2.97 s
Wall time: 3.39 s

In [8]:
%%time

display(processed_user_data.info(),
        processed_post_text.info(),
        processed_feed_data_like.info(),
        clear_post_text.info())

display(processed_user_data,
        processed_post_text,
        processed_feed_data_like,
        clear_post_text)

<class 'pandas.DataFrame'>
RangeIndex: 163205 entries, 0 to 163204
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   user_id              163205 non-null  int64
 1   gender               163205 non-null  int64
 2   os                   163205 non-null  int64
 3   source               163205 non-null  int64
 4   city_countscaled     163205 non-null  float64
 5   country_countscaled  163205 non-null  float64
 6   age_group_18_20      163205 non-null  int64
 7   age_group_20_22      163205 non-null  int64
 8   age_group_22_25      163205 non-null  int64
 9   age_group_25_30      163205 non-null  int64
 10  age_group_30_35      163205 non-null  int64
 11  age_group_35_40      163205 non-null  int64
 12  age_group_gt_40      163205 non-null  int64
 13  exp_group_1          163205 non-null  int64
 14  exp_group_2          163205 non-null  int64
 15  exp_group_3          163205 non-null  int64
 16  exp_group_4          163205 non-null  int64
dtypes: float64(2), int64(15)
memory usage: 21.2 MB
<class 'pandas.DataFrame'>
RangeIndex: 7023 entries, 0 to 7022
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   post_id              7023 non-null   int64
 1   tfidf_pc1            7023 non-null   float64
 2   tfidf_pc2            7023 non-null   float64
 3   tfidf_pc3            7023 non-null   float64
 4   tfidf_pc4            7023 non-null   float64
 5   tfidf_pc5            7023 non-null   float64
 6   tfidf_pc6            7023 non-null   float64
 7   tfidf_pc7            7023 non-null   float64
 8   tfidf_pc8            7023 non-null   float64
 9   tfidf_pc9            7023 non-null   float64
 10  tfidf_pc10           7023 non-null   float64
 11  tfidf_pc11           7023 non-null   float64
 12  tfidf_pc12           7023 non-null   float64
 13  tfidf_pc13           7023 non-null   float64
 14  tfidf_pc14           7023 non-null   float64
 15  tfidf_pc15           7023 non-null   float64
 16  tfidf_pc16           7023 non-null   float64
 17  tfidf_pc17           7023 non-null   float64
 18  tfidf_pc18           7023 non-null   float64
 19  tfidf_pc19           7023 non-null   float64
 20  tfidf_pc20           7023 non-null   float64
 21  topic_covid          7023 non-null   int64
 22  topic_entertainment  7023 non-null   int64
 23  topic_movie          7023 non-null   int64
 24  topic_politics       7023 non-null   int64
 25  topic_sport          7023 non-null   int64
 26  topic_tech           7023 non-null   int64
dtypes: float64(20), int64(7)
memory usage: 1.4 MB
<class 'pandas.DataFrame'>
RangeIndex: 8206345 entries, 0 to 8206344
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  int64
 1   post_id  int64
dtypes: int64(2)
memory usage: 125.2 MB
<class 'pandas.DataFrame'>
RangeIndex: 7023 entries, 0 to 7022
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   post_id  7023 non-null   int64
 1   text     7023 non-null   str
 2   topic    7023 non-null   str
dtypes: int64(1), str(2)
memory usage: 164.7 KB

None

None

None

None

,user_id,gender,os,source,city_countscaled,country_countscaled,age_group_18_20,age_group_20_22,age_group_22_25,age_group_25_30,age_group_30_35,age_group_35_40,age_group_gt_40,exp_group_1,exp_group_2,exp_group_3,exp_group_4
0,200,1,0,0,-0.492196,0.375419,0,0,0,0,1,0,0,0,0,1,0
1,201,0,0,0,-0.461974,0.375419,0,0,0,0,0,1,0,0,0,0,0
2,202,1,0,0,-0.435580,0.375419,0,0,0,0,0,0,0,0,0,0,1
3,203,0,1,0,2.496407,0.375419,1,0,0,0,0,0,0,1,0,0,0
4,204,0,0,0,-0.480572,0.375419,0,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163200,168548,0,0,1,-0.417118,0.375419,0,0,0,0,0,1,0,0,0,0,1
163201,168549,0,0,1,-0.409050,0.375419,1,0,0,0,0,0,0,0,1,0,0
163202,168550,1,0,1,-0.231818,0.375419,0,0,0,0,0,0,1,0,0,0,1
163203,168551,0,1,1,2.496407,0.375419,0,0,0,0,0,1,0,0,0,1,0
163204,168552,1,0,1,-0.482213,0.375419,0,0,0,0,0,0,0,0,0,0,1

,post_id,tfidf_pc1,tfidf_pc2,tfidf_pc3,tfidf_pc4,tfidf_pc5,tfidf_pc6,tfidf_pc7,tfidf_pc8,tfidf_pc9,...,tfidf_pc17,tfidf_pc18,tfidf_pc19,tfidf_pc20,topic_covid,topic_entertainment,topic_movie,topic_politics,topic_sport,topic_tech
0,1,-0.218558,0.601688,-0.003158,0.056255,0.385736,-0.339179,0.178276,-0.000519,-0.013779,...,0.001073,0.103103,-0.051594,0.045501,0,0,0,0,0,0
1,2,-0.205009,0.397279,-0.018611,-0.105986,-0.012848,0.034922,0.362120,-0.094890,-0.078602,...,-0.011842,-0.027673,0.127649,0.109420,0,0,0,0,0,0
2,3,-0.226079,0.351299,-0.012396,-0.002268,-0.168320,0.031515,0.210111,-0.029437,0.051842,...,-0.144802,0.108878,0.075442,0.155740,0,0,0,0,0,0
3,4,-0.221130,0.495558,-0.057405,0.098004,-0.013409,0.171581,-0.240566,-0.140888,0.025036,...,-0.125282,0.012668,-0.063527,0.055483,0,0,0,0,0,0
4,5,-0.226907,0.551035,-0.022373,0.179819,0.045989,0.142870,-0.191710,-0.069274,-0.299033,...,-0.053152,0.039702,-0.053253,-0.210970,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,7315,-0.292540,-0.217610,-0.397587,0.098741,-0.021369,-0.028251,-0.066127,0.024365,0.031856,...,0.082184,-0.143099,0.087293,0.011876,0,0,1,0,0,0
7019,7316,-0.270304,-0.438322,-0.335058,0.266671,0.026826,0.065955,0.118212,-0.079184,0.038594,...,0.159207,-0.022844,-0.046375,0.246042,0,0,1,0,0,0
7020,7317,-0.257575,-0.270416,0.536110,0.051263,-0.057736,0.034811,0.142500,-0.110504,-0.018741,...,-0.122173,-0.149795,-0.034521,-0.028334,0,0,1,0,0,0
7021,7318,-0.259425,-0.168820,0.419927,-0.054620,-0.124318,0.017562,0.156697,-0.120087,-0.105272,...,-0.148261,0.159995,-0.136097,-0.119240,0,0,1,0,0,0
7022,7319,-0.232369,-0.340943,0.052071,0.100194,0.057006,0.003658,0.167517,-0.091822,-0.001564,...,0.045706,0.043824,0.103844,-0.067396,0,0,1,0,0,0

         user_id  post_id
0         156604      573
1         142997     6445
2         122594     4554
3           8663     3837
4          94081     5671
...          ...      ...
8206340   113194     1629
8206341    84572     6836
8206342   140395     4485
8206343    33284     2093
8206344    40093      985

[8206345 rows x 2 columns]

      post_id                                               text     topic
0           1  UK economy facing major risks\n\nThe UK manufa...  business
1           2  Aids and climate top Davos agenda\n\nClimate c...  business
2           3  Asian quake hits European shares\n\nShares in ...  business
3           4  India power shares jump on debut\n\nShares in ...  business
4           5  Lacroix label bought by US firm\n\nLuxury good...  business
...       ...                                                ...       ...
7018     7315  OK, I would not normally watch a Farrelly brot...     movie
7019     7316  I give this movie 2 stars purely because of it...     movie
7020     7317  I cant believe this film was allowed to be mad...     movie
7021     7318  The version I saw of this film was the Blockbu...     movie
7022     7319  Piece of subtle art. Maybe a masterpiece. Doub...     movie

[7023 rows x 3 columns]

CPU times: total: 125 ms
Wall time: 115 ms

In [9]:
%%time

load_dotenv()
SQLALCHEMY_DATABASE_URL = os.getenv("SQLALCHEMY_DATABASE_URL")

engine = create_engine(SQLALCHEMY_DATABASE_URL)

CPU times: total: 62.5 ms
Wall time: 102 ms

In [10]:
%%time

with engine.begin() as conn:
    conn.execute(text("""
        DROP TABLE IF EXISTS processed_user_data;
        DROP TABLE IF EXISTS processed_post_text;
        DROP TABLE IF EXISTS processed_feed_data_like;
        DROP TABLE IF EXISTS clear_post_text;
    """))

CPU times: total: 0 ns
Wall time: 2.83 s

In [11]:
%%time

with engine.begin() as conn:
    conn.execute(text("""
        CREATE TABLE processed_user_data (
            user_id BIGINT,
            gender INT,
            os INT,
            source INT,
            city_countscaled FLOAT,
            country_countscaled FLOAT,
            age_group_18_20 INT,
            age_group_20_22 INT,
            age_group_22_25 INT,
            age_group_25_30 INT,
            age_group_30_35 INT,
            age_group_35_40 INT,
            age_group_gt_40 INT,
            exp_group_1 INT,
            exp_group_2 INT,
            exp_group_3 INT,
            exp_group_4 INT
        );
    """))

CPU times: total: 0 ns
Wall time: 314 ms

In [12]:
%%time

with engine.begin() as conn:
    conn.execute(text("""
        CREATE TABLE processed_post_text (
            post_id BIGINT,
            tfidf_pc1 FLOAT,
            tfidf_pc2 FLOAT,
            tfidf_pc3 FLOAT,
            tfidf_pc4 FLOAT,
            tfidf_pc5 FLOAT,
            tfidf_pc6 FLOAT,
            tfidf_pc7 FLOAT,
            tfidf_pc8 FLOAT,
            tfidf_pc9 FLOAT,
            tfidf_pc10 FLOAT,
            tfidf_pc11 FLOAT,
            tfidf_pc12 FLOAT,
            tfidf_pc13 FLOAT,
            tfidf_pc14 FLOAT,
            tfidf_pc15 FLOAT,
            tfidf_pc16 FLOAT,
            tfidf_pc17 FLOAT,
            tfidf_pc18 FLOAT,
            tfidf_pc19 FLOAT,
            tfidf_pc20 FLOAT,
            topic_covid INT,
            topic_entertainment INT,
            topic_movie INT,
            topic_politics INT,
            topic_sport INT,
            topic_tech INT
        );
    """))

CPU times: total: 15.6 ms
Wall time: 309 ms

In [13]:
%%time

with engine.begin() as conn:
    conn.execute(text("""
        CREATE TABLE processed_feed_data_like (
            user_id BIGINT,
            post_id BIGINT
        );
    """))

CPU times: total: 0 ns
Wall time: 303 ms

In [14]:
%%time

with engine.begin() as conn:
    conn.execute(text("""
        CREATE TABLE clear_post_text (
            post_id BIGINT,
            text TEXT,
            topic TEXT
        );
    """))

CPU times: total: 0 ns
Wall time: 334 ms

In [15]:
%%time

def copy_dataframe(df, table_name, conn_str):
    conn = psycopg2.connect(conn_str)
    cur = conn.cursor()

    buffer = StringIO()
    df.to_csv(buffer, index=False, header=False)
    buffer.seek(0)

    cur.copy_expert(
        f"COPY {table_name} FROM STDIN WITH CSV",
        buffer
    )

    conn.commit()
    cur.close()
    conn.close()

CPU times: total: 0 ns
Wall time: 12.2 Œºs

In [16]:
t0 = time.time()
copy_dataframe(processed_user_data, "processed_user_data", SQLALCHEMY_DATABASE_URL)
t1 = time.time()
print(round(t1 - t0, 2))

3.75

In [17]:
t2 = time.time()
copy_dataframe(processed_post_text, "processed_post_text", SQLALCHEMY_DATABASE_URL)
t3 = time.time()
print(round(t3 - t2, 2))

1.99

In [18]:
t4 = time.time()
copy_dataframe(processed_feed_data_like, "processed_feed_data_like", SQLALCHEMY_DATABASE_URL)
t5 = time.time()
print(round(t5 - t4, 2))

16.83

In [19]:
t6 = time.time()
copy_dataframe(clear_post_text, "clear_post_text", SQLALCHEMY_DATABASE_URL)
t7 = time.time()
print(round(t7 - t6, 2))

2.57

In [20]:
%%time

def copy_query_to_df(query, conn_str):
    conn = psycopg2.connect(conn_str)
    cur = conn.cursor()

    buffer = StringIO()
    cur.copy_expert(f"COPY ({query}) TO STDOUT WITH CSV HEADER", buffer)
    buffer.seek(0)

    df = pd.read_csv(buffer)

    cur.close()
    conn.close()
    return df

CPU times: total: 0 ns
Wall time: 10.3 Œºs

In [21]:
t0 = time.time()
processed_user_data_from_db = copy_query_to_df(
    "SELECT * FROM processed_user_data",
    SQLALCHEMY_DATABASE_URL
)
t1 = time.time()
print(round(t1 - t0, 2))

7.19

In [22]:
t2 = time.time()
processed_post_text_from_db = copy_query_to_df(
    "SELECT * FROM processed_post_text",
    SQLALCHEMY_DATABASE_URL
)
t3 = time.time()
print(round(t3 - t2, 2))

2.09

In [23]:
t4 = time.time()
processed_feed_data_like_from_db = copy_query_to_df(
    "SELECT * FROM processed_feed_data_like LIMIT 100000",
    SQLALCHEMY_DATABASE_URL
)
t5 = time.time()
print(round(t5 - t4, 2))

1.64

In [24]:
t6 = time.time()
clear_post_text_from_db = copy_query_to_df(
    "SELECT * FROM clear_post_text",
    SQLALCHEMY_DATABASE_URL
)
t7 = time.time()
print(round(t7 - t6, 2))

5.58

In [25]:
display(processed_user_data_from_db.info(),
        processed_post_text_from_db.info(),
        processed_feed_data_like_from_db.info(),
        clear_post_text_from_db.info())

display(processed_user_data_from_db,
        processed_post_text_from_db,
        processed_feed_data_like_from_db,
        clear_post_text_from_db)

<class 'pandas.DataFrame'>
RangeIndex: 163205 entries, 0 to 163204
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   user_id              163205 non-null  int64
 1   gender               163205 non-null  int64
 2   os                   163205 non-null  int64
 3   source               163205 non-null  int64
 4   city_countscaled     163205 non-null  float64
 5   country_countscaled  163205 non-null  float64
 6   age_group_18_20      163205 non-null  int64
 7   age_group_20_22      163205 non-null  int64
 8   age_group_22_25      163205 non-null  int64
 9   age_group_25_30      163205 non-null  int64
 10  age_group_30_35      163205 non-null  int64
 11  age_group_35_40      163205 non-null  int64
 12  age_group_gt_40      163205 non-null  int64
 13  exp_group_1          163205 non-null  int64
 14  exp_group_2          163205 non-null  int64
 15  exp_group_3          163205 non-null  int64
 16  exp_group_4          163205 non-null  int64
dtypes: float64(2), int64(15)
memory usage: 21.2 MB
<class 'pandas.DataFrame'>
RangeIndex: 7023 entries, 0 to 7022
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   post_id              7023 non-null   int64
 1   tfidf_pc1            7023 non-null   float64
 2   tfidf_pc2            7023 non-null   float64
 3   tfidf_pc3            7023 non-null   float64
 4   tfidf_pc4            7023 non-null   float64
 5   tfidf_pc5            7023 non-null   float64
 6   tfidf_pc6            7023 non-null   float64
 7   tfidf_pc7            7023 non-null   float64
 8   tfidf_pc8            7023 non-null   float64
 9   tfidf_pc9            7023 non-null   float64
 10  tfidf_pc10           7023 non-null   float64
 11  tfidf_pc11           7023 non-null   float64
 12  tfidf_pc12           7023 non-null   float64
 13  tfidf_pc13           7023 non-null   float64
 14  tfidf_pc14           7023 non-null   float64
 15  tfidf_pc15           7023 non-null   float64
 16  tfidf_pc16           7023 non-null   float64
 17  tfidf_pc17           7023 non-null   float64
 18  tfidf_pc18           7023 non-null   float64
 19  tfidf_pc19           7023 non-null   float64
 20  tfidf_pc20           7023 non-null   float64
 21  topic_covid          7023 non-null   int64
 22  topic_entertainment  7023 non-null   int64
 23  topic_movie          7023 non-null   int64
 24  topic_politics       7023 non-null   int64
 25  topic_sport          7023 non-null   int64
 26  topic_tech           7023 non-null   int64
dtypes: float64(20), int64(7)
memory usage: 1.4 MB
<class 'pandas.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  100000 non-null  int64
 1   post_id  100000 non-null  int64
dtypes: int64(2)
memory usage: 1.5 MB
<class 'pandas.DataFrame'>
RangeIndex: 7023 entries, 0 to 7022
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   post_id  7023 non-null   int64
 1   text     7023 non-null   str
 2   topic    7023 non-null   str
dtypes: int64(1), str(2)
memory usage: 164.7 KB

None

None

None

None

,user_id,gender,os,source,city_countscaled,country_countscaled,age_group_18_20,age_group_20_22,age_group_22_25,age_group_25_30,age_group_30_35,age_group_35_40,age_group_gt_40,exp_group_1,exp_group_2,exp_group_3,exp_group_4
0,200,1,0,0,-0.492196,0.375419,0,0,0,0,1,0,0,0,0,1,0
1,201,0,0,0,-0.461974,0.375419,0,0,0,0,0,1,0,0,0,0,0
2,202,1,0,0,-0.435580,0.375419,0,0,0,0,0,0,0,0,0,0,1
3,203,0,1,0,2.496407,0.375419,1,0,0,0,0,0,0,1,0,0,0
4,204,0,0,0,-0.480572,0.375419,0,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163200,168548,0,0,1,-0.417118,0.375419,0,0,0,0,0,1,0,0,0,0,1
163201,168549,0,0,1,-0.409050,0.375419,1,0,0,0,0,0,0,0,1,0,0
163202,168550,1,0,1,-0.231818,0.375419,0,0,0,0,0,0,1,0,0,0,1
163203,168551,0,1,1,2.496407,0.375419,0,0,0,0,0,1,0,0,0,1,0
163204,168552,1,0,1,-0.482213,0.375419,0,0,0,0,0,0,0,0,0,0,1

,post_id,tfidf_pc1,tfidf_pc2,tfidf_pc3,tfidf_pc4,tfidf_pc5,tfidf_pc6,tfidf_pc7,tfidf_pc8,tfidf_pc9,...,tfidf_pc17,tfidf_pc18,tfidf_pc19,tfidf_pc20,topic_covid,topic_entertainment,topic_movie,topic_politics,topic_sport,topic_tech
0,1,-0.218558,0.601688,-0.003158,0.056255,0.385736,-0.339179,0.178276,-0.000519,-0.013779,...,0.001073,0.103103,-0.051594,0.045501,0,0,0,0,0,0
1,2,-0.205009,0.397279,-0.018611,-0.105986,-0.012848,0.034922,0.362120,-0.094890,-0.078602,...,-0.011842,-0.027673,0.127649,0.109420,0,0,0,0,0,0
2,3,-0.226079,0.351299,-0.012396,-0.002268,-0.168320,0.031515,0.210111,-0.029437,0.051842,...,-0.144802,0.108878,0.075442,0.155740,0,0,0,0,0,0
3,4,-0.221130,0.495558,-0.057405,0.098004,-0.013409,0.171581,-0.240566,-0.140888,0.025036,...,-0.125282,0.012668,-0.063527,0.055483,0,0,0,0,0,0
4,5,-0.226907,0.551035,-0.022373,0.179819,0.045989,0.142870,-0.191710,-0.069274,-0.299033,...,-0.053152,0.039702,-0.053253,-0.210970,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,7315,-0.292540,-0.217610,-0.397587,0.098741,-0.021369,-0.028251,-0.066127,0.024365,0.031856,...,0.082184,-0.143099,0.087293,0.011876,0,0,1,0,0,0
7019,7316,-0.270304,-0.438322,-0.335058,0.266671,0.026826,0.065955,0.118212,-0.079184,0.038594,...,0.159207,-0.022844,-0.046375,0.246042,0,0,1,0,0,0
7020,7317,-0.257575,-0.270416,0.536110,0.051263,-0.057736,0.034811,0.142500,-0.110504,-0.018741,...,-0.122173,-0.149795,-0.034521,-0.028334,0,0,1,0,0,0
7021,7318,-0.259425,-0.168820,0.419927,-0.054620,-0.124318,0.017562,0.156697,-0.120087,-0.105272,...,-0.148261,0.159995,-0.136097,-0.119240,0,0,1,0,0,0
7022,7319,-0.232369,-0.340943,0.052071,0.100194,0.057006,0.003658,0.167517,-0.091822,-0.001564,...,0.045706,0.043824,0.103844,-0.067396,0,0,1,0,0,0

       user_id  post_id
0       156604      573
1       142997     6445
2       122594     4554
3         8663     3837
4        94081     5671
...        ...      ...
99995   137312     1428
99996   130512     1449
99997    95202     5100
99998     2977     6657
99999   110112      206

[100000 rows x 2 columns]

      post_id                                               text     topic
0           1  UK economy facing major risks\n\nThe UK manufa...  business
1           2  Aids and climate top Davos agenda\n\nClimate c...  business
2           3  Asian quake hits European shares\n\nShares in ...  business
3           4  India power shares jump on debut\n\nShares in ...  business
4           5  Lacroix label bought by US firm\n\nLuxury good...  business
...       ...                                                ...       ...
7018     7314  Although the likeliness of someone focusing on...     movie
7019     7315  OK, I would not normally watch a Farrelly brot...     movie
7020     7317  I cant believe this film was allowed to be mad...     movie
7021     7318  The version I saw of this film was the Blockbu...     movie
7022     7319  Piece of subtle art. Maybe a masterpiece. Doub...     movie

[7023 rows x 3 columns]

## üéØ 8. –í—ã–≤–æ–¥—ã –∏ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã

### –ö–ª—é—á–µ–≤—ã–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã:
1. **–ö–∞—á–µ—Å—Ç–≤–æ –º–æ–¥–µ–ª–∏ (ML)**: AUC-ROC = 0.62-0.65
2. **–ö–∞—á–µ—Å—Ç–≤–æ –º–æ–¥–µ–ª–∏ (prod)**: HitRate@5 = 0.600
3. **–°—Ä–µ–¥–Ω–µ–µ –≤—Ä–µ–º—è —Ä–∞–±–æ—Ç—ã –æ–¥–Ω–æ–≥–æ –∑–∞–ø—Ä–æ—Å–∞:** 0,5 —Å–µ–∫—É–Ω–¥